<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item"
			style="background-image: url(/static/img/landing/3-4.jpg); background-repeat: no-repeat; background-size: cover;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="hs-text">
							<h2><span style="color: white">You are logged in.</span></h2>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
<!-- Hero section end -->