<!-- begin #page-container -->
<div id="page-container" class="fade">
	<!-- begin register -->
	<div class="register register-with-news-feed">
		<!-- begin news-feed -->
		<div class="news-feed">
			<div class="news-image" style="background-image: url(/static/img/login-bg/login-bg-17.jpg)"></div>
			<div class="news-caption">
				<h4 class="caption-title"><b>Social</b> Housing Onboarding App</h4>
				<p>
					Applying for accomodation has never been this easy
				</p>
			</div>
		</div>
		<!-- end news-feed -->
		<!-- begin right-content -->
		<div class="right-content">
			<!-- begin register-header -->
			<h1 class="register-header">
				Sign Up
				<small>Create your Social Housing Applicant Account. It’s free and always will be.</small>
			</h1>
			<!-- end register-header -->
			<!-- begin register-content -->
			<?php if($SESSION['message']['error']) { ?>
			<div class="row-md-12">
				<div class="alert alert-danger">
					<h5><b> <?= $SESSION['message']['error'] ?></b></h5>

					<?php if($SESSION['firstnameError']) { ?> <li> <?= $SESSION['firstnameError'] ?> </li>
					<?php } ?>
					<?php if($SESSION['lastnameError']) { ?> <li> <?= $SESSION['lastnameError'] ?> </li>
					<?php } ?>
					<?php if($SESSION['emailError']) { ?> <li> <?= $SESSION['emailError'] ?> </li>
					<?php } ?>
					<?php if($SESSION['phoneError']) { ?> <li> <?= $SESSION['phoneError'] ?> </li>
					<?php } ?>
					<?php if($SESSION['passwordError']) { ?> <li> <?= $SESSION['passwordError'] ?> </li>
					<?php } ?>
					<?php if($SESSION['agreementError']) { ?> <li> <?= $SESSION['agreementError'] ?> </li>
					<?php } ?>

				</div>
			</div>
			<?php } ?>


			<div class="register-content">
				<form action="/register" method="POST" class="margin-bottom-0" value="{{ @CSRF }}">
					<label class="control-label">Names <span class="text-danger">*</span></label>
					<div class="row row-space-10">
						<div class="col-md-6 m-b-15">

							<input name="firstName" type="text" value="<?= $SESSION['firstname'] ?>"
								class="form-control" placeholder="First name" required="">
						</div>
						<div class="col-md-6 m-b-15">
							<input name="lastName" type="text" value="<?= $SESSION['lastname'] ?>" class="form-control"
								placeholder="Last name" required="">
						</div>
					</div>
					<label class="control-label">Email <span class="text-danger">*</span></label>
					<div class="row m-b-15">
						<div class="col-md-12">
							<input name="email" type="text" value="<?= $SESSION['email'] ?>" class="form-control"
								placeholder="Email address" required="">
						</div>
					</div>
					<label class="control-label">Phone Number<span class="text-danger">*</span></label>
					<div class="row m-b-15">
						<div class="col-md-12">
							<input name="phone" type="text" value="<?= $SESSION['phone'] ?>" class="form-control"
								placeholder="Phone" required="">
						</div>
					</div>

					<label class="control-label">Password <span class="text-danger">*</span></label>
					<div class="row m-b-15">
						<div class="col-md-12">
							<input name="password" type="password" class="form-control" placeholder="Password"
								required="">
						</div>
					</div>
					<label class="control-label">Confirm Password <span class="text-danger">*</span></label>
					<div class="row m-b-15">
						<div class="col-md-12">
							<input name="password_confirm" type="password" class="form-control"
								placeholder="Confirm Password" required="">
						</div>
					</div>

					<div class="checkbox checkbox-css m-b-30">
						<div class="checkbox checkbox-css m-b-30">
							<input type="checkbox" id="agreement" name="agreement" value="1">
							<label for="agreement">
								By clicking Sign Up, you agree to our <a href="">Terms</a> and that you have read our <a
									href="">Data Policy</a>, including our <a href="">Cookie Use</a>.
							</label>
						</div>
					</div>
					<div class="register-buttons">
						<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
					</div>
					<div class="m-t-30 m-b-30 p-b-30">
						Already a member? Click <a href="/login">here</a> to login.
					</div>
					<hr>
					<p class="text-center mb-0">
						&copy; Social Housing All Right Reserved 2020
					</p>
				</form>
			</div>
			<!-- end register-content -->
		</div>
		<!-- end right-content -->
	</div>
	<!-- end register -->


	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->