<!-- begin #page-container -->
<div id="page-container" class="fade">
	<!-- begin login -->
	<div class="login login-v2" data-pageload-addclass="animated fadeIn">
		<!-- begin brand -->
		<div class="login-header">
			<div class="brand">
				<span class="logo"></span> <b>Social Housing</b> <br>Forgot Password
				<!-- <small>Let's Go</small> -->
			</div>
			<div class="icon">
				<i class="fa fa-lock"></i>
			</div>


		</div>
		<!-- end brand -->
		<!-- begin login-content -->
		<div class="login-content">
			<form action="/password/reset" method="POST" class="margin-bottom-0" value="{{ @CSRF }}">
				<div class=" form-group m-b-20">
					<input type="email" name="email" class="form-control form-control-lg" placeholder="Email Address"
						required="">
				</div>
				<div class="checkbox checkbox-css m-b-20">
					<input name="remember_checkbox" type="checkbox" id="remember_checkbox">
					<label for="remember_checkbox">
						Remember Me
					</label>
				</div>


				<?php if($SESSION['message']['msg']) { ?>
				<div class="row-md-12">
					<div class="alert alert-<?= $SESSION['message']['alert'] ?>">
						<!-- <button type="button" class="close" data-dismiss="alert" area-hidden="true"> &times;
							</button> -->
						<b> <?= $SESSION['message']['msg'] ?></b>
					</div>
				</div>
				<?php } ?>




				<div class="login-buttons">
					<button type="submit" class="btn btn-success btn-block btn-lg">Reset</button>
				</div>
				<div class="m-t-20">
					Don't have an account? <a href="/register">Register Now</a> | <a href="/password/reset">Forgot
						Password</a>
				</div>
			</form>
		</div>
		<!-- end login-content -->
	</div>
	<!-- end login -->

	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->
<script type="text/javascript">
	sessionStorage.setItem('hasAlreadyStarted', 0);
	sessionStorage.setItem('tourDone', 0);
</script>