<!-- begin #page-container -->
<div id="page-container" class="fade">
	<!-- begin login -->
	<div class="login login-v2" data-pageload-addclass="animated fadeIn">
		<!-- begin brand -->
		<div class="login-header">
			<div class="brand">
				<span class="logo"></span> <b>Social Housing</b> <br>Verify Email
				<!-- <small>Let's Go</small> -->
			</div>
			<div class="icon">
				<i class="fa fa-lock"></i>
			</div>


		</div>
		<!-- end brand -->
		<!-- begin login-content -->
		<div class="login-content">
			<form action="/verify/<?= $email ?>" method="POST" class="margin-bottom-0" value="{{ @CSRF }}">

				<div class="form-group m-b-20">
					<input type="email" name="email" value="<?= $email ?>" class="form-control form-control-lg"
						placeholder="email" readonly required="">
				</div>

				<div class=" form-group m-b-20">
					<input type="text" name="verificationCode" class="form-control form-control-lg"
						placeholder="Verification Code" required="">
				</div>

				<?php if($SESSION['message']['msg']) { ?>
				<div class="row-md-12">
					<div class="alert alert-<?= $SESSION['message']['alert'] ?>">
						<b> <?= $SESSION['message']['msg'] ?></b>
					</div>
				</div>
				<?php } ?>

				<div class="login-buttons">
					<button type="submit" class="btn btn-success btn-block btn-lg">Verify Email.</button>
				</div>

			</form>
		</div>
		<!-- end login-content -->
	</div>
	<!-- end login -->

	<!-- begin scroll to top btn -->
	<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
			class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
</div>
<!-- end page container -->