<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Users</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">Users</h1>
	<!-- end page-header -->

	<!-- begin page-header -->
	<h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Add User</a>
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Users</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Email</th>
								<th class="text-nowrap">Phone</th>
								<th class="text-nowrap">isDeleted</th>
								<th class="text-nowrap">Date Created</th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td>{{@value.firstName}} {{@value.lastName}}</td>
									<td>{{@value.email}}</td>
									<td>{{@value.phone}}</td>
									<td>{{@value.isDeleted}}</td>
									<td width="240">
										<a href="/admin/users/delete/{{@value.id}}" class="btn btn-xs btn-danger pull-right">
											<i class="fa fa-trash"></i> Delete
										</a>
										<a href="/admin/users/update/{{@value.id}}" class="btn btn-xs btn-primary">
											<i class="fa fa-edit"></i> Edit
										</a>

									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" onsubmit="return checkForm();" action="/admin/users/create">
				<div class="modal-header">
					<h4 class="modal-title">Add User</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" name="firstName" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" name="lastName" class="form-control" required="">
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" name="email" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Phone</label>
									<input type="number" name="phone" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Password</label>
									<input type="password" id="password" name="password" class="form-control">
								</div>
								<div class="form-group">
									<label>Confirm Password</label>
									<input type="password" id="password-confirm" class="form-control" >
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>
<script>

	function checkForm(){
		if($("#password-confirm").val() != "" || $("#password").val() != ""){

			if($("#password-confirm").val() != $("#password").val()){
				//alert("Passwords do not match");
				$("#password-confirm, #password").addClass("parsley-error");
				return false;
			}
			else{
				return true;
			}
		}

	}
	
</script>