<!-- begin #content -->
<div id="content" class="content content-full-width">
	<!-- begin profile -->
	<div class="profile">
		<div class="profile-header">
			<!-- BEGIN profile-header-cover -->
			<div class="profile-header-cover"></div>
			<!-- END profile-header-cover -->
			<!-- BEGIN profile-header-content -->
			<div class="profile-header-content">
				<!-- BEGIN profile-header-info -->
				<div class="profile-header-info">
					<h4 class="mt-0 mb-1">{{@POST.firstName}} {{@POST.lastName}}</h4>
				</div>
				<!-- END profile-header-info -->
			</div>
			<!-- END profile-header-content -->
			
			<!-- BEGIN profile-header-tab -->
			<ul class="profile-header-tab nav nav-tabs">
				<li class="nav-item"><a href="#profile-personal" class="nav-link" data-toggle="tab">PERSONAL INFO
					<check if="{{@personalPerc == 20}}" >
						<true> <i class="fas fa-check-square text-primary"></i> </true>
						<false> <i class="fas fa-edit text-danger"></i> </false>
					</check>
				</a>
				</li>
				<li class="nav-item"><a href="#profile-contact" class="nav-link" data-toggle="tab">CONTACT INFO
					<check if="{{@contactPerc == 20}}" >
						<true> <i class="fas fa-check-square text-primary"></i> </true>
						<false> <i class="fas fa-edit text-danger"></i> </false>
					</check>
				</a></li>
				<li class="nav-item"><a href="#profile-employer" class="nav-link" data-toggle="tab">EMPLOYMENT INFO
					<check if="{{@employerPerc == 20}}" >
						<true> <i class="fas fa-check-square text-primary"></i> </true>
						<false> <i class="fas fa-edit text-danger"></i> </false>
					</check>
				</a>
				</li>
				<li class="nav-item"><a href="#profile-emergency" class="nav-link" data-toggle="tab">EMERGENCY CONTACT
						INFO
						<check if="{{@emergencyPerc == 20}}" >
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</a>
					</li>
						
				<li class="nav-item"><a href="#profile-documents" class="nav-link" data-toggle="tab">SUPPORTING
						DOCUMENTS
						<check if="{{@documentPerc == 20}}" >
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</a></li>
			</ul>
			<!-- END profile-header-tab -->
		</div>
	</div>
	<!-- animated -->
	<div class="progress rounded-corner progress-striped active">
		<div class="progress-bar bg-purple" style="width: {{@profilePercentage}}%">
			{{@profilePercentage}} % Completed
		</div>
	</div>
	<!-- <check if="{{@profilePercentage > 99}}" >
		<true> <div class="alert alert-success fade show m-b-0 text-center">
			<strong>Complete!</strong>
			Please go to the Dashboard and SUBMIT AN APPLICATION. A R200 Application fee is applicable.<a href="/user/dashboard" class="alert-link">Dashboard</a>.
		</div>
			
			<div></p> </true>
	</check> -->
	<!-- end profile -->
	<!-- begin profile-content -->
	<div class="profile-content">
		<!-- begin tab-content -->
		<div class="tab-content p-0">

			<!-- begin #profile-personal tab -->
			<div class="tab-pane fade show active" id="profile-personal">
				<!-- begin personal info form -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form onsubmit="return adminformsave('personalInfo')" id="personalInfo" class="form-horizontal"
						name="demo-form">
						<input type="hidden" value="{{@userID}}" name="userID">
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">First Name:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.firstName}}" type="text" name="firstName"
									placeholder="First Name" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Last Name:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.lastName}}" type="text" name="lastName"
									placeholder="Surname" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Marital Status:</label>
							<div class="col-lg-9 col-xl-6">
								<select name="maritalStatus" class="form-control" required>
									<option selected disabled value="">Select your marital status</option>
									<option value="single">Single</option>
									<option value="married">Married</option>
									<option value="widowed">Widowed</option>
									<option value="divorced">Divorced</option>
									<option value="separated">Separated</option>
								</select>
							</div>
						</div>
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">ID No:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.idPassportNo}}" type="text" maxlength="13" onkeypress="return isNumberKey(event);"
									name="idPassportNo" id="idPassportNo" placeholder="ID No" class="form-control" onchange="validIDnum('idPassportNo', false)">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Date of Birth:<span
									class="text-danger">&nbsp;</span></label>
							<div class="col-lg-9 col-xl-6">
								<div class="row row-space-6">
									<input readonly required value="{{@POST.dob}}" id="dob" name="dob" type="text" class="form-control disabled"
										id="datepicker-autoClose" placeholder="D.O.B">
								</div>
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Address</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.address}}" type="text" name="address"
									placeholder="Address " class="form-control m-b-10">
							</div>
						</div>
						<!-- end form-group -->

						<hr>
									<p>Banking Details</p>
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Bank Name:</label>
										<div class="col-lg-9 col-xl-6">
											<select id="bankName" name="bankName" class="form-control">
												<check if="{{@POST.bankName}} == 'ABSA'">
													{{@ABSA = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'First National Bank'">
													{{@fnb = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Nedbank'">
													{{@Nedbank = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Standard Bank'">
													{{@Standard = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Capitec Bank'">
													{{@Capitec = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'African Bank'">
													{{@African = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Investec Bank'">
													{{@Investec = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Sasfin Bank'">
													{{@Sasfin = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Discovery Bank'">
													{{@Discovery = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Grindrod'">
													{{@Grindrod = 'selected'}}
												</check>
												<option  {{@ABSA}} value="ABSA">ABSA</option>
												<option   {{@fnb}} value="First National Bank">First National Bank</option>
												<option   {{@Nedbank}} value="Nedbank">Nedbank</option>
												<option   {{@Standard}} value="Standard Bank">Standard Bank</option>
												<option   {{@Capitec}} value="Capitec Bank">Capitec Bank</option>
												<option   {{@African}} value="African Bank">African Bank</option>
												<option   {{@Investec}} value="Investec Bank">Investec Bank</option>
												<option   {{@Sasfin}} value="Sasfin Bank">Sasfin Bank</option>
												<option   {{@Discovery}} value="Discovery Bank">Discovery Bank</option>
												<option   {{@Grindrod}} value="Grindrod">Grindrod</option>


									</select>
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Branch Code:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.branchCode}}" type="text" name="branchCode"
												placeholder="Branch Code" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Account Number:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.accountNumber}}" type="text" name="accountNumber"
												placeholder="Account Number" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Account Type:</label>
										<div class="col-lg-9 col-xl-6">
											<select id="accountType" name="accountType" class="form-control">
												<check if="{{@POST.accountType}} == 'CURRENTCHEQUEACCOUNT'">
													{{@cqAcc = 'selected'}}
												</check>
												<check if="{{@POST.accountType}} == 'SAVINGSACCOUNT'">
													{{@svAcc = 'selected'}}
												</check>
												<check if="{{@POST.accountType}} == 'SAVINGSACCOUNT'">
													{{@trAcc = 'selected'}}
												</check>
												<option  {{@cqAcc}} value="CURRENTCHEQUEACCOUNT">Cheque/Current</option>
												<option   {{@svAcc}} value="SAVINGSACCOUNT">Savings</option>
												<option   {{@trAcc}} value="SAVINGSACCOUNT">Savings</option>
									</select>
										</div>
									</div>
						
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary">UPDATE</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end #profile-personal tab -->

			<!-- begin #profile-contact tab -->
			<div class="tab-pane fade" id="profile-contact">
				<!-- begin personal info form -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form onsubmit="return adminformsave('contactInfo')" id="contactInfo" class="form-horizontal"
						name="demo-form">
						<input type="hidden" value="{{@userID}}" name="userID">

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Email Address:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.email}}" type="email" name="email"
									placeholder="Email Address" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Phone No:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.phone}}" type="text" name="phone" placeholder="Phone No"
									class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Alt Phone No:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.altPhone}}" type="text" name="altPhone"
									placeholder="Alt Phone No" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary">UPDATE</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end #profile-contact tab -->

			<!-- begin #profile-employment tab -->
			<div class="tab-pane fade" id="profile-employer">
				<!-- begin personal info form -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form onsubmit="return adminformsave('employmentInfo')" id="employmentInfo" class="form-horizontal"
						name="demo-form">
						<input type="hidden" value="{{@userID}}" name="userID">

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Occupation:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.occupation}}" type="text" name="occupation"
									placeholder="Occupation" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Employer:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.employer}}" type="text" name="employer"
									placeholder="Employer" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Employer Contact:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.employerContact}}" type="text" name="employerContact"
									placeholder="Employer Contact" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Total Income:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.totalIncome}}" type="text" name="totalIncome"
									placeholder="Total Income" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Total Expenses:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.totalExpenses}}" type="text" name="totalExpenses"
									placeholder="Total Expenses" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary">UPDATE</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end #profile-employment tab -->

			<!-- begin #profile-emergency tab -->
			<div class="tab-pane fade" id="profile-emergency">
				<!-- begin personal info form -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form onsubmit="return adminformsave('emergencyInfo')" id="emergencyInfo" class="form-horizontal"
						name="demo-form">
						<input type="hidden" value="{{@userID}}" name="userID">

						<!-- begin form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Next of Kin:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.nextOfKin}}" type="text" name="nextOfKin"
									placeholder="Next of Kin" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Next of Kin Contact:</label>
							<div class="col-lg-9 col-xl-6">
								<input required value="{{@POST.nextOfKinContact}}" type="tel" name="nextOfKinContact"
									placeholder="Next of Kin Contact" data-parsley-type="number" class="form-control">
							</div>
						</div>
						<!-- end form-group -->
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary">UPDATE</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end #profile-emergency tab -->

			<!-- begin #profile-emergency tab -->
			<div class="tab-pane fade" id="profile-documents">
				<!-- begin personal info form -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="text-center">
						<h2>Only png, jpg, jpeg, pdf file formats can be uploaded</h2>
						
					</div>
					
					<form class="form-horizontal" method="post" action="/admin/application/edit/{{@userID}}"
						name="demo-form" enctype="multipart/form-data">
						<input type="hidden" value="{{@userID}}" name="userID">

							<repeat group="{{@documentDetails}}" key="{{@key}}" value="{{@value}}">
								<check if="{{@value.docType}} != 'null'">
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label"  style="text-transform: capitalize;">{{@value.title}}:</label>
										<div class="col-lg-9 col-xl-6">
											<div class="card-avatar">
												
											</div>
											<div class="btn btn-info"><a href="http://{{@SESSION.SERVER}}/{{@value.data}}" target="_blank"><i class="fa fa-eye">View</i></a>
											</div>
										</div>
									</div>
								</check>
								
							</repeat>

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Upload ID Document:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.idDocument}}">
									</a>
								</div>
								<input type="file" name="idDocument" id="idDocument" class="form-control">
							</div>
						</div>
						<input type="hidden" name="userID" value="{{@SESSION.USER.id}}" />
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">3-Months Bank Statement:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.bankStatement}}">
									</a>
								</div>
								<input type="file" name="bankStatement" id="bankStatement"
									class="form-control">
							</div>
						</div>
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">3-Month Salary Payslip:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.payslip}}">
									</a>
								</div>
								<input type="file" name="payslip" id="payslip" class="form-control">
							</div>
						</div>
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Proof Of Payment:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									
								</div>
								<input type="file" name="proofOfPayment" id="proofOfPayment" class="form-control">
							</div>
						</div>
						<!-- end form-group -->

						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-primary">UPDATE</button>
							</div>
						</div>
					</form>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end #profile-emergency tab -->

		</div>
		<!-- end tab-content -->
	</div>
	<!-- end profile-content -->
</div>
<!-- end #content -->
<script>

	function isNumberKey(evt){
		var charCode = (evt.which) ? evt.which : evt.keyCode
		return !(charCode > 31 && (charCode < 48 || charCode > 57));
	}

	var type = window.location.hash.substr(1);
	if (type == "") type = "profile-personal";
	$(".tab-pane").removeClass("active show");

	$("#" + type).addClass("active show");
	$("[href='#" + type + "']").addClass("active");

	// validate an SA ID number input


</script>