<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Trench</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Rent Trench
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<form method="post" onsubmit="return checkForm();" action="/admin/users/update/{{@POST.id}}">
					<div class="modal-header">
						<h4 class="modal-title">Add User</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label>First Name</label>
										<input value="{{@POST.firstName}}" type="text" name="firstName" class="form-control" required="">
									</div>
									<div class="form-group">
										<label>Last Name</label>
										<input value="{{@POST.lastName}}" type="text" name="lastName" class="form-control" required="">
									</div>
									
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Email</label>
										<input value="{{@POST.email}}" type="email" name="email" class="form-control" required="">
									</div>
									<div class="form-group">
										<label>Phone</label>
										<input value="{{@POST.phone}}" type="number" name="phone" class="form-control" required="">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Password</label>
										<input type="password" id="password" name="password" class="form-control">
									</div>
									<div class="form-group">
										<label>Confirm Password</label>
										<input type="password" id="password-confirm" class="form-control" >
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
						<input id="btnSave" type="submit" class="btn btn-success" value="Save">
					</div>
				</form>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<script>

	function checkForm(){
		if($("#password-confirm").val() != "" || $("#password").val() != ""){

			if($("#password-confirm").val() != $("#password").val()){
				//alert("Passwords do not match");
				$("#password-confirm, #password").addClass("parsley-error");
				return false;
			}
			else{
				return true;
			}
		}

	}
	
</script>