<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Applications</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Applications
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row row-space-10 m-b-20">
		<!-- begin col-4 -->
		<div class="col-lg-3 col-sm-6">
			<div class="widget widget-stats bg-gradient-teal m-b-10">
				<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">APPLICATIONS</div>
					<div class="stats-number">{{@totalApplications}}</div>
					<!-- <div class="stats-progress progress">
						<div class="progress-bar" style="width: 70.1%;"></div>
					</div>
					<div class="stats-desc">Better than last week (70.1%)</div> -->
				</div>
			</div>
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-3 col-sm-6">
			<div class="widget widget-stats bg-gradient-blue m-b-10">
				<div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">APPROVED APPLICATIONS</div>
					<div class="stats-number">{{@approvedApplications}}</div>
					<!-- <div class="stats-progress progress">

						<div class="progress-bar" style="width: <?php echo ((3250200/7842900)*100); ?>%;"></div>
					</div>
					<div class="stats-desc">Better than last week (<?php echo round(((3250200/7842900)*100),2); ?>%)
					</div> -->
				</div>
			</div>
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-3 col-sm-6">
			<div class="widget widget-stats bg-gradient-purple m-b-10">
				<div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">DECLINED APPLICATIONS</div>
					<div class="stats-number">{{@declinedApplications}}</div>
					<!-- <div class="stats-progress progress">
						<div class="progress-bar" style="width: <?php echo ((38900/7842900)*100); ?>%;"></div>
					</div>
					<div class="stats-desc">Compared to last week (<?php echo round(((38900/7842900)*100),2); ?>%)</div> -->
				</div>
			</div>
		</div>
		<!-- end col-4 -->
		<!-- begin col-4 -->
		<div class="col-lg-3 col-sm-6">
			<div class="widget widget-stats bg-gradient-purple m-b-10">
				<div class="stats-icon stats-icon-lg"><i class="fa fa-archive fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">PENDING APPLICATIONS</div>
					<div class="stats-number">{{@pendingApplications}}</div>
					<!-- <div class="stats-progress progress">
						<div class="progress-bar" style="width: <?php echo ((38900/7842900)*100); ?>%;"></div>
					</div>
					<div class="stats-desc">Better than last week (<?php echo round(((38900/7842900)*100),2); ?>%)</div> -->
				</div>
			</div>
		</div>
		<!-- end col-4 -->
	</div>
	<!-- end row -->

	<!-- begin page-header -->

	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Applications</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="col-xl-12">
						<ul class="nav nav-pills">
							<li class="nav-item">
								<a href="#default-tab-1" data-toggle="tab" class="nav-link active">
									<span class="d-sm-none">Pending</span>
									<span class="d-sm-block d-none">Pending </span>
								</a>
							</li>

							<li class="nav-item">
								<a href="#default-tab-4" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Invitations</span>
									<span class="d-sm-block d-none">Invitations </span>
								</a>
							</li>

							<li class="nav-item">
								<a href="#default-tab-6" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Pending Tenant Approval</span>
									<span class="d-sm-block d-none">Pending Tenant Approval</span>
								</a>
							</li>

							<li class="nav-item">
								<a href="#default-tab-5" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Deposit Verification</span>
									<span class="d-sm-block d-none">Deposit Verification</span>
								</a>
							</li>

							<li class="nav-item">
								<a href="#default-tab-2" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Approved</span>
									<span class="d-sm-block d-none">Approved</span>
								</a>
							</li>
							
							<li class="nav-item">
								<a href="#default-tab-7" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Tenant Declines</span>
									<span class="d-sm-block d-none">Tenant Decline</span>
								</a>
							</li>

							<li class="nav-item">
								<a href="#default-tab-3" data-toggle="tab" class="nav-link">
									<span class="d-sm-none">Declined</span>
									<span class="d-sm-block d-none">Declined</span>
								</a>
							</li>
						</ul>
						<br />
						<br />

						<div class="tab-content">
							<div class="tab-pane fade active show" id="default-tab-1">
								<table id="data-table-responsive-pending" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 'p'">
												
													<tr class="odd gradeX">
														<td>{{@value.id}}</td>
														<td>{{@value.firstName}} {{@value.lastName}}</td>
														<td>{{@value.dateCreated}}</td>
														<td>{{@value.rentTrench}}</td>
														<td>
															<check if="{{@value.applicationStatus}} == 'd'">
																Declined
															</check>
															<check if="{{@value.applicationStatus}} == 'p'">
																Pending
															</check>
															<check if="{{@value.applicationStatus}} == 'a'">
																Approved
															</check>
														<td width="320">
					
															<a href="/admin/application/edit/{{@value.userID}}"
																class="btn btn-xs btn-primary">
																<i class="fa fa-eye"></i> View
															</a>
															<a href="#modal-verifcation" onclick="verification({{@value.id}})"
																class="btn btn-xs btn-success" data-toggle="modal">
																<i class="fa fa-user-secret"></i> Verification
															</a>

															<check
																if="{{@value.applicationStatus}} != 'd' && {{@value.applicationStatus}} != 'a'">
																<a href="/admin/application/status/d/{{@value.id}}"
																	class="btn btn-xs btn-warning pull-right">
																	<i class="fa fa-cancel"></i> Decline
																</a>
															</check>

															<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
																<a href="/admin/application/delete/{{@value.id}}"
																	class="btn btn-xs btn-danger pull-right">
																	<i class="fa fa-trash"></i> Delete
																</a>
															</check>
					
															<check
																if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
																<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
																	class="btn btn-xs btn-success" data-toggle="modal"
																	class="btn btn-xs btn-success pull-right">
																	<i class="fa fa-check"></i> Manual Verify
																</a>
																<false>
																	<a href="/admin/application/view/{{@value.id}}"
																		class="btn btn-xs btn-info">
																		<i class="fa fa-eye"></i> Manual Verify
																	</a>
																</false>
															</check>
					
															<check if="{{@value.maritalStatus}} == 'Married'">
															<true>
																<check if="{{@value.spouseConsent}} == 'y'">
																	<true>
																		<check if="{{@value.applicationStatus}} != 'i'">
																			<check if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
																				<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
																					class="btn btn-xs btn-success" data-toggle="modal"
																					class="btn btn-xs btn-success pull-right">
																					<i class="fa fa-check"></i> Invite
																				</a>
																				<false>
																					<a href="javascript:" onclick="inviteTenant({{@value.id}})"
																						class="btn btn-xs btn-success" data-toggle="modal"
																						class="btn btn-xs btn-success pull-right">
																						<i class="fa fa-check"></i> Invite
																					</a>
																				</false>
																			</check>
																		</check>
																	</true>

																	<false>
																		<a href="javascript:" onclick="inviteTenant({{@value.id}})"
																			class="btn btn-xs btn-secondary disabled" data-toggle="modal"
																			class="btn btn-xs btn-secondary pull-right disabled">
																			<i class="fa fa-check"></i> Awaiting Spouse Consent
																		</a>
																	</false>
																</check>
															</true>

															<false>
																<check if="{{@value.applicationStatus}} != 'i'">
																	<check if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
																	<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
																			class="btn btn-xs btn-success" data-toggle="modal"
																			class="btn btn-xs btn-success pull-right">
																			<i class="fa fa-check"></i> Invite
																		</a>
																		<false>
																			<a href="javascript:" onclick="inviteTenant({{@value.id}})"
																				class="btn btn-xs btn-success" data-toggle="modal"
																				class="btn btn-xs btn-success pull-right">
																				<i class="fa fa-check"></i> Invite
																			</a>
																		</false>
																	</check>
																</check>
															</false>
														</check>
					
														</td>
													</tr>
												
											</check>
										</repeat>
									</tbody>
								</table>
							</div>

							

							<div class="tab-pane fade" id="default-tab-4">
								<table id="data-table-responsive-invite" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th style="width: 1%;" class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap">Viewing Date</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 'i'">
											<tr class="odd gradeX">
												<td style="width: 1%;">{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 'i'">
														Viewing
													</check>
												</td>
												<td>{{@value.viewingDate}}</td>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/delete/{{@value.id}}"
															class="btn btn-xs btn-danger pull-right">
															<i class="fa fa-trash"></i> Delete
														</a>
													</check>
			
													<check
														if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
														<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Manual Verify
														</a>
														<false>
															<a href="/admin/application/view/{{@value.id}}"
																class="btn btn-xs btn-info">
																<i class="fa fa-eye"></i> Manual Verify
															</a>
														</false>
													</check>
			
													<check if="{{@value.applicationStatus}} != 'a'">
														<a href="#modal-approve" onclick="approveApplication({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Assign
														</a>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade" id="default-tab-6">
								<table id="data-table-responsive-assigned" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th style="width: 1%;" class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 's'">
											<tr class="odd gradeX">
												<td style="width: 1%;">{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 's'">
														Awaiting Tenant Approval
													</check>
													<check if="{{@value.applicationStatus}} == 'a'">
														Assigned Unit
													</check>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/delete/{{@value.id}}"
															class="btn btn-xs btn-danger pull-right">
															<i class="fa fa-trash"></i> Delete
														</a>
													</check>
			
													<check
														if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
														<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Manual Verify
														</a>
														<false>
															<a href="/admin/application/view/{{@value.id}}"
																class="btn btn-xs btn-info">
																<i class="fa fa-eye"></i> Manual Verify
															</a>
														</false>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade" id="default-tab-5">
								<table id="data-table-responsive-deposit" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 'r'">
											<tr class="odd gradeX">
												<td>{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 'r'">
														Awaiting Rental Deposit
													</check>
													<check if="{{@value.applicationStatus}} == 'p'">
														Pending
													</check>
													<check if="{{@value.applicationStatus}} == 'a'">
														Approved
													</check>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check if="{{@value.applicationStatus}} != 'a'">
														<a href="javascript:" onclick="depositVerification({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Verify Deposit
														</a>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>


							<div class="tab-pane fade" id="default-tab-2">
								<table id="data-table-responsive-approved" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 'a'">
											<tr class="odd gradeX">
												<td>{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 'd'">
														Declined
													</check>
													<check if="{{@value.applicationStatus}} == 'p'">
														Pending
													</check>
													<check if="{{@value.applicationStatus}} == 'a'">
														Approved
													</check>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check
														if="{{@value.applicationStatus}} != 'd' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/status/d/{{@value.id}}"
															class="btn btn-xs btn-warning pull-right">
															<i class="fa fa-cancel"></i> Decline
														</a>
													</check>
													<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/delete/{{@value.id}}"
															class="btn btn-xs btn-danger pull-right">
															<i class="fa fa-trash"></i> Delete
														</a>
													</check>
			
													<check
														if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
														<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Manual Verify
														</a>
														<false>
															<a href="/admin/application/view/{{@value.id}}"
																class="btn btn-xs btn-info">
																<i class="fa fa-eye"></i> Manual Verify
															</a>
														</false>
													</check>
			
													<check if="{{@value.applicationStatus}} != 'a'">
														<a href="#modal-approve" onclick="approveApplication({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Approve
														</a>
													</check>

													<check if="{{@value.docsSigned}} != 2">
														<a href="javascript:" onclick="uploadDocuments({{@value.userID}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Upload Signed Documents
														</a>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>


							<div class="tab-pane fade" id="default-tab-3">
								<table id="data-table-responsive-declined" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 'd'">
											<tr class="odd gradeX">
												<td>{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 'd'">
														Declined
													</check>
													<check if="{{@value.applicationStatus}} == 'p'">
														Pending
													</check>
													<check if="{{@value.applicationStatus}} == 'a'">
														Approved
													</check>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check
														if="{{@value.applicationStatus}} != 'd' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/status/d/{{@value.id}}"
															class="btn btn-xs btn-warning pull-right">
															<i class="fa fa-cancel"></i> Decline
														</a>
													</check>
													<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/delete/{{@value.id}}"
															class="btn btn-xs btn-danger pull-right">
															<i class="fa fa-trash"></i> Delete
														</a>
													</check>
			
													<check
														if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
														<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Manual Verify
														</a>
														<false>
															<a href="/admin/application/view/{{@value.id}}"
																class="btn btn-xs btn-info">
																<i class="fa fa-eye"></i> Manual Verify
															</a>
														</false>
													</check>
			
													<check if="{{@value.applicationStatus}} != 'a'">
														<a href="#modal-approve" onclick="approveApplication({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Approve
														</a>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade" id="default-tab-7">
								<table id="data-table-responsive-consent" style="width: 100%;" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Application No</th>
											<th class="text-nowrap">Created By</th>
											<th class="text-nowrap">Date Created</th>
											<th class="text-nowrap">Rent Trench on Income</th>
											<th class="text-nowrap">Status</th>
											<th class="text-nowrap" style="width:500px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.applicationStatus}} == 't'">
											<tr class="odd gradeX">
												<td>{{@value.id}}</td>
												<td>{{@value.firstName}} {{@value.lastName}}</td>
												<td>{{@value.dateCreated}}</td>
												<td>{{@value.rentTrench}}</td>
												<td>
													<check if="{{@value.applicationStatus}} == 't'">
														Tenant Declined
													</check>
												<td width="320">
			
													<a href="/admin/application/edit/{{@value.userID}}"
														class="btn btn-xs btn-primary">
														<i class="fa fa-eye"></i> View
													</a>
													<a href="#modal-verifcation" onclick="verification({{@value.id}})"
														class="btn btn-xs btn-success" data-toggle="modal">
														<i class="fa fa-user-secret"></i> Verification
													</a>
			
													<check
														if="{{@value.applicationStatus}} != 'd' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/status/d/{{@value.id}}"
															class="btn btn-xs btn-warning pull-right">
															<i class="fa fa-cancel"></i> Decline
														</a>
													</check>
													<check if="{{@value.isDeleted}} != 'y' && {{@value.applicationStatus}} != 'a'">
														<a href="/admin/application/delete/{{@value.id}}"
															class="btn btn-xs btn-danger pull-right">
															<i class="fa fa-trash"></i> Delete
														</a>
													</check>
			
													<check
														if="{{@value.applicationStatus}} == 'p' && {{@value.applicationFee}} != 'paid'">
														<a href="#modal-verifyPOP" onclick="verifyProofOfPayment({{@value.id}})"
															class="btn btn-xs btn-success" data-toggle="modal"
															class="btn btn-xs btn-success pull-right">
															<i class="fa fa-check"></i> Manual Verify
														</a>
														<false>
															<a href="/admin/application/view/{{@value.id}}"
																class="btn btn-xs btn-info">
																<i class="fa fa-eye"></i> Manual Verify
															</a>
														</false>
													</check>
			
												</td>
											</tr>
											</check>
										</repeat>
									</tbody>
								</table>
							</div>

						</div>

					</div>
					
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-verifcation">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Application Verification Status</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">

						<div class="widget-todolist widget-todolist-rounded">

							<!-- begin widget-todolist-body -->
							<div class="widget-todolist-body">
								<!-- begin widget-todolist-item -->
								<div class="widget-todolist-item">
									<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_1"> 
																		<label for="widget_todolist_1" class="p-l-15"> </label>
											</div>
										</div> -->
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">ID Verification</h4>
										<p class="widget-todolist-desc">First Name <span class="firstName pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Last Name <span class="lastName pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">ID No. <span class="idPassportNo pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">DOB <span class="dob pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">MaritalStatus <span
												class="maritalStatus pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Bank Name <span class="bankName pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Branch Code <span
												class="branchCode pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Account Number <span
												class="accountNumber pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Account Type <span
												class="accountType pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
									</div>
									<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
								</div>


								<!-- end widget-todolist-item -->
								<div class="widget-todolist-item">
									<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_2"> 
													<label for="widget_todolist_2" class="p-l-15"> </label>
											</div>
										</div> -->
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Contact Information</h4>
										<p class="widget-todolist-desc">Email <span class="email pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Tel <span class="phone pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Cell No<span class="altPhone pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
									</div>
									<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
								</div>
								<!-- end widget-todolist-item -->
								<!-- end widget-todolist-item -->
								<div class="widget-todolist-item">
									<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_3"> 
																		<label for="widget_todolist_3" class="p-l-15"> </label>
											</div>
										</div> -->
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Employment Information</h4>
										<p class="widget-todolist-desc">Occupation<span class="occupation pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Employer<span class="employer pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Employer Contact No<span
												class="employerContact pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Income<span class="totalIncome pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Expenses<span
												class="totalExpenses pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>

									</div>
									<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
								</div>
								<!-- end widget-todolist-item -->
								<!-- start widget-todolist-item -->
								<div class="widget-todolist-item">
									<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_4"> 
																		<label for="widget_todolist_4" class="p-l-15"> </label>
											</div>
										</div> -->
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Emergency Contact Information</h4>
										<p class="widget-todolist-desc">Next of Kin<span class="nextOfKin pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Next of Kin Contact No<span
												class="nextOfKinContact pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>

									</div>
									<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
								</div>
								<!-- end widget-todolist-item -->
								<!-- start widget-todolist-item -->
								<div class="widget-todolist-item">
									<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_4"> 
																		<label for="widget_todolist_5" class="p-l-15"> </label>
											</div>
										</div> -->
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Required Documents</h4>
										<p class="widget-todolist-desc">ID, Bank Statement, Payslip</p>
										<p class="widget-todolist-desc">ID Document<span
												class="idDocument pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Bank Statement<span
												class="bankStatement pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Payslip<span class="payslip pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>
										<p class="widget-todolist-desc">Proof Of Payment<span
												class="proofOfPayment pull-right"><i
													class=" pull-right fas fa-spinner fa-pulse text-success"></i></span>
										</p>

									</div>
									<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
								</div>
								<!-- end widget-todolist-item -->
							</div>
							<!-- end widget-todolist-body -->
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
			</div>

		</div>
	</div>
</div>

<!-- #modal-dialog -->
<div class="modal fade" id="modal-approve">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/admin/application/assign">
				<input type="hidden" id="applicationID" name="applicationID" class="form-control" required="">
				<input type="hidden" id="upgrade" name="upgrade" class="form-control" required="">
				<div class="modal-header">
					<h4 class="modal-title">Assign Tenant Unit</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="form-group">
									<select onchange="upgradeHousing(this.value);" class="form-control" id="housing_type" name="housing" required="">
									</select>
								</div>
								<span id="upgrade_notification" class="text-success"></span>
								<div class="form-group">
									<label>Complex</label>
									<div  id="complexes">
									</div>
									<!-- <input type="text" id="complexName" name="complexName" class="form-control" readonly
										required=""> -->
								</div>
								<div class="form-group">
									<label>Allocate Available Units</label>
									<select class="form-control" id="unit" name="unit" required="">
									</select>
								</div>
							</div>

						</div>
						<div class="col-md-12">
							<h3 id="msgApprove" class="text-danger"></h3>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" id="btnApprove" class="btn btn-success" value="Assign">
				</div>
			</form>

		</div>
	</div>
</div>

<!-- #modal-dialog -->
<div class="modal fade" id="modal-verifyPOP">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="/admin/application/verifyProofOfPayment" class="form-horizontal"
				enctype="multipart/form-data">
				<input type="hidden" id="popApplicationID" name="applicationID" class="form-control" required="">
				<div class="modal-header">
					<h4 class="modal-title">Approve Proof Of Payment</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-danger">
								To start XDS verification and Manual Verification please verify Proof Of Payment!
							</h3>
						</div>
						<div class="col-md-12">
							<table class="table table-striped table-bordered table-td-valign-middle">
								<thead>
									<tr>
										<th class="text-nowrap">Title</th>
										<th class="text-nowrap">Value</th>
									</tr>
								</thead>
								<tbody id="proofData">

								</tbody>
							</table>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Is Proof Of Payment Valid</label>
									<select class="form-control" name="verification" required="">
										<option value=""> - select verification status -</option>
										<option value="y">Yes</option>
										<option value="n">No</option>
									</select>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" id="btnVerify" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>


<div class="modal fade" id="modal-verifyPOPDeposit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="process_loader">
				<form method="POST" action="/admin/application/verifyProofOfPayment/deposit" class="form-horizontal"
					enctype="multipart/form-data">
					<input type="hidden" id="popApplicationID_deposit" name="applicationID" class="form-control" required="">
					<div class="modal-header">
						<h4 class="modal-title">Approve Rental Deposit Proof Of Payment</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<table class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Title</th>
											<th class="text-nowrap">Value</th>
										</tr>
									</thead>
									<tbody id="proofData_Deposit">

									</tbody>
								</table>
								<div class="col-md-6">
									<br>
									<div class="form-group">
										<label>Is Proof Of Payment Valid</label>
										<select class="form-control" name="verification" required="">
											<option value=""> - select verification status -</option>
											<option value="y">Yes</option>
											<option value="n">No</option>
										</select>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
						<input type="submit" id="btnVerify" class="btn btn-success" value="Save">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



<!-- #modal-dialog -->
<div class="modal fade" id="modal-invite">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/admin/application/invite">
				<input type="hidden" id="id" name="id" class="form-control" required="">
				<div class="modal-header">
					<h4 class="modal-title">Invite Tenant</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">

							<div class="col-md-12">
								<div id="contactInfo"></div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label id="label"></label>
									<select class="form-control" id="complexID" name="complexID" required="">
									</select>
								</div>
							</div>

							<div class="col-md-12">
								<div class="input-group date" id="datepicker-disabled-past" data-date-format="dd MM DD yyyy" data-date-start-date="Date.default">
									<input type="text" name="viewingDate" class="form-control" placeholder="Schedule Viewing Date" required>
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
							</div>

						</div>
						<div class="col-md-12">
							<h3 id="msgInvite" class="text-danger"></h3>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" id="btnInvite" class="btn btn-success" value="Invite">
				</div>
			</form>

		</div>
	</div>
</div>
<script>
	function verification(applicationID) {
		var icon = [];
		icon['p'] = '<i class=" pull-right fas fa-spinner fa-pulse text-success"></i>';
		icon['y'] = '<i class=" pull-right fas fa-check-square text-primary"></i>';
		icon['n'] = '<i class=" pull-right fas fa-window-close text-danger"></i>';


		$.ajax({
			type: "POST",
			url: '/getApplicationVerification/' + applicationID,
			success: function (data) {

				var verificationData = JSON.parse(data);
				console.log(verificationData);
				for (var i = 0; i < verificationData.length; i++) {
					//console.log(verificationData[i]);
					$("." + verificationData[i].title).html(icon[verificationData[i].isVerified]);
				}

			},
			error: function (data) {
				console.log('An error occurred.');
				console.log(data);
			}
		});




	}

	function upgradeHousing(housing) {
		var applicationID = document.getElementById('applicationID').value;
		if (housing == 'social') {
			document.getElementById('upgrade').value = "";
			$('#upgrade_notification').html('');
			approveApplication(applicationID);
		} else if(housing == 'affordable') {
			$('#upgrade_notification').html('Upgrading to Affordable Housing');
			document.getElementById('upgrade').value = "upgraded";
			$.ajax({
				type: "POST",
				url: '/approveApplication/' + applicationID,
				async: false,
				success: function (data) {

					var unitArr = JSON.parse(data);
					$("#applicationID").val(applicationID);

					// $("#complexName").val(unitArr.complexName);
					createCookie('complexName', unitArr.complexName, '1');
					createCookie('applicationID', applicationID, '1');

					var html = '';
					var complexes = '<select id="complexID" name="complexID" class="form-control" onchange="getAvailableAffordableComplexUnits({{$_COOKIE['applicationID']}});"><repeat group="{{@complexes}}" key="{{@key}}" value="{{@value}}"><check if="{{@value.complexName}}=={{$_COOKIE['complexName']}}"><true><option selected value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option><false><option value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option></false></true></check></repeat></select>';
					
					$("#complexes").html(complexes);
					getAvailableAffordableComplexUnits(applicationID);

				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
				}
			});
		}
		
		
	}

	function approveApplication(applicationID) {
		$("#btnApprove").prop("disabled", false);
		$("#msg").text("");
		$.ajax({
			type: "POST",
			url: '/approveApplication/' + applicationID,
			async: false,
			success: function (data) {

				var unitArr = JSON.parse(data);
				console.log('data='+data);
				$("#applicationID").val(applicationID);

				console.log(unitArr);
				// $("#complexName").val(unitArr.complexName);
				createCookie('complexName', unitArr.complexName, '1');
				createCookie('applicationID', applicationID, '1');

				var html = '';

				console.log(unitArr.housing);

				if(unitArr.housing == "Social"){
					html += '<option selected value="social">'+unitArr.housing+' Housing</option>';
					html += '<option value="affordable">Affordable Housing (Upgrade)</a></option>';
				} else {
					html += '<option selected value="affordable">'+unitArr.housing+' Housing</option>';
				}

				console.log(html);

				$('#housing_type').html(html);

				// if(unitArr.maritalStatus == 'Married'){
				// 	if(unitArr.spouseConsent == 'n' || unitArr.spouseConsent == null){
				// 		$("#btnApprove").prop("disabled", true);
				// 		$("#msgApprove").text("Awaiting Spouse Consent To Process Credit Check");
				// 	} else {}
				// }



				var complexes = '<select id="complexID" name="complexID" class="form-control" onchange="getAvailableComplexUnits({{$_COOKIE['applicationID']}});"><repeat group="{{@complexes}}" key="{{@key}}" value="{{@value}}"><check if="{{@value.complexName}}=={{$_COOKIE['complexName']}}"><true><option selected value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option><false><option value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option></false></true></check></repeat></select>';
				
				$("#complexes").html(complexes);
				getAvailableComplexUnits(applicationID);
			},
			error: function (data) {
				console.log('An error occurred.');
				console.log(data);
			}
		});


	}

	function getAvailableComplexUnits(applicationID) {
		var complexID = document.getElementById('complexID').value;
		$.ajax({
			type: "POST",
			url: '/complex/available/units/' + complexID+ '/'+applicationID,
			async: false,
			success: function (data) {
				var unitArr = JSON.parse(data);
				var html = '';
				html += '<option value="">Select Available Unit</option>';

				if(unitArr.units.length==0){
					html = '<option selected value="">No Units Available</option>';
				}
				for (var i = 0; i < unitArr.units.length; i++) {
					console.log(unitArr.units[i]);
					html += '<option value="' + unitArr.units[i].id + '">' + unitArr.units[i].unitName + '</option>'
				}

				$("#unit").html(html);
			}
		});
	}

	function getAvailableAffordableComplexUnits(applicationID) {
		var complexID = document.getElementById('complexID').value;
		$.ajax({
			type: "POST",
			url: '/complex/available/units/affordable/' + complexID+ '/'+applicationID,
			async: false,
			success: function (data) {
				var unitArr = JSON.parse(data);
				var html = '';
				console.log(data);
				html += '<option value="">Select Available Unit</option>';

				if(unitArr.units.length==0){
					html = '<option selected value="">No Units Available</option>';
				}
				for (var i = 0; i < unitArr.units.length; i++) {
					console.log(unitArr.units[i]);
					html += '<option value="' + unitArr.units[i].id + '">' + unitArr.units[i].unitName + '</option>'
				}

				$("#unit").html(html);
			}
		});
	}

	function verifyProofOfPayment(applicationID) {
		$("#btnVerify").prop("disabled", false);
		$.ajax({
			type: "POST",
			url: '/getProofOfPayment/' + applicationID,
			async: false,
			success: function (data) {

				var proofOfPayment = JSON.parse(data);
				$("#popApplicationID").val(applicationID);


				var html = '';
				for (var i = 0; i < proofOfPayment.length; i++) {

					html += '<tr class="odd gradeX">\n\
									<td style="text-transform: uppercase;font-weight: bold;">Proof Of Payment</td>\n\
									<td>\n\
										<a href="http://zelriprop.talentindx.co.za/'+ proofOfPayment[i].data + '" target="_blank">View</a>\n\
									</td>\n\
								</tr>';
				}

				$("#proofData").html(html);

			},
			error: function (data) {
				console.log('An error occurred.');
				console.log(data);
			}
		});


	}


	function depositVerification(applicationID) {
		$("#btnVerify").prop("disabled", false);
		$.ajax({
			type: "POST",
			url: '/getProofOfPayment/' + applicationID+'/rental',
			async: false,
			success: function (data) {

				var proofOfPayment = JSON.parse(data);
				$("#popApplicationID_deposit").val(applicationID);


				var html = '';
				for (var i = 0; i < proofOfPayment.length; i++) {

					html += '<tr class="odd gradeX">\n\
									<td style="text-transform: uppercase;font-weight: bold;">Proof Of Payment</td>\n\
									<td>\n\
										<a href="http://zelriprop.talentindx.co.za/'+ proofOfPayment[i].data + '" target="_blank">View</a>\n\
									</td>\n\
								</tr>';
				}

				$("#proofData_Deposit").html(html);

			},
			error: function (data) {
				console.log('An error occurred.');
				console.log(data);
			}
		});
		$('#modal-verifyPOPDeposit').modal('show');
	}

	function createCookie(name, value, days) {
		    var expires;

		    if (days) {
		        var date = new Date();
		        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
		        expires = "; expires=" + date.toGMTString();
		    }
		    else {
		        expires = "";
		    }
		    document.cookie = escape(name) + "=" +
		        escape(value) + expires + "; path=/";
		}


	function inviteTenant(applicationID) {
		document.getElementById('id').value = applicationID;
		$.ajax({
			type: "POST",
			url: '/approveApplication/' + applicationID,
			async: false,
			success: function (data) {
				var unitArr = JSON.parse(data);
				console.log(unitArr);
				createCookie('complexName', unitArr.complexName, '1');

				if (unitArr.profilePerc < 99) {
					$("#btnInvite").prop("disabled", true);
					$("#msgInvite").text("This Application has not finshed verification. Please Complete Verification to be able to Invite the Tenant for Viewing");
					document.getElementById('complexID').hidden = 'hidden';
					document.getElementById('datepicker-disabled-past').hidden = 'hidden';
				} else {
					$('#label').html('Complex');
					document.getElementById('datepicker-disabled-past').hidden = '';
					var html = '<select id="complexName_invite"><repeat group="{{@complexes}}" key="{{@key}}" value="{{@value}}"><check if="{{@value.complexName}}=={{$_COOKIE['complexName']}}"><true><option selected value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option><false><option value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option></false></true></check></repeat></select>';
					$("#complexID").html(html);
				}

				var contactInfo = '<p><strong>Full Name:</strong> '+unitArr.firstName+' '+unitArr.lastName+'<br><strong>Contact No:</strong> '+unitArr.phone+'<br><strong>Alt Contact No:</strong> '+unitArr.altPhone+'</p>';
				$("#contactInfo").html(contactInfo);
					
				$("#modal-invite").modal('show');
			},
			error: function (data) {
				console.log('An error occurred.');
				console.log(data);
			}
		});
	}

	function uploadDocuments(userID) {
		document.getElementById('userID').value = userID;
		document.getElementById('uploadSignedDocs').value = 'upload';
		$(document).ready(function () {
			$("#uploadDocuments").modal('show');
		});
	}

	document.getElementById('uploadSignedDocs').value = '';

</script>

<div class="modal fade" id="uploadDocuments">
		<div class="modal-dialog" style="max-width: 1024px;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Upload Signed Documents</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" method="post" action="/admin/applications" name="demo-form" enctype="multipart/form-data">
						<div class="note note-yellow m-b-15">
							<div class="note-icon f-s-20">
								<i class="fa fa-lightbulb fa-2x"></i>
							</div>
							<div class="note-content">
								<h4 class="m-t-5 m-b-5 p-b-2">Notes</h4>
								<ul class="m-b-5 p-l-25">
									<li>Convert your upload files to <strong>PDF</strong> format if not already.</li>
									<li>Only <strong>PDF</strong> accepted.</li>
								</ul>
							</div>
						</div>
						<input type="hidden" id="uploadSignedDocs" name="uploadSignedDocs" value="">
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Upload Lease Aggreemnt Document:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
								</div>
								<input required type="file" name="leaseAgreement" id="leaseAgreement" class="form-control" onchange="leaseAgreementPreview(event)" accept="application/pdf">
							</div>
						</div>
						<input type="hidden" id="userID" name="userID" value="" />
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Upload Tenant Key Slip</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.keySlip}}">
									</a>
								</div>
								<input required type="file" name="keySlip" id="keySlip" class="form-control" onchange="keySlipPreview(event)" accept="application/pdf">
							</div>
						</div>
						<!-- end form-group -->
						<div class="col-lg-12" id="preview">
							<div class="row">
								<div class="col-lg-6">
									<embed id="leaseAgreementPreview" type="application/pdf" width="100%" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" background-color="0xFF525659" top-toolbar-height="56" full-frame="" internalinstanceid="21" title="CHROME">
								</div>
								<div class="col-lg-6">
									<embed id="keySlipPreview" type="application/pdf" width="100%" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" background-color="0xFF525659" top-toolbar-height="56" full-frame="" internalinstanceid="21" title="CHROME">
								</div>
							</div>
						</div>
						

						<!-- end form-group -->
						<div class="form-group row m-b-0">
							<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-success btn-lg">UPLOAD</button> 
								<a data-dismiss="modal" type="button" class="btn btn-danger btn-lg">CANCEL</a>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" id="submit_buttons">
					<!-- <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<a onclick="submit();" class="btn btn-success">Sumit</a> -->
				</div>
			</div>
		</div>
	</div>

	<script type='text/javascript'>
		document.getElementById('preview').hidden = 'hidden';

		function leaseAgreementPreview(event) {
			document.getElementById('preview').hidden = '';
			var reader = new FileReader();
			reader.onload = function() {
				var output = document.getElementById('leaseAgreementPreview');
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}

		function keySlipPreview(event) {
			document.getElementById('preview').hidden = '';
			var reader = new FileReader();
			reader.onload = function() {
				var output = document.getElementById('keySlipPreview');
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>
