<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Application</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Application
	</h1>
<!-- begin page-header -->
<h1 class="page-header">
	<a href="/admin/applications" class="btn btn-sm btn-info">Back To Applications</a>
</h1>

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Applications</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="card card-forum mb-3">
						<!-- begin card-header -->
						<div class="card-header f-w-600">
							Personal Information
						</div>
						<!-- end card-header -->
						<!-- begin forum-list -->
						<form method="POST" action="/admin/application/view/{{@applicationID}}" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="formType" value="personalInfo">
							<table 
							class="table table-striped table-bordered table-td-valign-middle">
							<thead>
								<tr>
									<th class="text-nowrap">Title</th>
									<th class="text-nowrap">Value</th>
									<th class="text-nowrap">XDS Value</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="userID" value="{{@userID}}">
								<repeat group="{{@personalDetails}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td style="text-transform: uppercase;font-weight: bold;">{{@value.title}}</td>
										<td>{{@value.value}}</td>
										<td>{{@value.xdsValue}}</td>
										<td>
											<check if="{{@value.isVerified}} == 'y'">
												Verified
											</check>
											<check if="{{@value.isVerified}} == 'p'">
												Pending
											</check>
											<check if="{{@value.isVerified}} == 'n'">
												Not Verified
											</check>
										</td>

										<td width="240">
											<check if="{{@value.title}} == 'address'">
												<check if="{{@value.isVerified}} != 'y'">
													<input type="checkbox" name="{{@value.title}}">
														Not Verified
													<false>
														<input type="checkbox" checked="checked" name="{{@value.title}}">
														Verified
													</false>
												</check>
												<false>
													<check if="{{@value.isVerified}} != 'y'">
														<input type="checkbox" name="{{@value.key}}" class="disabled" >
															Not Verified
														<false>
															<input type="checkbox" checked="checked" name="{{@value.key}}" >
															Verified
														</false>
													</check>
												</false>
											</check>
											
										</td>
									</tr>
								</repeat>
								<tr>
									<td colspan="5">
										<button class="btn btn-sm btn-success pull-right" type="submit">Save</a>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
					<div class="card card-forum mb-3">
						<!-- begin card-header -->
						<div class="card-header f-w-600">
							Contact Information
						</div>
						<!-- end card-header -->
						<!-- begin forum-list -->
						<form method="POST" action="/admin/application/view/{{@applicationID}}" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="formType" value="contactInfo">

							<table 
							class="table table-striped table-bordered table-td-valign-middle">
							<thead>
								<tr>
									<th class="text-nowrap">Title</th>
									<th class="text-nowrap">Value</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="userID" value="{{@userID}}">

								<repeat group="{{@contactDetails}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td style="text-transform: uppercase;font-weight: bold;">{{@value.title}}</td>
										<td>{{@value.value}}</td>
										<td>
											<check if="{{@value.isVerified}} == 'y'">
												Verified
											</check>
											<check if="{{@value.isVerified}} == 'p'">
												Pending
											</check>
											<check if="{{@value.isVerified}} == 'n'">
												Not Verified
											</check>
										</td>
										<td width="240">
											<check if="{{@value.isVerified}} != 'y'">
												<input type="checkbox" name="{{@value.key}}">
												Not Verified
												<false>
													<input type="checkbox" checked="checked" name="{{@value.key}}">
													Verified
												</false>
											</check>
										</td>
									</tr>
								</repeat>
								<tr>
									<td colspan="4">
										<button class="btn btn-sm btn-success pull-right" type="submit">Save</a>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
					<div class="card card-forum mb-3">
						<!-- begin card-header -->
						<div class="card-header f-w-600">
							Employment Information
						</div>
						<!-- end card-header -->
						<!-- begin forum-list -->
						<form method="POST" action="/admin/application/view/{{@applicationID}}" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="formType" value="employerInfo">

							<table 
							class="table table-striped table-bordered table-td-valign-middle">
							<thead>
								<tr>
									<th class="text-nowrap">Title</th>
									<th class="text-nowrap">Value</th>
									<th class="text-nowrap">XDS Value</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="userID" value="{{@userID}}">

								<repeat group="{{@employerDetails}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td style="text-transform: uppercase;font-weight: bold;">{{@value.title}}</td>
										<td>{{@value.value}}</td>
										<td>
											<check if="{{@value.xdsValue}} == 'Error While Processing the Request, Please contact XDS'">
												<true>
													<span class="text-danger text-wrap">{{@value.xdsValue}}</span>
												</true>
												<false>
													{{@value.xdsValue}}
												</false>
											</check>
										</td>
										<td>
											<check if="{{@value.isVerified}} == 'y'">
												Verified
											</check>
											<check if="{{@value.isVerified}} == 'p'">
												Pending
											</check>
											<check if="{{@value.isVerified}} == 'n'">
												Not Verified
											</check>
										</td>
										<td width="240">
											<check if="{{@value.isVerified}} != 'y'">
												<input type="checkbox" name="{{@value.key}}">
												Not Verified
												<false>
													<input type="checkbox" checked="checked" name="{{@value.key}}">
													Verified
												</false>
											</check>
										</td>
									</tr>
								</repeat>
								<tr>
									<td colspan="2">
										<repeat group="{{@documentDetails}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.title}} == 'payslip'">
												<check if="{{@value.docType}} != 'null'">
													<a class="btn btn-primary btn-block" href="http://{{@SESSION.SERVER}}/{{@value.value}}" target="_blank"> View Payslip </a>
												</check>
											</check>
										</repeat>
									</td>
									<td colspan="3">
										<button class="btn btn-sm btn-success pull-right" type="submit">Save</a>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
					<div class="card card-forum mb-3">
						<!-- begin card-header -->
						<div class="card-header f-w-600">
							Emergency Information
						</div>
						<!-- end card-header -->
						<!-- begin forum-list -->
						<form method="POST" action="/admin/application/view/{{@applicationID}}" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="formType" value="emergencyInfo">

							<table 
							class="table table-striped table-bordered table-td-valign-middle">
							<thead>
								<tr>
									<th class="text-nowrap">Title</th>
									<th class="text-nowrap">Value</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="userID" value="{{@userID}}">

								<repeat group="{{@emergencyDetails}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td style="text-transform: uppercase;font-weight: bold;">{{@value.title}}</td>
										<td>{{@value.value}}</td>
										<td>
											<check if="{{@value.isVerified}} == 'y'">
												Verified
											</check>
											<check if="{{@value.isVerified}} == 'p'">
												Pending
											</check>
											<check if="{{@value.isVerified}} == 'n'">
												Not Verified
											</check>
										</td>
										<td width="240">
											<check if="{{@value.isVerified}} != 'y'">
												<input type="checkbox" name="{{@value.key}}">
												Not Verified
												<false>
													<input type="checkbox" checked="checked" name="{{@value.key}}">
													Verified
												</false>
											</check>
										</td>
									</tr>
								</repeat>
								<tr>
									<td colspan="4">
										<button class="btn btn-sm btn-success pull-right" type="submit">Save</a>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
					<div class="card card-forum mb-3">
						<!-- begin card-header -->
						<div class="card-header f-w-600">
							Document Information
						</div>
						<!-- end card-header -->
						<!-- begin forum-list -->
						<form method="POST" action="/admin/application/view/{{@applicationID}}" class="form-horizontal" enctype="multipart/form-data">
							<input type="hidden" name="formType" value="documentInfo">

							<table 
							class="table table-striped table-bordered table-td-valign-middle">
							<thead>
								<tr>
									<th class="text-nowrap">Title</th>
									<th class="text-nowrap">Value</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<input type="hidden" name="userID" value="{{@userID}}">

								<repeat group="{{@documentDetails}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td style="text-transform: uppercase;font-weight: bold;">{{@value.title}}</td>
										<td>
											<check if="{{@value.docType}} != 'null'">
												<true>
													<a href="http://{{@SESSION.SERVER}}/{{@value.value}}" target="_blank">View</a>
												</true>
												
												<false>
													<check if="{{@value.value}} == 'Error While Processing the Request, Please contact XDS'">
														<true>
															<span class="text-danger text-wrap">{{@value.value}}</span>
														</true>
														<false>
										
														</false>
													</check>
												</false>
											</check>
										</td>
										<td>
											<check if="{{@value.isVerified}} == 'y'">
												Verified
											</check>
											<check if="{{@value.isVerified}} == 'p'">
												Pending
											</check>
											<check if="{{@value.isVerified}} == 'n'">
												Not Verified
											</check>
										</td>
										<td width="240">
											<check if="{{@value.isVerified}} != 'y'">
												<input type="checkbox" name="{{@value.key}}">
												Not Verified
												<false>
													<input type="checkbox" checked="checked" name="{{@value.key}}">
													Verified
												</false>
											</check>
										</td>
									</tr>
								</repeat>
								<tr>
									<td colspan="4">
										<button class="btn btn-sm btn-success pull-right" type="submit">Save</a>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
	<h1 class="page-header">
		<a href="/admin/applications" class="pull-right btn btn-sm btn-success">Back To Applications</a>
	</h1>
</div>
<!-- end #content -->