<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Forms</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Forms
	</h1>
	<!-- end page-header -->
	<!--row kpis-->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>TOTAL FORMS</h4>
					<p>{{@total_forms}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-info">
				<div class="stats-icon"><i class="fa fa-link"></i></div>
				<div class="stats-info">
					<h4>TOTAL SUBMISSIONS</h4>
					<p>{{@total_submissions}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>TOTAL ACTIVE</h4>
					<p>{{@active_forms}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock"></i></div>
				<div class="stats-info">
					<h4>TOTAL IN-ACTIVE</h4>
					<p>{{@inactive_forms}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!-- begin page-header -->
	<h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Create Form</a>
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Forms</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Form ID</th>
								<th class="text-nowrap">State</th>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Description</th>
								<!-- <th class="text-nowrap">Submissions</th> -->
								<th class="text-nowrap">Action</th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td width="2%" class="f-s-600 text-inverse">{{@value.id}}</td>
									<td>
										<input type="checkbox" {{@value.status}} data-render="switchery" onchange="update_form_state('{{@value.id}}');" data-theme="default" id="form-{{@value.id}}" style="display: none;" data-switchery="true">
									</td>
									<td>{{@value.title}}</td>
									<td>{{@value.description}}</td>
									<!-- <td><a href="/admin/form/{{@value.id}}/results" class="btn btn-primary btn-sm">View {{@value.results}} Submissions</a></td> -->
									<td width="290">
										<a href="/admin/form/{{@value.id}}/results" class="btn btn-xs btn-success">
											<i class="fa fa-trash"></i> View {{@value.results}} Submissions 
										</a>
										<a onclick="build_submission_form('{{@value.id}}', '{{@value.title}}');" class="btn btn-xs btn-primary">
											<i class="fa fa-edit"></i> Edit 
										</a>
										<a href="/admin/form/delete/{{@value.id}}" class="btn btn-xs btn-danger">
											<i class="fa fa-trash"></i> Delete
										</a>
										

									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog" style="max-width: 1024px;">

		<div class="modal-content">

			<div id="creating_form"></div>

			<form onsubmit="return save_form();" class="form-horizontal" name="demo-form" id="create_form">

				<div class="modal-header">
					<h4 class="modal-title">Add Form</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<!-- begin alert -->
				<div id="validation-alert"></div>
				<!-- end alert -->
				<div class="modal-body">
					<!-- begin nav-tabs -->
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a href="#default-tab-1" data-toggle="tab" class="nav-link active">
								<span class="d-sm-none">Details</span>
								<span class="d-sm-block d-none">Details</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#default-tab-2" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Fields</span>
								<span class="d-sm-block d-none">Fields</span>
							</a>
						</li>
					</ul>
					<!-- end nav-tabs -->

					<!-- begin tab-content -->
					<div class="tab-content">
						<!-- begin tab-pane -->
						<div class="tab-pane fade active show" id="default-tab-1">
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="formName" onkeypress="refresh()" id="formName" class="form-control" placeholder="Form Name"
									required="">
							</div>
							<br>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" id="formDescription" name="formDescription" rows="3"></textarea>
							</div>
						</div>
						<!-- end tab-pane -->
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="default-tab-2">
							<div class="form-group">
								<select class="form-control" id="field_type" name="field_type" onchange="createField(this.value);">
									<option value=""> Add a new field </option>
									<option value="checkbox">Checkbox</option>
									<option value="select">Select</option>
									<option value="text">Text</option>
									<option value="number">Number</option>
									<option value="file">Upload</option>
								</select>
							</div>

							

							<div class="panel panel-inverse">
							  <div class="panel-body">
							  	<form id="myFieldForm">
									<div id="fields">
										<div class="form-group">
											<label>Label</label>
											<input type="text" id="fieldLabel" name="fieldLabel" class="form-control" placeholder="Field Label"
												required="">
										</div>

										<div class="form-group">
											<input type="btn" onclick="save();" class="btn btn-success" value="Add">
										</div>
									</div>
								</form>
							  </div>
							</div>

							<div class="panel panel-inverse" i>
							  <div class="panel-body">
							  	<div id="select_options"></div>
							  </div>
							</div>

							<div id="createdFields"></div>
								
						</div>
						<!-- end tab-pane -->
					</div>
					<!-- end tab-content -->
				</div>

				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" onclick="return save_form();" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>

<!-- #modal-update-form -->
<div class="modal fade" id="modal-update-form">
	<div class="modal-dialog" style="max-width: 1024px;">
		<div class="modal-content">

			<div id="updating_form"></div>

			<form class="form-horizontal" name="demo-form" id="update_form">
				<input type="hidden" name="formID" id="formID" value="">
				<div class="modal-header">
					<h4 class="modal-title" id="form_header"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div id="createFields"></div>
					<div class="form-group">
						<a class="btn btn-info" onclick="add_field();">Add Field</a>
					</div>
					<div class="form-group">
						<select class="form-control" id="field_type_update" name="field_type_update" onchange="add_update_field(this.value);">
							<option value=""> Add a new field </option>
							<option value="checkbox">Checkbox</option>
							<option value="select">Select</option>
							<option value="text">Text</option>
							<option value="number">Number</option>
							<option value="file">Upload</option>
						</select>
					</div>

					<div class="panel panel-inverse" i>
					  <div class="panel-body">
					  	<div id="select_options_update"></div>
					  </div>
					</div>

					<form id="myFieldForm_Update">
						<div id="fields_update">
							<div class="form-group">
								<label>Label</label>
								<input type="text" id="fieldLabel_update" name="fieldLabel_update" class="form-control" placeholder="Field Label"
									required="">
							</div>

							<div class="form-group">
								<input type="btn" onclick="save_update();" class="btn btn-success" value="Add">
							</div>
						</div>
					</form>	
				</div>

				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" onclick="javascript:save_updated_form();" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">

	function update_form_state(form_id){
		var request = document.getElementById('form-'+form_id).checked;

		console.log(request);
		var state;
		if (request===true) {
			state = 1;
		} else if (request===false) {
			state = 0;
		}
		$.ajax({
			type: "POST",
			url: "/admin/form/state",
			data: "form_id="+form_id+'&state='+state,
			success: function(response){
				location.reload(1);				
			}
		});
	}
</script>

<script type="text/javascript">

	var select = [];

	var field = new Array();
	var option = new Array();
	var options = new Array();
	var form = new Array();

	var count = 0;
	var selectCount = 0;
	document.getElementById('fields').hidden = 'hidden';

	function createField(field){
		select = [];
		document.getElementById('select_options').hidden = 'hidden';
		document.getElementById('fields').hidden = '';
	}

	function save(){
		var type = document.getElementById('field_type').value;
		var label = document.getElementById('fieldLabel').value;

		field[count] = new Array();
		field[count]['label'] = label;
		field[count]['type'] = type;

		if (type=="checkbox") {
			document.getElementById('createdFields').insertAdjacentHTML('beforeend','<div id="input-'+count+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+'</label><div class="col-lg-9 col-xl-6"><p><input type="checkbox" id="check-'+count+'"> '+label+'</p></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField('+count+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
		} else if (type=="select") {
			document.getElementById('createdFields').insertAdjacentHTML('beforeend','<div class="form-group row" id="input-'+count+'"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+':</label><div class="col-lg-9 col-xl-6"><select class="form-control" id="select-'+count+'"><option value="" selected disabled> Choose '+label+'</option></select></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField('+count+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
			document.getElementById('select_options').hidden = '';
			document.getElementById('select_options').innerHTML = '<form id="myOptionsForm"><div id="options"><div id="alert"></div><div class="form-group row m-b-10"><div class="col-lg-3"><div class="form-group"><label>Label</label><input type="text" id="optionLabel" name="optionLabel" class="form-control" placeholder="Option Label"></div></div><div class="col-lg-9 col-xl-6"><div class="form-group"><label>Value</label><input type="text" id="optionValue" name="optionValue" class="form-control m-b-10" placeholder="Option Value"></div></div></div><div class="form-group"><a class="btn btn-success" onclick="save_option('+count+');">SAVE OPTION</a></div></div></form>';
		} else {
			document.getElementById('createdFields').insertAdjacentHTML('beforeend','<div id="input-'+count+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+':</label><div class="col-lg-9 col-xl-6"><input required type="'+type+'" placeholder="'+label+'" disabled class="form-control"></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField('+count+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
		}
		
		document.getElementById('field_type').selectedIndex = 0;
		document.getElementById('fields').hidden = 'hidden';
		document.getElementById('fieldLabel').value = '';
		count++;
	}

	function deleteField(position){
		document.getElementById("input-"+position).parentNode.removeChild(document.getElementById("input-"+position));
		if (field[position]['type']=='select') {
			document.getElementById('select_options').hidden = 'hidden';
			options.splice(position, 1);
		}
		field.splice(position, 1);
	}

	function save_option(position) {
		var labels = document.getElementById('optionLabel').value;
		var values = document.getElementById('optionValue').value;

		option[selectCount] = new Array();
		option[selectCount]['label'] = labels;
		option[selectCount]['value'] = values;

		select.push(option[selectCount]);

		options[position] = new Array();
		options[position]['options'] = select;

		var opt = document.createElement('option');
        opt.value = values;
        opt.innerHTML = labels;
        document.getElementById('select-'+position).appendChild(opt);

		document.getElementById('alert').innerHTML = '<p><span class="text-success">Option '+labels+' Added Succefuly! enter new variables to add another option</span></p>';
		document.getElementById('optionLabel').value = '';
		document.getElementById('optionValue').value = '';
		selectCount++;
	}

	function validate_form(){
		var result = false;
		if (document.getElementById('formName').value=="") {
			document.getElementById('validation-alert').innerHTML = '<div class="alert alert-danger fade show"><button type="button" class="close" data-dismiss="danger"><span aria-hidden="true">&times;</span></button>Your Form Name is either empty or invalid!!<br>Please enter a valid Form Name.</div>';
			result = false;
		} else {
			result = true;
		}
		return result;
	}

	function refresh(){
		document.getElementById('validation-alert').innerHTML = '';
	}
</script>

<!-- create form/save to db -->
<script type="text/javascript">
	function save_form() {

		if (validate_form()) {
			var name = document.getElementById('formName').value;
			var description = document.getElementById('formDescription').value;

			var i,x;
			var formFields = new Array();
			var formOptions = new Array();
			var build = new Array();
			for (i = 0; i < field.length; i++) {
				var myFieldOptions = [];
				if (field[i]['type']=="select") {
					for (x = 0; x < options[i]['options'].length; x++) {
						myFieldOptions.push('{ "label": "'+options[i]['options'][x]['label']+'", "value": "'+options[i]['options'][x]['value']+'" }');
					}
				} else {
					myFieldOptions = "";
				}
			  	build.push('{ "label": "'+field[i]['label']+'","type": "'+field[i]['type']+'" ,"options": [ '+myFieldOptions+'] }');
			}
			
			var buildForm = '{ "name": "'+name+'", "description": "'+description+'", "formData": ['+build+'] }';

			setTimeout(function () {
				document.getElementById('create_form').hidden = 'hidden';
				document.getElementById('creating_form').innerHTML = "<div class='modal-body'><div class='text-center'><img style='text-align: center;' src='https://storage.googleapis.com/smart-view-white-labeling-bucket/loading1.gif' alt='Please Wait. . .'><p style='color: green;'><b>Creating Your Form, Please wait...</b></p></div></div><script>";
				$.ajax({
		          type: "POST",
		          url: "/form/create/",
		          data: { form : buildForm },
		          dataType: "json",
		          success: function(msg){

		          	if (msg=="Form created successfully!") {
		          		document.getElementById('creating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: green;' class='fa fa-check fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Form Succesfully Created. Please Wait. . .</b></p></div></div>";
			          	setTimeout(function(){
							window.location.reload(1);
						}, 2000);
			          }else {
			          	document.getElementById('creating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: red;' class='fa fa-close fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Error Occured . Please Try Again... . .</b></p></div></div>";
			          	setTimeout(function(){
							window.location.reload(1);
						}, 2000);
			          }
		          	
		          },
		          error: function(error){
		          	document.getElementById('creating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: green;' class='fa fa-check fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Form Succesfully Created. Please Wait. . .</b></p></div></div>";
		          	setTimeout(function(){
						window.location.reload(1);
					}, 2000);
		          }
		        });	
			}, 1000);
		}
		return false;
	}
</script>

<!-- Update Form -->
<script type="text/javascript">
	document.getElementById('field_type_update').hidden = 'hidden';  
	document.getElementById('fields_update').hidden = 'hidden';
	var select_update = [];

	var field_update = new Array();
	var option_update = new Array();
	var options_update = new Array();
	var form_update = new Array();
	var field_update_create = new Array();
	var option_update_create = new Array();

	var count_update = 0;
	var selectCount_update = 0;
	var form_id = null;
	var field_counter = 0;

	function build_submission_form(form_id, form_name) {
		document.getElementById('form_header').innerHTML = 'Update '+form_name+' Form';
		document.getElementById('createFields').innerHTML = '';
		document.getElementById('formID').value = form_id;
		form_id = form_id;

		//get form fields
		$.ajax({
          type: "POST",
          url: "/user/form/fields",
          data: 'form_id='+form_id,
          success: function(data){
          	
	       	for (var i = JSON.parse(data).length - 1; i >= 0; i--) {

	       		if (JSON.parse(data)[i]['type'] == 'select') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group row" id="input-update-created-'+i+'"><label class="col-lg-3 text-lg-right col-form-label">'+JSON.parse(data)[i]['type'].charAt(0).toUpperCase() + JSON.parse(data)[i]['type'].slice(1)+':</label><div class="col-lg-9 col-xl-6"><select class="form-control" id="field-'+JSON.parse(data)[i]['id']+'"><option value="" selected disabled> Choose '+JSON.parse(data)[i]['type']+'</option></select></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="delete_update_Field('+i+','+JSON.parse(data)[i]['id']+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');

	       			var field_id = JSON.parse(data)[i]['id'];
	       			$.ajax({
	       				type: "POST",
	       				url: "/user/field/options",
	       				data: "field_id="+field_id,
	       				success: function(options){
	       					for (var x = JSON.parse(options).length - 1; x >= 0; x--) {
		       					var opt = document.createElement('option');
						        opt.value = JSON.parse(options)[x]['value'];
						        opt.innerHTML = JSON.parse(options)[x]['title'];
						        document.getElementById('field-'+field_id).appendChild(opt);
						    }
	       				}
	       			});
	       		} else if (JSON.parse(data)[i]['type'] == 'checkbox') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend','<div id="input-update-created-'+i+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+JSON.parse(data)[i]['type'].charAt(0).toUpperCase() + JSON.parse(data)[i]['type'].slice(1)+'</label><div class="col-lg-9 col-xl-6"><p><input type="checkbox" id="check-'+JSON.parse(data)[i]['id']+'"> '+JSON.parse(data)[i]['title']+'</p></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="delete_update_Field('+i+','+JSON.parse(data)[i]['id']+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');

	       		} else {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend','<div id="input-update-created-'+i+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+JSON.parse(data)[i]['type'].charAt(0).toUpperCase() + JSON.parse(data)[i]['type'].slice(1)+':</label><div class="col-lg-9 col-xl-6"><input required type="'+JSON.parse(data)[i]['type']+'" placeholder="'+JSON.parse(data)[i]['title']+'" disabled class="form-control"></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="delete_update_Field('+i+','+JSON.parse(data)[i]['id']+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');

	       		} 
	       	}
	       	$('#modal-update-form').modal('show');
          	
          },
          error: function(error){
          	console.log(error);
          }
        });

		//create form
	}

	function add_field(){
		document.getElementById('field_type_update').hidden = '';
	}
	//done

	function add_update_field(){
		select_update = [];
		document.getElementById('select_options_update').hidden = 'hidden';
		document.getElementById('fields_update').hidden = '';
	}
	//done

	function save_update(){
		var type = document.getElementById('field_type_update').value;
		var label = document.getElementById('fieldLabel_update').value;

		field_update_create[count_update] = new Array();
		field_update_create[count_update]['label'] = label;
		field_update_create[count_update]['type'] = type;
		field_update_create[count_update]['id'] = '';

		if (type=="checkbox") {
			document.getElementById('createFields').insertAdjacentHTML('beforeend','<div id="input-update-'+count+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+'</label><div class="col-lg-9 col-xl-6"><p><input type="checkbox" id="check-'+count_update+'"> '+label+'</p></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField_update('+count_update+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
		} else if (type=="select") {
			document.getElementById('createFields').insertAdjacentHTML('beforeend','<div class="form-group row" id="input-update-'+count_update+'"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+':</label><div class="col-lg-9 col-xl-6"><select class="form-control" id="select-update-'+count_update+'"><option value="" selected disabled> Choose '+label+'</option></select></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField_update('+count_update+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
			document.getElementById('select_options_update').hidden = '';
			document.getElementById('select_options_update').innerHTML = '<form id="myOptionsForm"><div id="options_update"><div id="alert_update"></div><div class="form-group row m-b-10"><div class="col-lg-3"><div class="form-group"><label>Label</label><input type="text" id="optionLabel_update" name="optionLabel_update" class="form-control" placeholder="Option Label"></div></div><div class="col-lg-9 col-xl-6"><div class="form-group"><label>Value</label><input type="text" id="optionValue_update" name="optionValue_update" class="form-control m-b-10" placeholder="Option Value"></div></div></div><div class="form-group"><a class="btn btn-success" onclick="save_option_update('+count_update+');">SAVE OPTION</a></div></div></form>';
		} else {
			document.getElementById('createFields').insertAdjacentHTML('beforeend','<div id="input-update-'+count_update+'" class="form-group row"><label class="col-lg-3 text-lg-right col-form-label">'+type.charAt(0).toUpperCase() + type.slice(1)+':</label><div class="col-lg-9 col-xl-6"><input required type="'+type+'" placeholder="'+label+'" disabled class="form-control"></div><label class="col-lg-3 text-lg-left col-form-label"><a class="btn" onclick="deleteField_update('+count_update+');"><span class="text-danger"><i class="fa fa-trash"></i> Delete</span></a> </label></div>');
		}
		
		document.getElementById('field_type_update').selectedIndex = 0;
		document.getElementById('fields_update').hidden = 'hidden';
		document.getElementById('fieldLabel_update').value = '';
		document.getElementById('field_type_update').hidden = 'hidden';
		count_update++;
	}
	//done

	function save_option_update(position) {
		var labels = document.getElementById('optionLabel_update').value;
		var values = document.getElementById('optionValue_update').value;

		option_update[selectCount_update] = new Array();
		option_update[selectCount_update]['label'] = labels;
		option_update[selectCount_update]['value'] = values;
		option_update[selectCount_update]['id'] = '';

		select_update.push(option_update[selectCount_update]);

		option_update_create[position] = new Array();
		option_update_create[position]['options'] = select_update;

		var opt = document.createElement('option');
        opt.value = values;
        opt.innerHTML = labels;
        document.getElementById('select-update-'+position).appendChild(opt);
		document.getElementById('alert_update').innerHTML = '<p><span class="text-success">Option '+labels+' Added Succefuly! enter new variables to add another option</span></p>';
		document.getElementById('optionLabel_update').value = '';
		document.getElementById('optionValue_update').value = '';
		selectCount_update++;
	}
	//done

	function deleteField_update(position){
		document.getElementById("input-update-"+position).parentNode.removeChild(document.getElementById("input-update-"+position));
		if (field_update_create[position]['type']=='select') {
			document.getElementById('select_options_update').hidden = 'hidden';
			option_update_create.splice(position, 1);
		}
		field_update_create.splice(position, 1);
	}
	//done

	function delete_update_Field(position, field_id, field_type){
		field_update[field_counter] = new Array();
		field_update[field_counter]['id'] = field_id;

		document.getElementById("input-update-created-"+position).parentNode.removeChild(document.getElementById("input-update-created-"+position));

		field_counter++;
	}
	//done

	function save_updated_form(){

		var i,x,a;
		var formFields = new Array();
		var formOptions = new Array();
		var build = new Array();
		for (i = 0; i < field_update_create.length; i++) {
			var myFieldOptions = [];
			if (field_update_create[i]['type']=="select") {
				for (x = 0; x < option_update_create[i]['options'].length; x++) {
					myFieldOptions.push('{ "label": "'+option_update_create[i]['options'][x]['label']+'", "value": "'+option_update_create[i]['options'][x]['value']+'" }');
				}
			} else {
				myFieldOptions = "";
			}
		  	build.push('{ "label": "'+field_update_create[i]['label']+'","type": "'+field_update_create[i]['type']+'" ,"options": [ '+myFieldOptions+'] }');
		}
		
		var buildForm = '{ "formID": "'+document.getElementById('formID').value+'", "formData": ['+build+'] }';

		var buildDelete = new Array();
		for (a = 0; a < field_update.length; a++) {
			buildDelete.push('{ "id": "'+field_update[a]['id']+'", "fieldID": "'+field_update[a]['id']+'" }');
		}

		var buildDeleteForm = '{ "fields": [ '+buildDelete+'] }';
	
		setTimeout(function () {
			document.getElementById('update_form').hidden = 'hidden';
			document.getElementById('updating_form').innerHTML = "<div class='modal-body'><div class='text-center'><img style='text-align: center;' src='https://storage.googleapis.com/smart-view-white-labeling-bucket/loading1.gif' alt='Please Wait. . .'><p style='color: green;'><b>Updating Your Form, Please wait...</b></p></div></div><script>";
			$.ajax({
	          type: "POST",
	          url: "/form/update/",
	          data: { form : buildForm, deleted : buildDeleteForm },
	          dataType: "json",
	          success: function(msg){

	          	if (msg=="Form updated successfully!") {
	          		document.getElementById('updating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: green;' class='fa fa-check fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Form Succesfully Updated. Please Wait. . .</b></p></div></div>";
		          	setTimeout(function(){
						window.location.reload(1);
					}, 2000);
		          }else {
		          	document.getElementById('updating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: red;' class='fa fa-close fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Error Occured . Please Try Again... . .</b></p></div></div>";
		          	setTimeout(function(){
						window.location.reload(1);
					}, 2000);
		          }
	          	
	          },
	          error: function(error){
	          	document.getElementById('updating_form').innerHTML = "<div class='modal-body'><div class='text-center'><i style='color: green;' class='fa fa-check fa-4x mb-3 animated rotateIn'></i><p style='color: green;'><b>Form Succesfully Updated. Please Wait. . .</b></p></div></div>";
	          	setTimeout(function(){
					window.location.reload(1);
				}, 2000);
	          }
	        });	
		}, 1000);

		return false;
	}
</script>