begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item">Forms</li>
		<li class="breadcrumb-item active">Results</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Medical Questionare Form Results
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Results</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Submission ID</th>
								<th class="text-nowrap">Date Submitted</th>
								<th class="text-nowrap">Applicant Name</th>
								<th class="text-nowrap">Applicant Email</th>
								<repeat group="{{@fields}}" key="{{@key}}" value="{{@field}}">
									<th class="text-nowrap">{{@field.title}}</th>
								</repeat>
							</tr>
						</thead>
						<tbody>
							<loop from="{{ @i=0 }}" to="{{ @i < @rowCount }}" step="{{ @i++ }}">
								<tr class="odd gradeX">
									<td width="2%" class="f-s-600 text-inverse">{{@submissions[@i]['id']}}</td>
									<td>{{@submissions[@i]['dateCreated']}}</td>
									<td>{{@submissions[@i]['firstName']}} {{@submissions[@i]['lastName']}}</td>
									<td>{{@submissions[@i]['email']}}</td>
									<loop from="{{ @x=0 }}" to="{{ @x < @fieldsCount }}" step="{{ @x++ }}">
										<td>{{@data[@i][@x][0]['data']}}</td>
									</loop>
								</tr>
							</loop>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content