<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Trench</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Additional Submission Form Update
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<button onclick="build_submission_form('{{@form_id}}');" class="btn btn-default">click here</button>
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<form method="post" onsubmit="return checkForm();" action="/admin/users/update/{{@POST.id}}">
					<div class="modal-header">
						<h4 class="modal-title">Update Form</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div id="createFields"></div>	
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
						<input id="btnSave" type="submit" class="btn btn-success" value="Save">
					</div>
				</form>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->