<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Invoices</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Invoices
	</h1>
	<!-- end page-header -->
	<!--row kpis-->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>Deposit & Lease Invoices Issued</h4>
					<p>{{@totalInvoices}}</p>
				</div>
				<div class="stats-link">
					<!-- <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a> -->
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-info">
				<div class="stats-icon"><i class="fa fa-link"></i></div>
				<div class="stats-info">
					<h4>Total Paid Invoices</h4>
					<p>{{@paidInvoices}}</p>
				</div>
				<div class="stats-link">
					<!-- <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a> -->
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>Total Pending Invoices</h4>
					<p>{{@pendingInvoices}}</p>
				</div>
				<div class="stats-link">
					<!-- <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a> -->
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock"></i></div>
				<div class="stats-info">
					<h4>Total Income</h4>
					<p>R {{@totalIncome}}</p>
				</div>
				<div class="stats-link">
					<!-- <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a> -->
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!--end kpis-->

	<!-- begin page-header -->
	<h1 class="page-header">
		<!-- <a href="#modal-create" class="btn btn-sm btn-success" data-toggle="modal">Create Invoice</a> -->
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Invoices</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Invoice No</th>
								<th class="text-nowrap">Recipient</th>
								<th class="text-nowrap">Description</th>
								<th class="text-nowrap">Date</th>
								<th class="text-nowrap">Status</th>
								<th class="text-nowrap">Inv Total</th>
								<th class="text-nowrap">Paid</th>
								<th class="text-nowrap">Action</th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@invoices}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td>inv{{@value.id}}</td>
									<td>{{@value.recipient}}</td>
									<td>{{@value.description}}</td>
									<td>{{@value.dateCreated}}</td>
									<td>{{@value.status}}</td>
									<td>{{@value.invoiceTotal}}</td>
									<td>{{@value.paid}}</td>
									<td width="240">
										<a href="/admin/invoice/delete/{{@value.id}}" class="btn btn-sm btn-danger">
											<i class="fa fa-trash"></i> Delete
										</a>
										<a href="/view/invoice/{{@value.id}}" class="btn btn-sm btn-success" target="_blank">
											<i class="fa fa-pencil"></i>
											 View
										</a>
									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog" style="max-width:1024px;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Invoice</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">

						<div class="invoice">
							<div class="invoice-header">
								<div class="row">
									<div class="col-xs-8">
										<h1>Invoice <small></small></h1>
										<br>
										<h5 class="text-muted">
											INVOICE NO# : 2018001
										</h5>
										<br>
									</div>
									<div class="col-xs-4">
										<div class="media">
											<div class="media-left">
												<img class="media-object logo" src="/static/img/logo.png">
												<br>
												<h5 class="text-muted pull-right">INVOICE DATE : 2018-05-01 </h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="invoice-body">
								<!--<div class="row">-->
								<!--<div class="col-xs-12">-->
								<!--<div class="panel panel-default">-->
								<!--<div class="panel-heading">-->
								<!--<h3 class="panel-title">Tenant Details</h3>-->
								<!--</div>-->
								<!--<div class="panel-body">-->
								<!--<dl class="dl-horizontal">-->

								<!--<dt>Company Name</dt>-->
								<!--<dd id="tenant_company_name"></dd>-->

								<!--<dt>Company Reg No#</dt>-->
								<!--<dd id="tenant_company_registration_number"></dd>-->

								<!--<dt>Address</dt>-->
								<!--<dd id="tenant_physical_address"></dd>-->

								<!--<dt>Phone</dt>-->
								<!--<dd id="tenant_telephone"></dd>-->

								<!--<dt>Email</dt>-->
								<!--<dd id="tenant_email"></dd>-->

								<!--<dt>Tax NO</dt>-->
								<!--<dd class="mono"></dd>-->

								<!--<dt>&nbsp;</dt>-->
								<!--<dd>&nbsp;</dd>-->
								<!--</dl>-->
								<!--</div>-->
								<!--</div>-->
								<!--</div>-->
								<!--</div>-->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Lint Items</h3>
									</div>
									<table class="table table-bordered table-condensed">
										<thead>
											<tr>
												<th>Item / Details</th>
												<th class="text-center colfix">Unit Cost</th>
												<th class="text-center colfix">Discount</th>
												<th class="text-center colfix">Tax</th>
												<th class="text-center colfix">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													Monthly Rental
													<br>
													<small class="text-muted"> ***</small>
												</td>
												<td class="text-right">
													<span class="mono"> 35000.00</span>
													<br>
													<small class="text-muted">(Before Tax)</small>
												</td>
												<td class="text-right">
													<span class="mono">- 0.00</span>
													<br>
													<small class="text-muted">(0%)</small>
												</td>
												<td class="text-right">
													<span class="mono"> 5250.00</span>
													<br>
													<small class="text-muted">(VAT 15%)</small>
												</td>
												<td class="text-right">
													<strong class="mono"> 40250.00</strong>
													<br>
													<small class="text-muted mono">***</small>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="panel panel-default">
									<br><br>
									<table class="table table-bordered table-condensed">
										<thead>
											<tr>
												<td class="text-center col-xs-1">Sub Total</td>
												<td class="text-center col-xs-1">Discount</td>
												<td class="text-center col-xs-1"> </td>
												<td class="text-center col-xs-1">Tax</td>
												<td class="text-center col-xs-1">Final</td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th class="text-center rowtotal mono"> 35000.00</th>
												<th class="text-center rowtotal mono"> 0.00 </th>
												<th class="text-center rowtotal mono"> </th>
												<th class="text-center rowtotal mono"> 5250.00 </th>
												<th class="text-center rowtotal mono"> 40250.00 </th>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
							<div class="invoice-footer">
								<br><br>
								Thank you for choosing our services.
								<br> We hope to see you again soon
								<strong class="pull-right">~The Team~</strong>
								<br><br>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
			</div>

		</div>
	</div>
</div>

<!-- #modal-dialog -->
<div class="modal fade" id="modal-create">
	<div class="modal-dialog" style="max-width:1024px;">
		<div class="modal-content">
			<form method="post" action="/admin/invoice/create">
				<div class="modal-header">
					<h4 class="modal-title">Create Invoice</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="invoice-view">

								<div class="invoice-heading">
									TENANT INVOICE
								</div>

								<div class="col-md-12">
									<div class="col-md-6 invoice-logo-area">
										<img src="/static/img/logo.png" class="invoice-logo" height="50px">
									</div>
									<div class="col-md-12 invoice-address-area text-right">
										Unit 00 , Block/ Unit <br>
										00 Street Address <br>
										Suburb <br>
										City <br>
										Zip <br>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label>INVOICE PREPARED FOR</label>
											<select class="form-control" name="tenant_id">
												<option value="GL0"> - select tenant (account)</option>
											</select>
										</div>
									</div>
								</div>

								<div class="row clearfix">
									<div class="col-md-12">
										<table class="table table-bordered table-hover" id="tab_logic">
											<thead>
												<tr>
													<th class="text-center" style="width:10%"> Date</th>
													<th class="text-center" style="width:40%"> Description</th>
													<th class="text-center" style="width:10%"> Qty</th>
													<th class="text-center" style="width:20%"> Price</th>
													<th class="text-center" style="width:20%"> Total</th>
												</tr>
											</thead>
											<tbody>
												<tr id="addr0">
													<td>
														<input class="form-control" type="text" id="datepicker"
															name="date">
													</td>
													<td>
														<select class="form-control" name="description"
															onchange="option_checker(this);">
															<option value="">Select Product</option>
															<option value="Monthly Rent">Monthly Rent</option>
															<option value="Electricity">Electricity</option>
															<option value="Rates &amp; Taxes">Rates &amp; Taxes
															</option>
														</select>
													</td>
													<td>
														<input type="number" name="qty" placeholder="Enter Qty"
															class="form-control qty" step="0" min="0">
													</td>
													<td>
														<input type="number" name="price" placeholder="Enter Unit Price"
															class="form-control price" step="0.00" min="0">
													</td>
													<td>
														<input type="number" name="total" placeholder="0.00"
															class="form-control total" readonly="">
													</td>
												</tr>
												<tr id="addr1"></tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="row clearfix">
									<div class="col-md-12">
										<!--<button id="add_row" class="btn btn-default pull-left">Add Row</button>-->
										<!--<button id='delete_row' class="pull-right btn btn-default">Delete Row</button>-->
									</div>
								</div>

								<div class="row clearfix" style="margin-top:20px">
									<div class="pull-right col-md-4">
										<table class="table table-bordered table-hover" id="tab_logic_total">
											<tbody>
												<tr>
													<th class="text-center">Sub Total</th>
													<td class="text-center"><input type="number" name="sub_total"
															placeholder="0.00" class="form-control" id="sub_total"
															readonly=""></td>
												</tr>
												<tr>
													<th class="text-center">Tax</th>
													<td class="text-center">
														<div class="input-group mb-2 mb-sm-0">
															<input type="number" class="form-control" name="tax"
																id="tax" placeholder="0">
															<div class="input-group-addon">%</div>
														</div>
													</td>
												</tr>
												<tr>
													<th class="text-center">Tax Amount</th>
													<td class="text-center">
														<input type="number" name="vat" id="tax_amount"
															placeholder="0.00" class="form-control" readonly="">
													</td>
												</tr>
												<tr>
													<th class="text-center">Grand Total</th>
													<td class="text-center">
														<input type="number" name="grand_total" id="total_amount"
															placeholder="0.00" class="form-control" readonly="">
													</td>
												</tr>
											</tbody>
										</table>
										<div class="col-md-6">
											&nbsp; &nbsp;
										</div>
										<div class="col-md-6">
											<br>
											<input type="hidden" name="paid_status" value="0">
											<input type="hidden" name="discount" value="0">
											<input type="hidden" name="created_by" value="0">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>