<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Tenants</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">Tenants</h1>
	<!-- end page-header -->

	<!-- begin page-header -->
	<!-- <h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Add Tenant</a>
	</h1> -->
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Tenants</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Complex</th>
								<th class="text-nowrap">Unit</th>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Email</th>
								<th class="text-nowrap">Phone</th>
								<th class="text-nowrap">Date Created</th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@tenant}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td>{{@value.region}} {{@value.complexName}}</td>
									<td>{{@value.unitName}}</td>
									<td>{{@value.firstName}} {{@value.lastName}}</td>
									<td>{{@value.email}}</td>
									<td>{{@value.phone}}</td>
									<td>{{@value.dateUpdated}}</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog" style="max-width: 1024px;">
		<div class="modal-content">
			<form action="/" method="POST" class="form-control-with-bg">
				<div class="modal-header">
					<h4 class="modal-title">Add Tenant</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<!-- begin wizard-form -->
							<!-- begin wizard -->
							<div id="wizard">
								<!-- begin wizard-step -->
								<ul>
									<li>
										<a href="#step-1">
											<span class="number">1</span>
											<span class="info">
												Personal Info
												<small>Name, Surname, ID No, Address, and DOB</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-2">
											<span class="number">2</span>
											<span class="info">
												Contact Info
												<small>Email, Tel and Cell No</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-3">
											<span class="number">3</span>
											<span class="info">
												Employment Info
												<small>Occupation, Employer, Income and Expenses</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-4">
											<span class="number">4</span>
											<span class="info">
												Emergency Contact Info
												<small>Next of Kin</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-5">
											<span class="number">5</span>
											<span class="info">
												Completed
												<small>Complete Registration</small>
											</span>
										</a>
									</li>
								</ul>
								<!-- end wizard-step -->
								<!-- begin wizard-content -->
								<div>
									<!-- begin step-1 -->
									<div id="step-1">
										<!-- begin fieldset -->
										<fieldset>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-8 -->
												<div class="col-xl-8 offset-xl-2">
													<legend
														class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
														Personal info about yourself</legend>
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">First Name
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="firstname" placeholder="John"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Last Name
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="lastname" placeholder="Smith"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">ID
															No/Passport No <span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" maxlength="13" name="idNumber"
																placeholder="9813478245984" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Date of
															Birth <span class="text-danger">&nbsp;</span></label>
														<div class="col-lg-9 col-xl-6">
															<div class="row row-space-6">
																<div class="col-4">
																	<select class="form-control" name="year"
																		id="dropdownYear">
																		<option selected>-- Year --</option>
																	</select>
																</div>
																<div class="col-4">
																	<select class="form-control" name="month"
																		id="dropdownMonth">
																		<option selected>-- Month --</option>
																	</select>
																</div>
																<div class="col-4">
																	<select class="form-control" name="day"
																		id="dropdownDays">
																		<option selected>-- Day --</option>
																	</select>
																</div>
															</div>
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label
															class="col-lg-3 text-lg-right col-form-label">Address</label>
														<div class="col-lg-9">
															<input type="text" name="address1" placeholder="Address 1"
																class="form-control m-b-10">
															<input type="text" name="address2" placeholder="Address 2"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
												</div>
												<!-- end col-8 -->
											</div>
											<!-- end row -->
										</fieldset>
										<!-- end fieldset -->
									</div>
									<!-- end step-1 -->
									<!-- begin step-2 -->
									<div id="step-2">
										<!-- begin fieldset -->
										<fieldset>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-8 -->
												<div class="col-xl-8 offset-xl-2">
													<legend
														class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
														You contact info, so that we can easily reach you</legend>
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Email
															Address <span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="email" name="email"
																placeholder="someone@example.com" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Tel No
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="number" name="telNumber"
																placeholder="123-456-7890" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Cell No
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="number" name="cellNumber"
																placeholder="123-456-7890" class="form-control">
														</div>
													</div>
													<!-- end form-group -->

												</div>
												<!-- end col-8 -->
											</div>
											<!-- end row -->
										</fieldset>
										<!-- end fieldset -->
									</div>
									<!-- end step-2 -->
									<!-- begin step-3 -->
									<div id="step-3">
										<!-- begin fieldset -->
										<fieldset>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-8 -->
												<div class="col-xl-8 offset-xl-2">
													<legend
														class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
														Employment Information</legend>
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Occupation
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="occupation"
																placeholder="Senior Developer" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Employer
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="employer" placeholder="Google"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Employer
															Contact<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="number" name="cellNumber"
																placeholder="123-456-7890" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Income
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="income" placeholder="R 34 000.00"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Expenses
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="expenses" placeholder="R 21 000.00"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->
												</div>
												<!-- end col-8 -->
											</div>
											<!-- end row -->
										</fieldset>
										<!-- end fieldset -->
									</div>
									<!-- end step-3 -->
									<!-- begin step-4 -->
									<div id="step-4">
										<!-- begin fieldset -->
										<fieldset>
											<!-- begin row -->
											<div class="row">
												<!-- begin col-8 -->
												<div class="col-xl-8 offset-xl-2">
													<legend
														class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">
														You emergency contact info, so that we can easily reach your
														loved onces</legend>
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Next of
															Keen <span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="text" name="nextOfKeen"
																placeholder="Will Parkins" class="form-control">
														</div>
													</div>
													<!-- end form-group -->
													<!-- begin form-group -->
													<div class="form-group row m-b-10">
														<label class="col-lg-3 text-lg-right col-form-label">Contact
															<span class="text-danger">*</span></label>
														<div class="col-lg-9 col-xl-6">
															<input type="number" name="telNumber"
																placeholder="123-456-7890" data-parsley-type="number"
																class="form-control">
														</div>
													</div>
													<!-- end form-group -->

												</div>
												<!-- end col-8 -->
											</div>
											<!-- end row -->
										</fieldset>
										<!-- end fieldset -->
									</div>
									<!-- end step-4 -->
									<!-- begin step-5 -->
									<div id="step-5">
										<div class="jumbotron m-b-0 text-center">
											<h2 class="display-4">Profile Successfully Created</h2>
											<!-- animated -->
											<div class="progress rounded-corner progress-striped active">
												<div class="progress-bar bg-purple" style="width: 80%">
													80 % Completed
												</div>
											</div>
											<p class="lead mb-4">Once your profile is 100% completed you will be able to
												submit an application </p>
											<p><a href="/client/" class="btn btn-primary btn-lg">Proceed to
													Dashboard</a></p>
										</div>
									</div>
									<!-- end step-5 -->
								</div>
								<!-- end wizard-content -->
							</div>
							<!-- end wizard -->
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>