<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">User</a></li>
		<li class="breadcrumb-item active">Additional Info</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Additional Information Requested
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Requests</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Form Name</th>
								<th class="text-nowrap">Description</th>
								<th class="text-nowrap">Date Created</th>
								<th class="text-nowrap">Date Submitted</th>
								<th class="text-nowrap">Submission</th>
								<th class="text-nowrap">Action</th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td>{{@value.title}}</td>
									<td>{{@value.description}}</td>
									<td>{{@value.dateCreated}}</td> 
									<td>{{@value.dateCreated}}</td>
									<td>{{@value.submissions}}</td>
									<td width="240">
										<a href="javascript:void(0)" onclick="build_submission_form('{{@value.id}}', '{{@value.title}}')" class="btn btn-xs btn-primary  pull-right">
											<i class="fa fa-pencil"></i> SUBMIT
										</a>
									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog" style="max-width: 1024px;">
		<div class="modal-content">

			<div id="creating_form"></div>

			<form action="/additional-info" method="POST" value="{{ @CSRF }}" class="form-horizontal" name="demo-form">
				<input type="hidden" name="formID" id="formID" value="">

				<div class="modal-header">
					<h4 class="modal-title" id="form_header"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div id="createFields"></div>		
				</div>

				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	function build_submission_form(form_id, form_name) {
		document.getElementById('form_header').innerHTML = form_name+' Form';
		document.getElementById('createFields').innerHTML = '';
		document.getElementById('formID').value = form_id;

		//get form fields
		$.ajax({
          type: "POST",
          url: "/user/form/fields",
          data: 'form_id='+form_id,
          success: function(data){

	       	for (var i = JSON.parse(data).length - 1; i >= 0; i--) {

	       		if (JSON.parse(data)[i]['type'] == 'select') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><select class="form-control" id="field-'+JSON.parse(data)[i]['id']+'" name="field-'+JSON.parse(data)[i]['id']+'"><option selected value=""> Choose '+JSON.parse(data)[i]['title']+'</option></select></div>');
	       			var field_id = JSON.parse(data)[i]['id'];
	       			$.ajax({
	       				type: "POST",
	       				url: "/user/field/options",
	       				data: "field_id="+field_id,
	       				success: function(options){
	       					for (var x = JSON.parse(options).length - 1; x >= 0; x--) {
		       					var opt = document.createElement('option');
						        opt.value = JSON.parse(options)[x]['value'];
						        opt.innerHTML = JSON.parse(options)[x]['title'];
						        console.log(opt);
						        document.getElementById('field-'+field_id).appendChild(opt);
						    }
	       				}
	       			});
	       		} else if (JSON.parse(data)[i]['type'] == 'checkbox') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><p><input type="'+JSON.parse(data)[i]['type']+'" required name="field-'+JSON.parse(data)[i]['id']+'" id="field-'+JSON.parse(data)[i]['id']+'"> '+JSON.parse(data)[i]['title']+'</p></div>');
	       		} else {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><label>'+JSON.parse(data)[i]['title']+'</label><input type="'+JSON.parse(data)[i]['type']+'" name="field-'+JSON.parse(data)[i]['id']+'" class="form-control" placeholder="'+JSON.parse(data)[i]['title']+'" required=""></div>');
	       		} 

	       	}
	       	$('#modal-dialog').modal('show');
          	
          },
          error: function(error){
          	console.log(error);
          }
        });

		//create form
	}
</script>