<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"> </h4>
			</div>
			<div class="modal-body">
				<form role="form" class="form-horizontal form-striped" method="post" action="/users/create">
					<div class="form-group">
						<input class="form-control input-sm" id="firstname" name="usr_firstname" placeholder="First Name " type="text">
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<input class="form-control input-sm" id="surname" name="usr_surname" placeholder="Surname" type="text">
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<input class="form-control input-sm" id="email" name="usr_email" placeholder="Email" type="text">
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<input class="form-control input-sm" id="phone" name="usr_phone" placeholder="Phone" type="text">
					</div>
					<div class="form-group">
						<input class="form-control input-sm" id="password" name="usr_password" placeholder="Password" type="text">
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<select class="form-control input-sm mb-15" name="usr_usertype">
							<option value="app">App User</option>
							<option value="sys">System User</option>
						</select>
					</div>
					<!-- /.form-group -->
				
					<!-- /.form-group -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect waves-ripple" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-theme waves-effect waves-ripple">Save changes</button>
			</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
