<repeat group="{{@audit_questions}}"  key="{{@ikey}}" value="{{@audit_question}}">
    <div class="modal fade in" id="AnswerModal-{{@audit_question.que_id }}" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color:black">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Audit Question</h4>
                    <h4 class="modal-title"> </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        Text input question allows the auditor to always input text in response to the given text.
                    </div>
                    <form role="form" class="form-horizontal async-answers" method="post" action="/api/create/answers">

                        <check if="{{@audit_question.que_type}} ==1">

                            <label for="ans_answer">{{@audit_question.que_title }} ?</label>
                            <input id="ans_answer" name="ans_answer" class="form-control" placeholder="Answer" type="text">

                        </check>

                        <check if="{{@audit_question.que_type}}==2">

                            <label for="ans_answer">{{@audit_question.que_title }} ?</label>
                            <select id="ans_answer" name="ans_answer" class="form-control">
                            <repeat group="{{@trueorfalse_answers}}" value="{{@trueorfalse_answer }}">
                            
                                    <option value="{{@trueorfalse_answer }}">{{@trueorfalse_answer}}</option>
                                </repeat>
                            </select>
                        </check>
                        <check if="{{@audit_question.que_type}} ==3">
                            <label for="ans_answer">{{@audit_question.que_title }} ?</label>
                            <select id="ans_answer" name="ans_answer" class="form-control">
                                <repeat group="{{@dropdown_answers}}" value="{{@dropdown_answer }}">
                                    <option value="{{@dropdown_answer }}">{{@dropdown_answer}}</option>
                                </repeat>
                            </select>

                        </check>
                        <check if="{{@audit_question.que_type}}== 4">
                            <label for="ans_answer">{{@audit_question.que_title }} ?</label>
                            <strong>Please press control (ctrl) to select more than one answer</strong>
                            <select id="ans_answer" name="ans_answer[]" class="form-control" multiple="multiple">
                                    <repeat group="{{@multiple_answers}}" value="{{@multiple_answer }}">
                                            <option value="{{@multiple_answer }}">{{@multiple_answer}}</option>
                                        </repeat>
                            </select>

                        </check>
                        <check if="{{@audit_question.que_type}}== 5">
                            <label for="ans_answer">{{@audit_question.que_title }} ?</label>
                            <!-- <input id="ans_answer" name="ans_answer" type="file" class="form-control" placeholder="Answer"> -->
                            <input id="ans_answer" type="file" name="attachment">

                        </check>


                        <br>

                        <br>
                        <!--hidden fields -->
                        <input id="ans_que_id" required name="que_type" value="{{@audit_question.que_type}}" type="hidden">
                        <input id="ans_que_id" required name="ans_que_id" value="{{@audit_question.que_id}}" type="hidden">

                        <input id="ans_chk_id" required name="ans_chk_id" value="{{@audit_question.chk_id }}" type="hidden">

                        <input id="ans_que_id" required name="ans_grp_id" value="{{@audit_question.grp_id }}" type="hidden">
                        <input id="ans_aud_id" required name="ans_aud_id" value="{{@audit_question.aud_id }}" type="hidden">
                        <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
                        <button class="btn btn-success  pull-right " type="submit" id="btnSave"> Save</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>



</repeat>

<script>
      $(document).ready(function()
    {
        
        $(document).on('submit', 'form.async-answers', function (event) {
            event.preventDefault();
            var form = $(this);
            $(this).ajaxSubmit({
                type: form.attr('method'),
                success: function (response) {

                $.toast({
                    heading: 'Success',
                    text: "Question Successfully Saved",
                    position: 'top-center',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 10000,
                    stack: 6
                });
                location.reload(); 
                // $('.async-answers')[0].reset();  
    
                },
                error: function (data) {
    
                },
                complete: function (data) {
                    var result = JSON.parse(data.responseText);
                    if (result.reload) {
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
    
                    if (result.redirect) {
                        setTimeout(function () {
                            location.href = result.redirect;
                        }, 2000);
                    }
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    $('#file-upload-progress').show().attr('value', percentComplete);
                }
            })
        });
    });
    </script>