<div class="modal fade in" id="auditWizard" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
              <div class="modal-content" style="color:black">
                    <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                          <h4 class="modal-title" id="myModalLabel">Create Multiple choice Question </h4>
                          <h4 class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                            <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i>
                                    Multiple choice list choice question allows the auditor to select none, one or multiple answers from a list of multiple possible values.
                                </div>
                          <form role="form" class="form-horizontal form-striped" method="post" action="/users/create">
                            <div id="messagesPaneAdd4"></div>
                            <label for="que_title4">Question (Question displayed for the auditor to answer)</label>
                            <input id="que_title4" class="form-control" placeholder="Please input the question here" type="text">
                            <br>
                            <label for="que_answers4">Possible answers (Required, at least one answer, Place each answer on a new line)</label>
                            <textarea id="que_answers4" rows="3" class="form-control" placeholder="Possible Answers"></textarea>
                            
                            
                            <!--<label for="que_negative_answers">Possible negative answers (Optional, Place each answer on a new line)</label>
                            <textarea id="que_negative_answers4" rows="3" class="form-control" placeholder="Possible negative answers"></textarea>
                            
                            -->
                            <br>
                            <label for="que_required4">Required? (If 'Yes' the auditor is required to answer in this question.)</label>
                            <select id="que_required4" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <!--hidden fields -->
                            <input id="que_type4" value="4" type="hidden">
                            
                            <button type="submit" class="hidden"></button>
                    </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-default waves-effect waves-ripple" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-theme waves-effect waves-ripple">Save changes</button>
                    </div>
                    </form>
              </div>
              <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
  </div>
  