<div id="completedAudits">


<div class="row">
        <div class="col-md-12 ">
            <!-- Start double tabs -->
            <div class="panel panel-tab panel-tab-double shadow">
                <!-- Start tabs heading -->
                <div class="panel-heading no-padding">
                    <h1></h1>
                </div>
                <!-- /.panel-heading -->
                <!--/ End tabs heading -->
                <!-- Start tabs content -->
                <div class="panel-body no-padding">
                    <div class="panel panel-default shadow no-margin">
                        <div class="panel-heading">
                            
                            <div class="pull-right">
                                
                                <button class="btn btn-theme" data-toggle="modal" data-target=".bs-example-modal-lg">Add Customer 2</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab-client-all">
                                    <div  style="width: 100%; position: relative; overflow: hidden;">
                                        <div class="panel rounded shadow no-overflow">
                                            
                                            <!-- /.panel-heading -->
                                            <div class="panel-body" style="color:black">
                                                <!-- Start repeater -->
                                                <div class="fuelux">
                                            
                                                        <table id="allAudits1" class="table table-striped table-bordered dt-responsive" style=" max-width:100%;color: black">
                                                                <thead>
                                                                <tr>
                                                                    
                                                                       
                                                                        <th>Organisation</th>
                                                                        <th>Firstname</th>
                                                                        <th >Surname</th>
                                                        
                                                                        <th>Telephone</th>
                                                                        <th >Mobile </th>
                                                                        <th >Email</th>
                                                        
                                                                        <th ></th>
                                                                
                                                                
                                                                </tr>
                                                                </thead>
                                                                <tbody style="color: black">
                                                                <repeat group="{{@customers}}" value="{{@customer}}">
                                                                    <tr >
                                                                        
                                                                        <td >{{strtoupper(@customer.crm_org)}}</td>
                                                                        <td>{{strtoupper(@customer.crm_firstname)}}</td>
                                                                        <td >{{strtoupper(@customer.crm_lastname)}}</td>
                                                                        <td >{{strtoupper(@customer.crm_telephone)}}</td>
                                                                        <td >{{strtoupper(@customer.crm_mobile)}}</td>
                                                                        <td >{{strtoupper(@customer.crm_email)}}</td>
                                                                    
                                                                        <td class="text-center">
                                                                            
                                                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal-{{@customer.crm_id}}" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View detail"><i class="fa fa-inbox"></i></a>
                                                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal1-{{@customer.crm_id}}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                                                <a href="/customers/archive/{{@customer.crm_id}}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                                                            </td>
                                                                    
                                                                    </tr>
                                                                </repeat>
                                                                </tbody>
                                                            </table>
                                            
                                                </div>
                                                <!--/ End repeater -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-body -->
                <!--/ End tabs content -->
            </div>
            <!-- /.panel -->
            <!--/ End double tabs -->
        </div>
    </div></div>