<div class="modal fade in" id="modalAddGroup" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="color:black">
                        <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                              <h4 class="modal-title" id="myModalLabel">Create Checklist Group</h4>
                              <h4 class="modal-title"> </h4>
                        </div>
                        <div class="modal-body">
                              <form role="form" class="form-horizontal form-striped" method="post" action="/users/create">
                                    <label for="grp_title">Title</label>
                                    <input id="grp_title" class="form-control" placeholder="Title" type="text">
                                    <label for="grp_desc">Description</label>
                                    <input id="grp_desc" class="form-control" placeholder="Description" type="text">
                                    <!-- /.form-group -->
                              
                                    <!-- /.form-group -->
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn btn-default waves-effect waves-ripple" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-theme waves-effect waves-ripple">Save changes</button>
                        </div>
                        </form>
                  </div>
                  <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
      </div>
      