<repeat group="{{@users}}" value="{{@user}}">
        <div class="modal fade" id="exampleModal2-{{@user.usr_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title"> </h4>
                  </div>
                  <div class="modal-body">
                        <form role="form" class="form-horizontal form-striped " method="post" action="/users/edit">
                            <input class="form-control input-sm" id="usr_id" name="usr_id"   type="text"  value="{{@user.usr_id}}" style="display:none">
                            <div class="form-group">
                                <input class="form-control input-sm" id="firstname" name="usr_firstname" placeholder="First Name " type="text" value="{{@user.usr_firstname}}">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <input class="form-control input-sm" id="surname" name="usr_surname" placeholder="Surname" type="text" value="{{@user.usr_surname}}">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <input class="form-control input-sm" id="email" name="usr_email" placeholder="Email" type="text" value="{{@user.usr_email}}">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <input class="form-control input-sm" id="phone" name="usr_phone" placeholder="Phone" type="text" value="{{@user.usr_phone}}">
                            </div>
                            <div class="form-group">
                                <input class="form-control input-sm" id="password" name="usr_password" placeholder="Password" type="text" required>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <select class="form-control input-sm mb-15" name="usr_usertype">
                                        <option value="{{@user.usr_usertype}}">{{@user.usr_usertype}}</option>
                                    <option value="app">App User</option>
                                    <option value="sys">System User</option>
                                </select>
                            </div>
                            <!-- /.form-group -->
                        
                            <!-- /.form-group -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect waves-ripple" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-theme waves-effect waves-ripple">Save changes</button>
                    </div>
                    </form>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
        </repeat>
        
        