<div class="fuelux">
    <table id="checklistGroups" class="table table-striped table-bordered dt-responsive" style=" max-width:100%;color: black">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="color: black">
            <repeat group="{{@audits_groups}}" value="{{@audits_group}}">
                <!-- <input type="text" value ="{{strtoupper(@audits_group.grp_title)}}" id="testing" hidden> -->
                <tr>
                    <td>{{strtoupper(@audits_group.grp_title)}}
                        <div class="pull-center">
                            <button type="button" data-toggle="modal" data-target="#textInput-{{@audits_group.grp_id}}"
                                class="btn btn-success">
                                <i class="fa fa-font"></i> Text Input Question
                            </button>
                            <button type="button" data-toggle="modal" data-target="#trueOrFalseQuestion-{{@audits_group.grp_id}}"
                                class="btn btn-success ">
                                <i class="fa fa-power-off"></i> True or False
                                Question
                            </button>

                            <button type="button" data-toggle="modal" data-target="#dropDownQuestion-{{@audits_group.grp_id}}"
                                class="btn btn-success ">
                                <i class="fa fa-list"></i> Drop-down list Question
                            </button>

                            <button type="button" data-toggle="modal" data-target="#multipleChoiceQuestion-{{@audits_group.grp_id}}"
                                class="btn btn-success ">
                                <i class="fa fa-check-square"></i> Multiple choice
                                Question
                            </button>

                            <button type="button" data-toggle="modal" data-target="#fileUploadQuestion-{{@audits_group.grp_id}}"
                                class="btn btn-success ">
                                <i class="fa fa-photo"></i> File Upload Question
                            </button>
                        </div>
                    </td>
                    <td class="text-center">

                    </td>
                </tr>

            </repeat>
        </tbody>
    </table>
</div>

<include href="/includes/true_false_question_modal.htm" />
<include href="/includes/text_input_modal.htm" />
<include href="/includes/drop_down_question_modal.htm" />
<include href="/includes/multiple_choice_question.htm" />
<include href="/includes/file_upload_question.htm" />

<!-- <script>
    $(document).on('submit', 'form.async-text-input', function (event) {

        event.preventDefault();
        
        // $(this).find(':submit').attr( 'disabled','disabled' );
        var form = $(this);

        $(this).ajaxSubmit({
            type: form.attr('method'),
            success: function (response) {

                $('.async-text-input')[0].reset();
                $.toast({
                    heading: 'Success',
                    text: "Question Successfully Saved",
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 3500,
                    stack: 6
                });
                window.location.replace("/audits/outstanding/1");
            },
            error: function (data) {
                $.toast({
                    heading: 'Error',
                    text: "Error Saving Question",
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3500,
                    stack: 6
                });
            },

        })
    });
</script> -->