<repeat group="{{@audit_questions}}"  key="{{@ikey}}" value="{{@audit_question}}">
        <div class="modal fade in" id="imageModal-{{@audit_question.que_id }}" tabindex="-1" role="dialog" aria-hidden="true"
            style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="color:black">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel">Audit Question</h4>
                        <h4 class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i>
                            {{@audit_question.que_title }} ?
                            <!-- Text input question allows the auditor to always input text in response to the given text. -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <img src='/uploads/{{@audit_question.ans_answer}}' style="max-width: 100%; max-height: 100%" >
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    
    
    
    </repeat>
