<div id ="questionsResponse">
        <div class="text-center" style="margin-bottom: 5px;">
           <div class="alert alert-info" id="groupName" > <strong>{{strtoupper(@group_name.grp_title)}}</strong> <br>{{strtoupper(@group_name.grp_desc)}} </div>
        </div>
        <div class="row">
           <div class="col-md-12 ">
              <!-- Start double tabs -->
              <div class="panel panel-tab panel-tab-double shadow">
                 <!-- Start tabs heading -->
                 <div class="panel-heading no-padding">
                    <h1></h1>
                 </div>
                 <!-- /.panel-heading -->
                 <!--/ End tabs heading -->
                 <!-- Start tabs content -->
                 <div class="panel-body no-padding">
                    <div class="panel panel-default shadow no-margin">
                       <div class="panel-heading">
                          <!-- <div class="pull-left">
                                        <button type="button" data-toggle="modal" data-target="#textInput"  class="btn btn-success">
                                                        <i class="fa fa-font"></i> Text Input Question
                                                    </button>
                                                    <button type="button" data-toggle="modal" data-target="#trueOrFalseQuestion" class="btn btn-success ">
                                                                <i class="fa fa-power-off"></i> True or False Question
                                                            </button>

                                                            <button type="button" data-toggle="modal" data-target="#dropDownQuestion" class="btn btn-success ">
                                                                        <i class="fa fa-list"></i> Drop-down list Question
                                                                    </button>

                                                                    <button type="button"data-toggle="modal" data-target="#multipleChoiceQuestion" class="btn btn-success ">
                                                                                <i class="fa fa-check-square"></i> Multiple choice Question
                                                                            </button>

                                                                            <button type="button" data-toggle="modal" data-target="#fileUploadQuestion" class="btn btn-success ">
                                                                                        <i class="fa fa-photo"></i> File Upload Question
                                                                                    </button>
                          </div> -->
                          <div class="clearfix"></div>
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body" style="overflow-y: scroll; max-height:470px;">
                          <div class="tab-content">
                             <div class="tab-pane fade active in" id="tab-client-all">
                                <div  style="width: 100%; position: relative; overflow: hidden;">
                                   <div class="panel rounded shadow no-overflow">
                                      <!-- /.panel-heading -->
                                      <div class="panel-body" style="color:black">
                                         <!-- Start repeater -->
                                         <div class="fuelux">
                                            <table id="questionsResponseTable" class="table table-striped table-bordered dt-responsive" style=" max-width:100%;color: black">
                                               <thead>
                                                  <tr>
                                                     <th>Question</th>
                                                     <th>Type</th>
                                                     <th>Mandatory</th>
                                                     <th></th>
                                                  </tr>
                                               </thead>
                                               <tbody style="color: black">
                                                  <repeat group="{{@audit_questions}}" value="{{@audit_question}}">
                                                     <tr>
                                                        <td>{{strtoupper(@audit_question.que_title)}}</td>
                                                        <td>{{strtoupper(@audit_question.que_title)}}</td>
                                                        <td>
                                                           <check if="{{@audit_question.que_required}} !=0">
                                                              <p class="text-center"><span title="Question is mandatory" class="text-danger"> <i class="fa fa-lock"></i></span> </p>
                                                              <false>
                                                                 <p class="text-center"><span title="Question is optional" class="text-warning"><i class="fa fa-unlock"></i></span></p>
                                                              </false>
                                                           </check>
                                                        </td>
                                                        <td class="text-right">
                                                           <!--  <button onclick="performEdit(46)" class="btn btn-success btn-xs" title="Modify this question"><i class="fa fa-pencil"></i></button> -->
                                                           <button onclick="performDelete(46)" class="btn btn-danger btn-xs" title="Delete this question"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                     </tr>
                                                  </repeat>
                                               </tbody>
                                            </table>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     