<repeat group="{{@audits_groups}}" value="{{@audits_group}}">
    <div class="modal fade in" id="textInput-{{@audits_group.grp_id }}" tabindex="-1" role="dialog" aria-hidden="true"
        style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="color:black">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel">Create Text Input Question </h4>
                    <h4 class="modal-title"> </h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        Text input question allows the auditor to always input text in response to the given text.
                    </div>
                    <form role="form" class="form-horizontal async-text-input" method="post" action="/api/create/question/text-input">
                        <label for="que_title">Question (Question displayed for the auditor to answer)</label>
                        <input id="que_title" name="que_title" class="form-control"  placeholder="Please input the question here"
                            type="text">

                        <br>
                        <label for="que_required">Required? (If 'Yes' the auditor is required to fill in this
                            question.)</label>
                        <select id="que_required"  name="que_required" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <br>
                        <!--hidden fields -->
                  
                        <input id="que_type" required name="que_type" value="1" type="hidden">
                        <input id="chk_aud_id" required name="chk_aud_id" type="hidden">
                        <input id="chk_grp_id" required name="chk_grp_id"  type="hidden">
                        <!-- <input id="que_grp_id" required name="que_grp_id" value="{{@audits_group.grp_id }}" type="hidden"> -->
                        <!-- <input id="que_chk_id" required name="que_chk_id" value="{{@audits_group.grp_chk_id }}" type="hidden"> -->
                        <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
                        <button class="btn btn-success  pull-right " type="submit" id="btnSave"> Save</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>



</repeat>
