
<repeat group="{{@audits_groups}}" value="{{@audits_group}}">
<div class="modal fade in x" id="trueOrFalseQuestion-{{@audits_group.grp_id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
              <div class="modal-content" style="color:black">
                    <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                          <h4 class="modal-title" id="myModalLabel">Create True or False Question</h4>
                          <h4 class="modal-title"> </h4>
                    </div>
                    <div class="modal-body">
                            <div class="alert alert-info">
                                    <i class="fa fa-info-circle"></i>
                                    True or False choice question allows the auditor to select only one of two possible values.
                                   
                                </div>
                            <form role="form" class="form-horizontal async-text-input" method="post" action="/api/create/question/text-input">

                                <label for="que_title">Question (Question displayed for the auditor to answer)</label>
                                <input id="que_title" name="que_title"  class="form-control m" placeholder="Please input the question here" type="text">
                                <br>
                                <label for="que_answer">Possible Answers (Required)</label>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <p><b>First answer</b></p>
                                        <input name="que_answer[]" class="form-control" placeholder="Answer" value="Yes" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                            <p><b>Second answer</b></p>
                                            <input name="que_answer[]" class="form-control" placeholder="Answer" value="No" type="text">
                                        </div>
                                        <br>
                                    </div>

                                    <label for="que_negative_answers">Which one of the answers provided above is negative (If a negative answer is selected as a response while auditing, a nonconformity will be created)</label>
                                    <select name="que_negative_answers" class="form-control">
                                        <option value="none">None, all are positive</option>
                                        <option value="first">First answer</option>
                                        <option value="second">Second answer</option>
                                    </select>

                                    <br>
                                    <label for="que_required">Required? (If 'Yes' the auditor is required to answer in this question.)</label>
                                    <select name="que_required" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                    <!--hidden fields -->
                                 
                                    <input name="que_type" required value="2" type="hidden">
                                    <input id="chk_aud_id" required name="chk_aud_id" type="hidden">
                                    <!-- <input id="chk_que_id" required name="chk_que_id" value="" > -->
                                    <input id="chk_grp_id" required name="chk_grp_id"  type="hidden">
                                    <!-- <input id="que_chk_id" required name="que_chk_id" value="{{@audits_group.grp_chk_id }}" type="hidden"> -->

                                <button type="button" class="btn btn-default  pull-right" data-dismiss="modal">Close</button>
                                <button class="btn btn-success  pull-right " type="submit" > Save</button>
                                <br>
                            </form>
                    </div>
           
              </div>
              <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
  </div>
  </repeat>