<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Applications</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">Application</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Applications</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="table-responsive">
						<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle text-center">
							<thead>
								<tr>
									<th width="8%">Application ID</th>
									<th class="text-nowrap">Date Created</th>
									<th class="text-nowrap">Status</th>
									<th class="text-nowrap">Complete Progress</th>
									<th class="text-nowrap">Action</th>
								</tr>
							</thead>
							<tbody>
								<check if="{{count(@data) > 0}}">
									<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
										<tr class="odd gradeX">
											<td>{{@value.id}}</td>
											<td>{{@value.dateCreated}}</td>
											<check if="{{@value.applicationStatus}} == 'p'">
												<true>
													<td class="text-warning">Pending</td>
												</true>
												<false>
													<check if="{{@value.applicationStatus}} == 'a'">
														<true>
															<td class="text-success">Approved</td>
														</true>
														<false>
															<check if="{{@value.applicationStatus}} == 'd'">
																<true>
																	<td class="text-danger">Denied</td>
																</true>
																<false>
																	<td class="text-primary">Wait-Listed</td>
																</false>
															</check>
														</false>
													</check>
												</false>
											</check>
											
											<td>
												<!-- animated -->
												<div class="progress rounded-corner progress-striped active">
													<check if="{{@value.applicationStatus}} == 'a'">
														<div class="progress-bar bg-green" style="width: 100%">
															100 %
														  </div>
													</check>
													<check if="{{@value.applicationStatus}} == 'p'">
														<div class="progress-bar bg-warning" style="width: 50%">
															50 %
														  </div>
														  
													</check>
													<check if="{{@value.applicationStatus}} == 'd'">
														<div class="progress-bar bg-danger" style="width: 100%">
															100 %
														  </div>
														</check>
												 
												</div>
											</td>
											<td width="240">
												<a href="#modal-verifcation" onclick="verification({{@value.id}})" class="btn btn-xs btn-success" data-toggle="modal">
													<i class="fa fa-user-secret"></i> Application Status
												</a>
											</td>
										</tr>
									</repeat>
									<false>
										<tr>
											<td colspan="5">
												No Application submitted. 
											</td>
										</tr>
									</false>
								</check>
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->

<!-- #modal-without-animation -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-verifcation">
	<div class="modal-dialog">
		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Application Verification Status</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							
							<div class="widget-todolist widget-todolist-rounded">

								<!-- begin widget-todolist-body -->
								<div class="widget-todolist-body">
									<!-- begin widget-todolist-item -->
									<div class="widget-todolist-item">
										<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_1"> 
																		<label for="widget_todolist_1" class="p-l-15"> </label>
											</div>
										</div> -->
											<div class="widget-todolist-content">
												<h4 class="widget-todolist-title">Personal  Information</h4>
												<br />
												<p class="widget-todolist-desc">First Name <span  class="firstName pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Last Name <span  class="lastName pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">ID No. <span  class="idPassportNo pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">DOB <span  class="dob pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">MaritalStatus <span  class="maritalStatus pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Bank Name <span  class="bankName pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Branch Code <span  class="branchCode pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Account Number <span  class="accountNumber pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Account Type <span  class="accountType pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
											</div>
										<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
									</div>
									
						
									<!-- end widget-todolist-item -->
									<div class="widget-todolist-item">
										<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_2"> 
													<label for="widget_todolist_2" class="p-l-15"> </label>
											</div>
										</div> -->
											<div class="widget-todolist-content">
												<h4 class="widget-todolist-title">Contact Information</h4>
												<br />
												<p class="widget-todolist-desc">Email <span  class="email pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Tel <span  class="phone pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Cell No<span  class="altPhone pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
											</div>
										<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
									</div>
									<!-- end widget-todolist-item -->
									<!-- end widget-todolist-item -->
									<div class="widget-todolist-item">
										<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_3"> 
																		<label for="widget_todolist_3" class="p-l-15"> </label>
											</div>
										</div> -->
											<div class="widget-todolist-content">
												<h4 class="widget-todolist-title">Employment Information</h4>
												<br />
												<p class="widget-todolist-desc">Occupation<span  class="occupation pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Employer<span  class="employer pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Employer Contact No<span  class="employerContact pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Income<span  class="totalIncome pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Expenses<span  class="totalExpenses pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>

											</div>
										<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
									</div>
									<!-- end widget-todolist-item -->
									<!-- start widget-todolist-item -->
									<div class="widget-todolist-item">
										<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_4"> 
																		<label for="widget_todolist_4" class="p-l-15"> </label>
											</div>
										</div> -->
											<div class="widget-todolist-content">
												<h4 class="widget-todolist-title">Emergency Contact Information</h4>
												<br />
												<p class="widget-todolist-desc">Next of Kin<span  class="nextOfKin pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Next of Kin Contact No<span  class="nextOfKinContact pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>

											</div>
										<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
									</div>
									<!-- end widget-todolist-item -->
									<!-- start widget-todolist-item -->
									<div class="widget-todolist-item">
										<!-- <div class="widget-todolist-input">
											<div class="checkbox checkbox-css pt-0">
												 <input disabled="" type="checkbox" id="widget_todolist_4"> 
																		<label for="widget_todolist_5" class="p-l-15"> </label>
											</div>
										</div> -->
											<div class="widget-todolist-content">
												<h4 class="widget-todolist-title">Required Documents</h4>
												<br />
												<p class="widget-todolist-desc">ID Document<span  class="idDocument pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Bank Statement<span  class="bankStatement pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Payslip<span  class="payslip pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>
												<p class="widget-todolist-desc">Proof Of Payment<span  class="proofOfPayment pull-right"><i class=" pull-right fas fa-spinner fa-pulse text-success"></i></span></p>

											</div>
										<!-- <div class="widget-todolist-icon">
											<a href="#"><i class="fa fa-question-circle"></i></a>
										</div> -->
									</div>
									<!-- end widget-todolist-item -->
								</div>
								<!-- end widget-todolist-body -->
							</div>
							
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
				</div>

		</div>
	</div>
</div>
<script>
	function verification(applicationID){
		var icon = [];
		icon['p'] = '<i class=" pull-right fas fa-spinner fa-pulse text-success"></i>';
		icon['y'] = '<i class=" pull-right fas fa-check-square text-primary"></i>';
		icon['n'] = '<i class=" pull-right fas fa-window-close text-danger"></i>';
		

		$.ajax({
				type: "POST",
				url: '/getApplicationVerification/' + applicationID,
				success: function (data) {

					var verificationData = JSON.parse(data);
					console.log(verificationData);
					for (var i = 0; i < verificationData.length; i++) {
						//console.log(verificationData[i]);
						$("."+verificationData[i].title).html(icon[verificationData[i].isVerified]);
					}

				},
				error: function (data) {
					console.log('An error occurred.');
					console.log(data);
				}
			});
													
													
	}
	
</script>