<style>
	a {
		color: black;
	}

	.widget-todolist .widget-todolist-item .widget-todolist-content {
		display: block;
	}
</style>
<!-- begin #content -->
<div 
	data-step="1"
	data-intro="Welcome to the Tenant Onboarding Platform! Let's Begin our Journey!<br><strong>Please Note: Complete the tour if it's your first time and get to know the platform.</strong><br><br>Have a wonderful experience!!"
	data-hint="Housing" data-hintPosition="top-middle" data-position="bottom-right-aligned"
	id="content" class="content">
	<!-- begin page-header -->
	<h1 class="page-header">Dashboard <small>Welcome...</small></h1>
	<!-- end page-header -->
	<!-- begin timeline -->
	<ul class="timeline">
		<check if="{{@documentPerc == 20}}">
			<true>
				<check if="{{@hasApplied}} == 'y'">
					<true>
						<check if="{{@married}} == 'y'">

							<!-- MARRIED -->
							<true>
								<check if="{{@spouseConsent}} == 'y'">
									<!-- SPOUSE CONSENT RECEIVED -->
									<true>
										<check if="{{@applicationStatus}} == 'Rent Deposit'">
											<true>
												<!-- TRANING COMPLETED -->
												<check if="{{@trained == 'y'}}">
													<true>
														<check if="{{@rentDepositVerified}} == 'Paid'">
															<true>
																<check if="{{@signedDocuments}} == 'uploaded'">
																	<true>
																		<li>
																			<!-- begin timeline-time -->
																			<div class="timeline-time">
																				<span class="date">Step</span>
																				<span class="time">8</span>
																			</div>
																			<!-- end timeline-time -->
																			<!-- begin timeline-icon -->
																			<div class="timeline-icon">
																				<a href="javascript:;">&nbsp;</a>
																			</div>
																			<!-- end timeline-icon -->
																			<!-- begin timeline-body -->
																			<div class="timeline-body">
																				<div class="timeline-header">
																					<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																					<span class="username"><a href="javascript:;">Application Completed</a> <small></small></span>
																					<span class="views text-success">Complete</span>
																				</div>
																				<div class="timeline-content">
																					<!-- <div class="widget-todolist widget-todolist-rounded">
																						<p>Submitted Signed Documents</p>
																						<p>You have successful Uploaded your Signed Documents</p>
																						<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																					</div> -->
																				</div>
																			</div>
																			<!-- end timeline-body -->
																		</li>

																	</true>
																</check>

																<li>
																	<!-- begin timeline-time -->
																	<div class="timeline-time">
																		<span class="date">Step</span>
																		<span class="time">7</span>
																	</div>
																	<!-- end timeline-time -->
																	<!-- begin timeline-icon -->
																	<div class="timeline-icon">
																		<a href="javascript:;">&nbsp;</a>
																	</div>
																	<!-- end timeline-icon -->
																	<!-- begin timeline-body -->
																	<div class="timeline-body">
																		<div class="timeline-header">
																			<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																			<span class="username"><a href="javascript:;">Signed Documents</a> <small></small></span>
																			<span class="views text-success">{{@applicationStatus}}</span>
																		</div>
																		<check if="{{@signedDocuments}} == 'uploaded'">
																			<true>
																				<div class="timeline-content">
																					<div class="widget-todolist widget-todolist-rounded">
																						<p>Submitted Signed Documents</p>
																						<p>You have successful Uploaded your Signed Documents</p>
																						<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																					</div>
																				</div>
																			</true>
																			<false>
																				<div class="timeline-content">
																					<div class="widget-todolist widget-todolist-rounded">
																						<p>Download, sign and upload the documents below to complete your application</p>
																						<repeat group="{{@complexDocs}}" key="{{@key}}" value="{{@document}}">
																							<check if="{{@document.dataLabel}} == 'welcomeLetter'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Download Welcome Letter <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'approvalLetter'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Download Approval Letter <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'leaseAgreement'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Lease Agreement <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'keyslip'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Key Slip <i class="fa fa-download"></i></a></p></check>
																						</repeat>
																					</div>
																				</div>
																				<check if="{{@hasApplied == 'y'}}">
																					<div class="timeline-comment-box">
																						<div class="input">
																							<form action="">
																								<div class="input-group">
																									<span class="input-group-btn p-l-10">
																										<a data-toggle="modal" onclick="uploadDocuments();" class="btn btn-success f-s-12 rounded-corner" type="button">UPLOAD SIGNED DOCUMENTS</a>
																									</span>
																								</div>
																							</form>
																						</div>
																					</div>
																				</check>
																			</false>
																		</check>
																	</div>
																	<!-- end timeline-body -->
																</li>
															</true>
														</check>
															

														<li>
															<!-- begin timeline-time -->
															<div class="timeline-time">
																<span class="date">Step</span>
																<span class="time">6</span>
															</div>
															<!-- end timeline-time -->
															<!-- begin timeline-icon -->
															<div class="timeline-icon">
																<a href="javascript:;">&nbsp;</a>
															</div>
															<!-- end timeline-icon -->
															<!-- begin timeline-body -->
															<div class="timeline-body">
																<div class="timeline-header">
																	<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																	<span class="username"><a href="javascript:;">Deposit Payment</a> <small></small></span>
																	<check if="{{@rentDepositVerified}} == 'Paid'">
																		<true>
																			<span class="views text-success">Verified</span>
																		</true>
																		<false>
																			<check if="{{@depositFeePaymentProcessed}} != 'y'">
																				<true>
																					<span class="views text-warning">Awaiting Payment</span>
																				</true>
																				<false>
																					<span class="views text-warning">Under-Review</span>
																				</false>
																			</check>
																			
																		</false>
																	</check>
																</div>
																<check if="{{@depositFeePaymentProcessed}} != 'y'">
																	<true>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Deposit Payment</p>
																				<p>Status: <span class="text-warning">Unpaid</span></p>
																			</div>
																		</div>

																		<div class="timeline-comment-box">
																			<div class="input">
																				<form action="">
																					<div class="input-group">
																						<span class="input-group-btn p-l-10">
																							<a data-toggle="modal" href="#deposit-payments" class="btn btn-inverse btn-block f-s-12 rounded-corner text-white" type="button">PAY DEPOSIT NOW</a>
																						</span>
																					</div>
																				</form>
																			</div>
																		</div>
																	</true>
																	<false>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Deposit Payment</p>
																				<check if="{{@rentDepositVerified}} == 'Unpaid'">
																					<true>
																						<p>Status: <span class="text-warning">Pending Verification</span></p>
																					</true>
																					<false>
																						<p>Status: <span class="text-success">{{@rentDepositVerified}}</span></p>
																					</false>
																				</check>
																			</div>
																		</div>
																	</false>
																</check>
															</div>
															<!-- end timeline-body -->
														</li>
													</true>
												</check>

												<!-- UNIT ACCEPTED -->
												<check if="{{@unitApproved}} == 'y'">
													<li>
														<!-- begin timeline-time -->
														<div class="timeline-time">
															<span class="date">Step</span>
															<span class="time">5</span>
														</div>
														<!-- end timeline-time -->
														<!-- begin timeline-icon -->
														<div class="timeline-icon">
															<a href="javascript:;">&nbsp;</a>
														</div>
														<!-- end timeline-icon -->
														<!-- begin timeline-body -->
														<div class="timeline-body">
															<div class="timeline-header">
																<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																<span class="username"><a href="javascript:;">Training</a> <small></small></span>
																<span class="views text-success"></span>
															</div>
															<div class="timeline-content">
																<div class="widget-todolist widget-todolist-rounded">
																	<check if="{{@trained == 'y'}}">
																		<true>
																			<p>Training Completed</p>
																			<p>Click <a style="color: blue;" href="/user/additional-info">My Training</a> to view your training Submissions</p>
																		</true>
																		<false>
																			<!-- begin panel -->
																			<div class="panel panel-inverse">
																				<!-- begin panel-body -->
																				<div class="panel-body">
																					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
																						<thead>
																							<tr>
																								<th class="text-nowrap">Training Name</th>
																								<th class="text-nowrap">Description</th>
																								<th class="text-nowrap">Action</th>
																							</tr>
																						</thead>
																						<tbody>
																							<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
																								<tr class="odd gradeX">
																									<td>{{@value.title}}</td>
																									<td>{{@value.description}}</td>
																									<td width="240">
																										<a href="javascript:void(0)" onclick="build_submission_form('{{@value.id}}', '{{@value.title}}')" class="btn btn-xs btn-primary  pull-right">
																											<i class="fa fa-pencil"></i> SUBMIT
																										</a>
																									</td>
																								</tr>
																							</repeat>
																						</tbody>
																					</table>
																				</div>
																				<!-- end panel-body -->
																			</div>
																			<!-- end panel -->
																		</false>
																	</check>
																</div>
															</div>
														</div>
														<!-- end timeline-body -->
													</li>
												</check>
											</true>
										</check>

										<!-- APPLICATION APPROVED COMPLPETE -->
										<check if="{{@applicationStatus}} == 'Approved'">
											<true>
												<!-- UNIT TRAINING RECEIVED -->
												<check if="{{@trained == 'y'}}">
													<true>
														<!-- DEPOSIT PAID -->
														<check if="{{@rentDepositVerified}} == 'Paid'">
															<true>
																<!-- DOCUMENTS SIGNED AND UPLOADED -->
																<check if="{{@signedDocuments}} == 'uploaded'">
																	<true>
																		<li>
																			<!-- begin timeline-time -->
																			<div class="timeline-time">
																				<span class="date">Step</span>
																				<span class="time">9</span>
																			</div>
																			<!-- end timeline-time -->
																			<!-- begin timeline-icon -->
																			<div class="timeline-icon">
																				<a href="javascript:;">&nbsp;</a>
																			</div>
																			<!-- end timeline-icon -->
																			<!-- begin timeline-body -->
																			<div class="timeline-body">
																				<div class="timeline-header">
																					<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																					<span class="username"><a href="javascript:;">Application Completed</a> <small></small></span>
																					<span class="views text-success">Complete</span>
																				</div>
																				<div class="timeline-content">
																				</div>
																			</div>
																			<!-- end timeline-body -->
																		</li>

																	</true>
																</check>

																<li>
																	<!-- begin timeline-time -->
																	<div class="timeline-time">
																		<span class="date">Step</span>
																		<span class="time">8</span>
																	</div>
																	<!-- end timeline-time -->
																	<!-- begin timeline-icon -->
																	<div class="timeline-icon">
																		<a href="javascript:;">&nbsp;</a>
																	</div>
																	<!-- end timeline-icon -->
																	<!-- begin timeline-body -->
																	<div class="timeline-body">
																		<div class="timeline-header">
																			<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																			<span class="username"><a href="javascript:;">Signed Documents</a> <small></small></span>
																			<span class="views text-success">{{@applicationStatus}}</span>
																		</div>
																		<check if="{{@signedDocuments}} == 'uploaded'">
																			<true>
																				<div class="timeline-content">
																					<div class="widget-todolist widget-todolist-rounded">
																						<p>Submitted Signed Documents</p>
																						<p>You have successful Uploaded your Signed Documents</p>
																						<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																					</div>
																				</div>
																			</true>
																			<false>
																				<div class="timeline-content">
																					<div class="widget-todolist widget-todolist-rounded">
																						<p>Download, sign and upload the documents below to complete your application</p>
																						<repeat group="{{@complexDocs}}" key="{{@key}}" value="{{@document}}">
																							<check if="{{@document.dataLabel}} == 'welcomeLetter'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Download Welcome Letter <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'approvalLetter'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Download Approval Letter <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'leaseAgreement'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Lease Agreement <i class="fa fa-download"></i></a></p></check>
																							<check if="{{@document.dataLabel}} == 'keyslip'">
																							<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Key Slip <i class="fa fa-download"></i></a></p></check>
																						</repeat>
																					</div>
																				</div>
																				<check if="{{@hasApplied == 'y'}}">
																					<div class="timeline-comment-box">
																						<div class="input">
																							<form action="">
																								<div class="input-group">
																									<span class="input-group-btn p-l-10">
																										<a data-toggle="modal" onclick="uploadDocuments();" class="btn btn-success f-s-12 rounded-corner" type="button">UPLOAD SIGNED DOCUMENTS</a>
																									</span>
																								</div>
																							</form>
																						</div>
																					</div>
																				</check>
																			</false>
																		</check>
																	</div>
																	<!-- end timeline-body -->
																</li>
															</true>
														</check>
															

														<li>
															<!-- begin timeline-time -->
															<div class="timeline-time">
																<span class="date">Step</span>
																<span class="time">7</span>
															</div>
															<!-- end timeline-time -->
															<!-- begin timeline-icon -->
															<div class="timeline-icon">
																<a href="javascript:;">&nbsp;</a>
															</div>
															<!-- end timeline-icon -->
															<!-- begin timeline-body -->
															<div class="timeline-body">
																<div class="timeline-header">
																	<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																	<span class="username"><a href="javascript:;">Deposit Payment</a> <small></small></span>
																	<check if="{{@rentDepositVerified}} == 'Paid'">
																		<true>
																			<span class="views text-success">Verified</span>
																		</true>
																		<false>
																			<check if="{{@depositFeePaymentProcessed}} != 'y'">
																				<true>
																					<span class="views text-warning">Awaiting Payment</span>
																				</true>
																				<false>
																					<span class="views text-warning">Under-Review</span>
																				</false>
																			</check>
																			
																		</false>
																	</check>
																</div>
																<check if="{{@depositFeePaymentProcessed}} != 'y'">
																	<true>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Deposit Payment</p>
																				<p>Status: <span class="text-warning">Unpaid</span></p>
																			</div>
																		</div>

																		<div class="timeline-comment-box">
																			<div class="input">
																				<form action="">
																					<div class="input-group">
																						<span class="input-group-btn p-l-10">
																							<a data-toggle="modal" href="#deposit-payments" class="btn btn-inverse btn-block f-s-12 rounded-corner text-white" type="button">PAY DEPOSIT NOW</a>
																						</span>
																					</div>
																				</form>
																			</div>
																		</div>
																	</true>
																	<false>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Deposit Payment</p>
																				<check if="{{@rentDepositVerified}} == 'Unpaid'">
																					<true>
																						<p>Status: <span class="text-warning">Pending Verification</span></p>
																					</true>
																					<false>
																						<p>Status: <span class="text-success">{{@rentDepositVerified}}</span></p>
																					</false>
																				</check>
																			</div>
																		</div>
																	</false>
																</check>
															</div>
															<!-- end timeline-body -->
														</li>
													</true>
												</check>

												<check if="{{@unitApproved}} == 'y'">
													<li>
														<!-- begin timeline-time -->
														<div class="timeline-time">
															<span class="date">Step</span>
															<span class="time">6</span>
														</div>
														<!-- end timeline-time -->
														<!-- begin timeline-icon -->
														<div class="timeline-icon">
															<a href="javascript:;">&nbsp;</a>
														</div>
														<!-- end timeline-icon -->
														<!-- begin timeline-body -->
														<div class="timeline-body">
															<div class="timeline-header">
																<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																<span class="username"><a href="javascript:;">Training</a> <small></small></span>
																<span class="views text-success"></span>
															</div>
															<div class="timeline-content">
																<div class="widget-todolist widget-todolist-rounded">
																	<check if="{{@trained == 'y'}}">
																		<true>
																			<p>Training Completed</p>
																			<p>Click <a style="color: blue;" href="/user/additional-info">My Training</a> to view your training Submissions</p>
																		</true>
																		<false>
																			<!-- begin panel -->
																			<div class="panel panel-inverse">
																				<!-- begin panel-body -->
																				<div class="panel-body">
																					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
																						<thead>
																							<tr>
																								<th class="text-nowrap">Training Name</th>
																								<th class="text-nowrap">Description</th>
																								<th class="text-nowrap">Action</th>
																							</tr>
																						</thead>
																						<tbody>
																							<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
																								<tr class="odd gradeX">
																									<td>{{@value.title}}</td>
																									<td>{{@value.description}}</td>
																									<td width="240">
																										<a href="javascript:void(0)" onclick="build_submission_form('{{@value.id}}', '{{@value.title}}')" class="btn btn-xs btn-primary  pull-right">
																											<i class="fa fa-pencil"></i> SUBMIT
																										</a>
																									</td>
																								</tr>
																							</repeat>
																						</tbody>
																					</table>
																				</div>
																				<!-- end panel-body -->
																			</div>
																			<!-- end panel -->
																		</false>
																	</check>
																</div>
															</div>
														</div>
														<!-- end timeline-body -->
													</li>
												</check>
											</true>
										</check>
										<li>
											<!-- begin timeline-time -->
											<div class="timeline-time">
												<span class="date">Step</span>
												<span class="time">5</span>
											</div>
											<!-- end timeline-time -->
											<!-- begin timeline-icon -->
											<div class="timeline-icon">
												<a href="javascript:;">&nbsp;</a>
											</div>
											<!-- end timeline-icon -->
											<!-- begin timeline-body -->
											<div class="timeline-body">
												<div class="timeline-header">
													<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
													<span class="username"><a href="javascript:;">Application Verification</a> <small></small></span>
													<check if="{{@applicationStatus}} == 'Approved'">
														<span class="views text-success">{{@applicationStatus}}</span>
													</check>
													<check if="{{@applicationStatus}} == 'Pending'">
														<span class="views text-warning">{{@applicationStatus}}</span>
													</check>
													<check if="{{@applicationStatus}} == 'Invited'">
														<span class="views text-warning">{{@applicationStatus}}</span>
													</check>
													<check if="{{@applicationStatus}} == 'Denied'">
														<span class="views text-danger">{{@applicationStatus}}</span>
													</check>
													<check if="{{@applicationStatus}} == 'Assigned Unit'">
														<span class="views text-primary">{{@applicationStatus}}</span>
													</check>
													<check if="{{@applicationStatus}} == 'Rent Deposit'">
														<span class="views text-success">Accepted Unit</span>
													</check>
													<check if="{{@applicationStatus}} == 'Tenant Decline'">
														<span class="views text-success">Declined Unit</span>
													</check>
												</div>
												<div class="timeline-content">
													<div class="widget-todolist widget-todolist-rounded">
														<p>
														<check if="{{@applicationStatus}} == 'Approved'">
															<p>Status: <span class="views text-success">{{@applicationStatus}}</span></p>
															<p>Allocated to Unit: <strong>{{@allocatedUnit}}</strong>
															<br>{{@unitDescription}}</p>
															<p><strong>{{@appliedComplex}}</strong> Complex</p>
															<p>Click <a style="color: blue;" href="/user/application">My Application</a> to view your application</p>
														</check>
														<check if="{{@applicationStatus}} == 'Assigned Unit'">
															<p>Status: <span class="views text-primary">{{@applicationStatus}}</span></p>
															<p>You have been Assigned Unit: <strong>{{@allocatedUnit}}</strong>
															<br>Description: <strong>{{@unitDescription}}</strong>
															<br>Size: <strong>{{@unitSize}} m<sup>2</sup></strong>
															<br>Rental: <strong>{{@unitRental}} ZAR</strong>
															<br>Deposit: <strong>{{@unitDeposit}} ZAR</strong></p>
															<p>Complex: <strong>{{@appliedComplex}}</strong></p>
														</check>
														<check if="{{@applicationStatus}} == 'Rent Deposit'">
															<p>Status: <span class="views text-success">Accepted Unit</span></p>
															<p>You have been Accepted Unit: <strong>{{@allocatedUnit}}</strong>
															<br>Description: <strong>{{@unitDescription}}</strong>
															<br>Size: <strong>{{@unitSize}} m<sup>2</sup></strong>
															<br>Rental: <strong>{{@unitRental}} ZAR</strong>
															<br>Deposit: <strong>{{@unitDeposit}} ZAR</strong></p>
															<p>Complex: <strong>{{@appliedComplex}}</strong></p>
															<p>Begin your Training</p>
														</check>
														<check if="{{@applicationStatus}} == 'Pending'">
															<p>Status: <span class="views text-warning">{{@applicationStatus}}</span></p>
														</check>
														<check if="{{@applicationStatus}} == 'Invited'">
															<p>Status: <span class="views text-warning">Viewing Available Units</span></p>
															<p>You have been Invited to View The Available Units at <strong>{{@appliedComplex}}</strong> Complex<br>Day: <strong>{{@viewingDate}}</strong></p>
														</check>
														<check if="{{@applicationStatus}} == 'Denied'">
															<p>Status: <span class="views text-danger">{{@applicationStatus}}</span></p>
														</check>
														<check if="{{@applicationStatus}} == 'Tenant Decline'">
															<p>Status: <span class="views text-danger">{{@applicationStatus}}</span></p>
															<p>You have declined the allocated Unit.</p>
														</check>
													</div>
												</div>
												<check if="{{@applicationStatus}} == 'Assigned Unit'">
													<div class="timeline-comment-box">
														<div class="row">
															<div class="pull-left">
																<form action="">
																	<div class="input-group">
																		<span class="input-group-btn p-l-10">
																			<a data-toggle="modal" onclick="updateUnitApplication('approve');" class="btn btn-success btn-block f-s-12 rounded-corner text-white" type="button">APPROVE UNIT</a>
																		</span>
																	</div>
																</form>
															</div>
															<div class="pull-right">
																<form action="">
																	<div class="input-group">
																		<span class="input-group-btn p-l-10">
																			<a data-toggle="modal" onclick="updateUnitApplication('decline');" class="btn btn-danger btn-block f-s-12 rounded-corner text-white pull" type="button">DECLINE UNIT</a>
																		</span>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</check>
											</div>
											<!-- end timeline-body -->
										</li>
									</true>
								</check>
								<li>
									<!-- begin timeline-time -->
									<div class="timeline-time">
										<span class="date">Step</span>
										<span class="time">4</span>
									</div>
									<!-- end timeline-time -->
									<!-- begin timeline-icon -->
									<div class="timeline-icon">
										<a href="javascript:;">&nbsp;</a>
									</div>
									<!-- end timeline-icon -->
									<!-- begin timeline-body -->
									<div class="timeline-body">
										<div class="timeline-header">
											<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
											<span class="username"><a href="javascript:;">Spouse Consent</a> <small></small></span>
											<check if="{{@spouseConsent}} == 'y'">
												<true>
													<span class="views text-success">Verified</span>
												</true>
												<false>
													<span class="views text-warning">Pending</span>
												</false>
											</check>
										</div>
										<div class="timeline-content">
											<div class="widget-todolist widget-todolist-rounded">
												<check if="{{@spouseConsent}} == 'y'">
													<true>
														<p>Status: <span class="views text-success">Approved</span></p>
														
													</true>
													<false>
														<p>Status: <span class="views text-warning">Pending</span></p>
													</false>
												</check>
											</div>
										</div>
									</div>
									<!-- end timeline-body -->
								</li>
							</true>

							<!-- NOT MARRIED -->
							<false>
								<check if="{{@applicationStatus}} == 'Rent Deposit'">
									<true>
										<check if="{{@trained == 'y'}}">
											<true>
												
												<check if="{{@rentDepositVerified}} == 'Paid'">
													<true>
														<check if="{{@signedDocuments}} == 'uploaded'">
															<true>
																<li>
																	<!-- begin timeline-time -->
																	<div class="timeline-time">
																		<span class="date">Step</span>
																		<span class="time">8</span>
																	</div>
																	<!-- end timeline-time -->
																	<!-- begin timeline-icon -->
																	<div class="timeline-icon">
																		<a href="javascript:;">&nbsp;</a>
																	</div>
																	<!-- end timeline-icon -->
																	<!-- begin timeline-body -->
																	<div class="timeline-body">
																		<div class="timeline-header">
																			<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																			<span class="username"><a href="javascript:;">Application Completed</a> <small></small></span>
																			<span class="views text-success">Complete</span>
																		</div>
																		<div class="timeline-content">
																			<!-- <div class="widget-todolist widget-todolist-rounded">
																				<p>Submitted Signed Documents</p>
																				<p>You have successful Uploaded your Signed Documents</p>
																				<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																			</div> -->
																		</div>
																	</div>
																	<!-- end timeline-body -->
																</li>

															</true>
														</check>

														<li>
															<!-- begin timeline-time -->
															<div class="timeline-time">
																<span class="date">Step</span>
																<span class="time">7</span>
															</div>
															<!-- end timeline-time -->
															<!-- begin timeline-icon -->
															<div class="timeline-icon">
																<a href="javascript:;">&nbsp;</a>
															</div>
															<!-- end timeline-icon -->
															<!-- begin timeline-body -->
															<div class="timeline-body">
																<div class="timeline-header">
																	<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																	<span class="username"><a href="javascript:;">Signed Documents</a> <small></small></span>
																	<span class="views text-success">{{@applicationStatus}}</span>
																</div>
																<check if="{{@signedDocuments}} == 'uploaded'">
																	<true>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Submitted Signed Documents</p>
																				<p>You have successful Uploaded your Signed Documents</p>
																				<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																			</div>
																		</div>
																	</true>
																	<false>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Download, sign and upload the documents below to complete your application</p>
																				<repeat group="{{@complexDocs}}" key="{{@key}}" value="{{@document}}">
																					<check if="{{@document.dataLabel}} == 'welcomeLetter'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Download Welcome Letter <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'approvalLetter'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Download Approval Letter <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'leaseAgreement'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Lease Agreement <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'keyslip'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Key Slip <i class="fa fa-download"></i></a></p></check>
																				</repeat>
																			</div>
																		</div>
																		<check if="{{@hasApplied == 'y'}}">
																			<div class="timeline-comment-box">
																				<div class="input">
																					<form action="">
																						<div class="input-group">
																							<span class="input-group-btn p-l-10">
																								<a data-toggle="modal" onclick="uploadDocuments();" class="btn btn-success f-s-12 rounded-corner" type="button">UPLOAD SIGNED DOCUMENTS</a>
																							</span>
																						</div>
																					</form>
																				</div>
																			</div>
																		</check>
																	</false>
																</check>
															</div>
															<!-- end timeline-body -->
														</li>
													</true>
												</check>
													

												<li>
													<!-- begin timeline-time -->
													<div class="timeline-time">
														<span class="date">Step</span>
														<span class="time">6</span>
													</div>
													<!-- end timeline-time -->
													<!-- begin timeline-icon -->
													<div class="timeline-icon">
														<a href="javascript:;">&nbsp;</a>
													</div>
													<!-- end timeline-icon -->
													<!-- begin timeline-body -->
													<div class="timeline-body">
														<div class="timeline-header">
															<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
															<span class="username"><a href="javascript:;">Deposit Payment</a> <small></small></span>
															<check if="{{@rentDepositVerified}} == 'Paid'">
																<true>
																	<span class="views text-success">Verified</span>
																</true>
																<false>
																	<check if="{{@depositFeePaymentProcessed}} != 'y'">
																		<true>
																			<span class="views text-warning">Awaiting Payment</span>
																		</true>
																		<false>
																			<span class="views text-warning">Under-Review</span>
																		</false>
																	</check>
																	
																</false>
															</check>
														</div>
														<check if="{{@depositFeePaymentProcessed}} != 'y'">
															<true>
																<div class="timeline-content">
																	<div class="widget-todolist widget-todolist-rounded">
																		<p>Deposit Payment</p>
																		<p>Status: <span class="text-warning">Unpaid</span></p>
																	</div>
																</div>

																<div class="timeline-comment-box">
																	<div class="input">
																		<form action="">
																			<div class="input-group">
																				<span class="input-group-btn p-l-10">
																					<a data-toggle="modal" href="#deposit-payments" class="btn btn-inverse btn-block f-s-12 rounded-corner text-white" type="button">PAY DEPOSIT NOW</a>
																				</span>
																			</div>
																		</form>
																	</div>
																</div>
															</true>
															<false>
																<div class="timeline-content">
																	<div class="widget-todolist widget-todolist-rounded">
																		<p>Deposit Payment</p>
																		<check if="{{@rentDepositVerified}} == 'Unpaid'">
																			<true>
																				<p>Status: <span class="text-warning">Pending Verification</span></p>
																			</true>
																			<false>
																				<p>Status: <span class="text-success">{{@rentDepositVerified}}</span></p>
																			</false>
																		</check>
																	</div>
																</div>
															</false>
														</check>
													</div>
													<!-- end timeline-body -->
												</li>
											</true>
										</check>

										<check if="{{@unitApproved}} == 'y'">
											<li>
												<!-- begin timeline-time -->
												<div class="timeline-time">
													<span class="date">Step</span>
													<span class="time">5</span>
												</div>
												<!-- end timeline-time -->
												<!-- begin timeline-icon -->
												<div class="timeline-icon">
													<a href="javascript:;">&nbsp;</a>
												</div>
												<!-- end timeline-icon -->
												<!-- begin timeline-body -->
												<div class="timeline-body">
													<div class="timeline-header">
														<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
														<span class="username"><a href="javascript:;">Training</a> <small></small></span>
														<span class="views text-success"></span>
													</div>
													<div class="timeline-content">
														<div class="widget-todolist widget-todolist-rounded">
															<check if="{{@trained == 'y'}}">
																<true>
																	<p>Training Completed</p>
																	<p>Click <a style="color: blue;" href="/user/additional-info">My Training</a> to view your training Submissions</p>
																</true>
																<false>
																	<!-- begin panel -->
																	<div class="panel panel-inverse">
																		<!-- begin panel-body -->
																		<div class="panel-body">
																			<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
																				<thead>
																					<tr>
																						<th class="text-nowrap">Training Name</th>
																						<th class="text-nowrap">Description</th>
																						<th class="text-nowrap">Action</th>
																					</tr>
																				</thead>
																				<tbody>
																					<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
																						<tr class="odd gradeX">
																							<td>{{@value.title}}</td>
																							<td>{{@value.description}}</td>
																							<td width="240">
																								<a href="javascript:void(0)" onclick="build_submission_form('{{@value.id}}', '{{@value.title}}')" class="btn btn-xs btn-primary  pull-right">
																									<i class="fa fa-pencil"></i> SUBMIT
																								</a>
																							</td>
																						</tr>
																					</repeat>
																				</tbody>
																			</table>
																		</div>
																		<!-- end panel-body -->
																	</div>
																	<!-- end panel -->
																</false>
															</check>
														</div>
													</div>
												</div>
												<!-- end timeline-body -->
											</li>
										</check>
									</true>
								</check>
								<check if="{{@applicationStatus}} == 'Approved'">
									<true>
										<check if="{{@trained == 'y'}}">
											<true>
												
												<check if="{{@rentDepositVerified}} == 'Paid'">
													<true>
														<check if="{{@signedDocuments}} == 'uploaded'">
															<true>
																<li>
																	<!-- begin timeline-time -->
																	<div class="timeline-time">
																		<span class="date">Step</span>
																		<span class="time">8</span>
																	</div>
																	<!-- end timeline-time -->
																	<!-- begin timeline-icon -->
																	<div class="timeline-icon">
																		<a href="javascript:;">&nbsp;</a>
																	</div>
																	<!-- end timeline-icon -->
																	<!-- begin timeline-body -->
																	<div class="timeline-body">
																		<div class="timeline-header">
																			<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																			<span class="username"><a href="javascript:;">Application Completed</a> <small></small></span>
																			<span class="views text-success">Complete</span>
																		</div>
																		<div class="timeline-content">
																			<!-- <div class="widget-todolist widget-todolist-rounded">
																				<p>Submitted Signed Documents</p>
																				<p>You have successful Uploaded your Signed Documents</p>
																				<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																			</div> -->
																		</div>
																	</div>
																	<!-- end timeline-body -->
																</li>

															</true>
														</check>

														<li>
															<!-- begin timeline-time -->
															<div class="timeline-time">
																<span class="date">Step</span>
																<span class="time">7</span>
															</div>
															<!-- end timeline-time -->
															<!-- begin timeline-icon -->
															<div class="timeline-icon">
																<a href="javascript:;">&nbsp;</a>
															</div>
															<!-- end timeline-icon -->
															<!-- begin timeline-body -->
															<div class="timeline-body">
																<div class="timeline-header">
																	<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
																	<span class="username"><a href="javascript:;">Signed Documents</a> <small></small></span>
																	<span class="views text-success">{{@applicationStatus}}</span>
																</div>
																<check if="{{@signedDocuments}} == 'uploaded'">
																	<true>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Submitted Signed Documents</p>
																				<p>You have successful Uploaded your Signed Documents</p>
																				<p>Click <a style="color: blue;" href="/user/documents">here</a> to view your Signed Documents</p>
																			</div>
																		</div>
																	</true>
																	<false>
																		<div class="timeline-content">
																			<div class="widget-todolist widget-todolist-rounded">
																				<p>Download, sign and upload the documents below to complete your application</p>
																				<repeat group="{{@complexDocs}}" key="{{@key}}" value="{{@document}}">
																					<check if="{{@document.dataLabel}} == 'welcomeLetter'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Download Welcome Letter <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'approvalLetter'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Download Approval Letter <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'leaseAgreement'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Lease Agreement <i class="fa fa-download"></i></a></p></check>
																					<check if="{{@document.dataLabel}} == 'keyslip'">
																					<p><a class="text-primary"  href="/{{@document.data}}" download>Sign Key Slip <i class="fa fa-download"></i></a></p></check>
																				</repeat>
																			</div>
																		</div>
																		<check if="{{@hasApplied == 'y'}}">
																			<div class="timeline-comment-box">
																				<div class="input">
																					<form action="">
																						<div class="input-group">
																							<span class="input-group-btn p-l-10">
																								<a data-toggle="modal" onclick="uploadDocuments();" class="btn btn-success f-s-12 rounded-corner" type="button">UPLOAD SIGNED DOCUMENTS</a>
																							</span>
																						</div>
																					</form>
																				</div>
																			</div>
																		</check>
																	</false>
																</check>
															</div>
															<!-- end timeline-body -->
														</li>
													</true>
												</check>
													

												<li>
													<!-- begin timeline-time -->
													<div class="timeline-time">
														<span class="date">Step</span>
														<span class="time">6</span>
													</div>
													<!-- end timeline-time -->
													<!-- begin timeline-icon -->
													<div class="timeline-icon">
														<a href="javascript:;">&nbsp;</a>
													</div>
													<!-- end timeline-icon -->
													<!-- begin timeline-body -->
													<div class="timeline-body">
														<div class="timeline-header">
															<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
															<span class="username"><a href="javascript:;">Deposit Payment</a> <small></small></span>
															<check if="{{@rentDepositVerified}} == 'Paid'">
																<true>
																	<span class="views text-success">Verified</span>
																</true>
																<false>
																	<check if="{{@depositFeePaymentProcessed}} != 'y'">
																		<true>
																			<span class="views text-warning">Awaiting Payment</span>
																		</true>
																		<false>
																			<span class="views text-warning">Under-Review</span>
																		</false>
																	</check>
																	
																</false>
															</check>
														</div>
														<check if="{{@depositFeePaymentProcessed}} != 'y'">
															<true>
																<div class="timeline-content">
																	<div class="widget-todolist widget-todolist-rounded">
																		<p>Deposit Payment</p>
																		<p>Status: <span class="text-warning">Unpaid</span></p>
																	</div>
																</div>

																<div class="timeline-comment-box">
																	<div class="input">
																		<form action="">
																			<div class="input-group">
																				<span class="input-group-btn p-l-10">
																					<a data-toggle="modal" href="#deposit-payments" class="btn btn-inverse btn-block f-s-12 rounded-corner text-white" type="button">PAY DEPOSIT NOW</a>
																				</span>
																			</div>
																		</form>
																	</div>
																</div>
															</true>
															<false>
																<div class="timeline-content">
																	<div class="widget-todolist widget-todolist-rounded">
																		<p>Deposit Payment</p>
																		<check if="{{@rentDepositVerified}} == 'Unpaid'">
																			<true>
																				<p>Status: <span class="text-warning">Pending Verification</span></p>
																			</true>
																			<false>
																				<p>Status: <span class="text-success">{{@rentDepositVerified}}</span></p>
																			</false>
																		</check>
																	</div>
																</div>
															</false>
														</check>
													</div>
													<!-- end timeline-body -->
												</li>
											</true>
										</check>

										<check if="{{@unitApproved}} == 'y'">
											<li>
												<!-- begin timeline-time -->
												<div class="timeline-time">
													<span class="date">Step</span>
													<span class="time">5</span>
												</div>
												<!-- end timeline-time -->
												<!-- begin timeline-icon -->
												<div class="timeline-icon">
													<a href="javascript:;">&nbsp;</a>
												</div>
												<!-- end timeline-icon -->
												<!-- begin timeline-body -->
												<div class="timeline-body">
													<div class="timeline-header">
														<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
														<span class="username"><a href="javascript:;">Training</a> <small></small></span>
														<span class="views text-success"></span>
													</div>
													<div class="timeline-content">
														<div class="widget-todolist widget-todolist-rounded">
															<check if="{{@trained == 'y'}}">
																<true>
																	<p>Training Completed</p>
																	<p>Click <a style="color: blue;" href="/user/additional-info">My Training</a> to view your training Submissions</p>
																</true>
																<false>
																	<!-- begin panel -->
																	<div class="panel panel-inverse">
																		<!-- begin panel-body -->
																		<div class="panel-body">
																			<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
																				<thead>
																					<tr>
																						<th class="text-nowrap">Training Name</th>
																						<th class="text-nowrap">Description</th>
																						<th class="text-nowrap">Action</th>
																					</tr>
																				</thead>
																				<tbody>
																					<repeat group="{{@forms}}" key="{{@key}}" value="{{@value}}">
																						<tr class="odd gradeX">
																							<td>{{@value.title}}</td>
																							<td>{{@value.description}}</td>
																							<td width="240">
																								<a href="javascript:void(0)" onclick="build_submission_form('{{@value.id}}', '{{@value.title}}')" class="btn btn-xs btn-primary  pull-right">
																									<i class="fa fa-pencil"></i> SUBMIT
																								</a>
																							</td>
																						</tr>
																					</repeat>
																				</tbody>
																			</table>
																		</div>
																		<!-- end panel-body -->
																	</div>
																	<!-- end panel -->
																</false>
															</check>
														</div>
													</div>
												</div>
												<!-- end timeline-body -->
											</li>
										</check>
									</true>
								</check>
								<li>
									<!-- begin timeline-time -->
									<div class="timeline-time">
										<span class="date">Step</span>
										<span class="time">4</span>
									</div>
									<!-- end timeline-time -->
									<!-- begin timeline-icon -->
									<div class="timeline-icon">
										<a href="javascript:;">&nbsp;</a>
									</div>
									<!-- end timeline-icon -->
									<!-- begin timeline-body -->
									<div class="timeline-body">
										<div class="timeline-header">
											<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
											<span class="username"><a href="javascript:;">Application Verification</a> <small></small></span>
											<check if="{{@applicationStatus}} == 'Approved'">
												<span class="views text-success">{{@applicationStatus}}</span>
											</check>
											<check if="{{@applicationStatus}} == 'Pending'">
												<span class="views text-warning">{{@applicationStatus}}</span>
											</check>
											<check if="{{@applicationStatus}} == 'Invited'">
												<span class="views text-warning">{{@applicationStatus}}</span>
											</check>
											<check if="{{@applicationStatus}} == 'Denied'">
												<span class="views text-danger">{{@applicationStatus}}</span>
											</check>
											<check if="{{@applicationStatus}} == 'Assigned Unit'">
												<span class="views text-primary">{{@applicationStatus}}</span>
											</check>
											<check if="{{@applicationStatus}} == 'Rent Deposit'">
												<span class="views text-success">Accepted Unit</span>
											</check>
											<check if="{{@applicationStatus}} == 'Tenant Decline'">
												<span class="views text-success">Declined Unit</span>
											</check>
										</div>
										<div class="timeline-content">
											<div class="widget-todolist widget-todolist-rounded">
												<p>
												<check if="{{@applicationStatus}} == 'Approved'">
													<p>Status: <span class="views text-success">{{@applicationStatus}}</span></p>
													<p>Allocated to Unit: <strong>{{@allocatedUnit}}</strong>
													<br>{{@unitDescription}}</p>
													<p><strong>{{@appliedComplex}}</strong> Complex</p>
													<p>Click <a style="color: blue;" href="/user/application">My Application</a> to view your application</p>
												</check>
												<check if="{{@applicationStatus}} == 'Assigned Unit'">
													<p>Status: <span class="views text-primary">{{@applicationStatus}}</span></p>
													<p>You have been Assigned Unit: <strong>{{@allocatedUnit}}</strong>
													<br>Description: <strong>{{@unitDescription}}</strong>
													<br>Size: <strong>{{@unitSize}} m<sup>2</sup></strong>
													<br>Rental: <strong>{{@unitRental}} ZAR</strong>
													<br>Deposit: <strong>{{@unitDeposit}} ZAR</strong></p>
													<p>Complex: <strong>{{@appliedComplex}}</strong></p>
												</check>
												<check if="{{@applicationStatus}} == 'Rent Deposit'">
													<p>Status: <span class="views text-success">Accepted Unit</span></p>
													<p>You have been Accepted Unit: <strong>{{@allocatedUnit}}</strong>
													<br>Description: <strong>{{@unitDescription}}</strong>
													<br>Size: <strong>{{@unitSize}} m<sup>2</sup></strong>
													<br>Rental: <strong>{{@unitRental}} ZAR</strong>
													<br>Deposit: <strong>{{@unitDeposit}} ZAR</strong></p>
													<p>Complex: <strong>{{@appliedComplex}}</strong></p>
													<p>Begin your Training</p>
												</check>
												<check if="{{@applicationStatus}} == 'Pending'">
													<p>Status: <span class="views text-warning">{{@applicationStatus}}</span></p>
												</check>
												<check if="{{@applicationStatus}} == 'Invited'">
													<p>Status: <span class="views text-warning">Viewing Available Units</span></p>
													<p>You have been Invited to View The Available Units at <strong>{{@appliedComplex}}</strong> Complex<br>Day: <strong>{{@viewingDate}}</strong></p>
												</check>
												<check if="{{@applicationStatus}} == 'Denied'">
													<p>Status: <span class="views text-danger">{{@applicationStatus}}</span></p>
												</check>
												<check if="{{@applicationStatus}} == 'Tenant Decline'">
													<p>Status: <span class="views text-danger">{{@applicationStatus}}</span></p>
													<p>You have declined the allocated Unit.</p>
												</check>
											</div>
										</div>
										<check if="{{@applicationStatus}} == 'Assigned Unit'">
											<div class="timeline-comment-box">
												<div class="row">
													<div class="pull-left">
														<form action="">
															<div class="input-group">
																<span class="input-group-btn p-l-10">
																	<a data-toggle="modal" onclick="updateUnitApplication('approve');" class="btn btn-success btn-block f-s-12 rounded-corner text-white" type="button">APPROVE UNIT</a>
																</span>
															</div>
														</form>
													</div>
													<div class="pull-right">
														<form action="">
															<div class="input-group">
																<span class="input-group-btn p-l-10">
																	<a data-toggle="modal" onclick="updateUnitApplication('decline');" class="btn btn-danger btn-block f-s-12 rounded-corner text-white pull" type="button">DECLINE UNIT</a>
																</span>
															</div>
														</form>
													</div>
												</div>
											</div>
										</check>
									</div>
									<!-- end timeline-body -->
								</li>
							</false>
						</check>

						<li>
							<!-- begin timeline-time -->
							<div class="timeline-time">
								<span class="date">Step</span>
								<span class="time">3</span>
							</div>
							<!-- end timeline-time -->
							<!-- begin timeline-icon -->
							<div class="timeline-icon">
								<a href="javascript:;">&nbsp;</a>
							</div>
							<!-- end timeline-icon -->
							<!-- begin timeline-body -->
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
									<span class="username"><a href="javascript:;">Credit Check Payment Verification</a> <small></small></span>
									<check if="{{@applicationFeeStatus}} == 'paid'">
										<span class="views text-success">Payment Confirmed</span>
									</check>
									<check if="{{@applicationFeeStatus}} == 'pending'">
										<span class="views text-warning">Payment In Review</span>
									</check>
									<check if="{{@applicationFeeStatus}} == 'unpaid'">
										<span class="views text-warning">Payment In Review</span>
									</check>
									<check if="{{@applicationFeeStatus}} == 'declined'">
										<span class="views text-danger">Payment Declined</span>
									</check>
								</div>
								<div class="timeline-content">
									<div class="widget-todolist widget-todolist-rounded">
										<check if="{{@applicationFeeStatus}} == 'paid'">
											<p>Credit Check Proof of Payment verification success</p>

												Status: <span class="views text-success">Paid</span>
										</check>
										<check if="{{@applicationFeeStatus}} == 'pending'">
										<p>Credit Check Proof of Payment verification pending</p>

											Status: <span class="views text-warning">Payment In Review</span>
										</check>
										<check if="{{@applicationFeeStatus}} == 'unpaid'">
										<p>Credit Check Proof of Payment verification pending</p>

											Status: <span class="views text-warning">Payment In Review</span>
										</check>
										<check if="{{@applicationFeeStatus}} == 'declined'">
											<p>Credit Check Proof of Payment verification declined</p>

											Status: <span class="views text-danger">Declined</span>
										</check>
									</div>
								</div>
							</div>
							<!-- end timeline-body -->
						</li>
						<li>
							<!-- begin timeline-time -->
							<div class="timeline-time">
								<span class="date">Step</span>
								<span class="time">2</span>
							</div>
							<!-- end timeline-time -->
							<!-- begin timeline-icon -->
							<div class="timeline-icon">
								<a href="javascript:;">&nbsp;</a>
							</div>
							<!-- end timeline-icon -->
							<!-- begin timeline-body -->
							<div class="timeline-body">
								<div class="timeline-header">
									<span class="userimage"><img src="../assets/img/user/user-1.jpg" alt=""></span>
									<span class="username"><a href="javascript:;">Document Verification</a> <small></small></span>
									<check if="{{@documentVerification}}==9">
										<true>
											<span class="views text-success">Verified</span>
										</true>
										<false>
											<span class="views text-warning">Under Review</span>
										</false>
									</check>
									
								</div>
								<div class="timeline-content">
									<div class="widget-todolist widget-todolist-rounded">
										<!-- begin widget-todolist-body -->
										<div class="widget-todolist-body">
											<!-- begin widget-todolist-item -->
											<div class="widget-todolist-item">
												<a href="/user/documents">
													<div class="widget-todolist-content">
														<h4 class="widget-todolist-desc">ID Document
															<i class="pull-right">
																<check if="{{@idDocVerified == 'y'}}">
																	<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_1" /> </true>
																	<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_1" /> </false>
																</check>
															</i>
														</h4>
													</div>
												</a>
											</div>

											<!-- end widget-todolist-item -->
											<div class="widget-todolist-item">
												<a href="/user/documents">
													<div class="widget-todolist-content">
														<h4 class="widget-todolist-title">Bank Statement
															<i class="pull-right">
																<check if="{{@bankStatementVerified == 'y'}}">
																	<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_2" /> </true>
																	<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_2" /> </false>
																</check>
															</i>
														</h4>
													</div>
												</a>
												<!-- <div class="widget-todolist-icon">
													<a href="#"><i class="fa fa-question-circle"></i></a>
												</div> -->
											</div>
											<!-- end widget-todolist-item -->
											<!-- end widget-todolist-item -->
											<div class="widget-todolist-item">
												<a href="/user/documents">
													<div class="widget-todolist-content">
														<h4 class="widget-todolist-title">Payslip
															<i class="pull-right">
																<check if="{{@payslipVerified == 'y'}}">
																	<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_3" /> </true>
																	<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_3" /> </false>
																</check>
															</i>
														</h4>
													</div>
												</a>
												<!-- <div class="widget-todolist-icon">
													<a href="#"><i class="fa fa-question-circle"></i></a>
												</div> -->
											</div>
											<!-- end widget-todolist-item -->
										</div>
										<!-- end widget-todolist-body -->
									</div>
								</div>
							</div>
							<!-- end timeline-body -->
						</li>
					</true>
				</check>
			</true>
		</check>
		<li>
			<!-- begin timeline-time -->
			<div class="timeline-time">
				<span class="date">Step</span>
				<span class="time">1</span>
			</div>
			<!-- end timeline-time -->
			<!-- begin timeline-icon -->
			<div class="timeline-icon">
				<a href="javascript:;">&nbsp;</a>
			</div>
			<!-- end timeline-icon -->
			<!-- begin timeline-body -->
			<div class="timeline-body">
				<div class="timeline-header">
					<span class="userimage"><img src="../assets/img/user/user-2.jpg" alt=""></span>
					<span class="username">Profile Submission</span>
					<span 
						data-step="5"
						data-intro="Your Profile progress will be tracked here. This shows how far along your profile is.<br><br><strong>For more details on the application navigate to the sidebar and click <i>View</i> under <i>Application</i>.</strong>"
						data-hint="Add Complex" data-hintPosition="top-middle" data-position="bottom-right-aligned"
						class="views">
					{{@profilePercentage}}% Completed</span>
				</div>
				<div class="timeline-content">
					<!-- begin widget-todolist -->
					<div data-step="3"
						data-intro="When your profile is complete the <i><strong>SUBMIT APPLICATION</strong></i> button will be enabled for use. <br><br><strong>All Data Requests should be ticked as Done!</strong>"
						data-hint="Complete My Profile" data-hintPosition="top-middle" data-position="bottom-right-aligned"
						class="widget-todolist widget-todolist-rounded">

						<!-- begin widget-todolist-header -->
						<div class="widget-todolist-header">
							<div class="widget-todolist-header-left">
								<h4 class="widget-todolist-header-title">Profile Checklist</h4>
							</div>
						</div>
						<!-- end widget-todolist-header -->

						<!-- begin widget-todolist-body -->
						<div class="widget-todolist-body">
							<!-- begin widget-todolist-item -->
							<div class="widget-todolist-item">
								
								<a href="/user/profile#profile-personal">
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Personal Information</h4>
										<p class="widget-todolist-desc">Name, Surname, ID No, Address, and DOB 
											<i class="pull-right">
												<check if="{{@personalInfo == 'completed'}}">
													<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_1" /> </true>
													<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_1" /> </false>
												</check>
											</i>
										</p>
									</div>
								</a>
							</div>

							<!-- end widget-todolist-item -->
							<div class="widget-todolist-item">
								
								<a href="/user/profile#profile-contact">
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Contact Information</h4>
										<p class="widget-todolist-desc">Email, Tel and Cell No
											<i class="pull-right">
												<check if="{{@contactInfo == 'completed'}}">
													<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_2" /> </true>
													<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_2" /> </false>
												</check>
											</i>
										</p>
									</div>
								</a>
							</div>
							<!-- end widget-todolist-item -->
							<div class="widget-todolist-item">
								
								<a href="/user/profile#profile-employer">
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Employment Information</h4>
										<p class="widget-todolist-desc">Occupation, Employer, Employer Contact No, Income and Expenses
											<i class="pull-right">
												<check if="{{@employerInfo == 'completed'}}">
													<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_3" /> </true>
													<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_3" /> </false>
												</check>
											</i>
										</p>
									</div>
								</a>
							</div>
							<!-- end widget-todolist-item -->
							<!-- start widget-todolist-item -->
							<div class="widget-todolist-item">
								
								<a href="/user/profile#profile-emergency">
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Emergency Contact Information</h4>
										<p class="widget-todolist-desc">Next of Kin, Next of Kin Contact No
											<i class="pull-right">
												<check if="{{@emergencyInfo == 'completed'}}">
													<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_4" /> </true>
													<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_4" /> </false>
												</check>
											</i>
										</p>
									</div>
								</a>
								<!-- <div class="widget-todolist-icon">
									<a href="#"><i class="fa fa-question-circle"></i></a>
								</div> -->
							</div>
							<!-- end widget-todolist-item -->
							<!-- start widget-todolist-item -->
							<div class="widget-todolist-item">
								
								<a href="/user/profile#profile-documents">
									<div class="widget-todolist-content">
										<h4 class="widget-todolist-title">Required Documents</h4>
										<p class="widget-todolist-desc">ID, Bank Statement, Payslip
											<i class="pull-right">
												<check if="{{@documentPerc == 20}}">
													<true> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled checked="checked" type="checkbox" id="widget_todolist_5" /> </true>
													<false> <input class="checkbox checkbox-css pt-0 p-l-15 bg-blue" disabled type="checkbox" id="widget_todolist_5" /> </false>
												</check>
											</i>
										</p>
									</div>
								</a>
								<!-- <div class="widget-todolist-icon">
									<a href="#"><i class="fa fa-question-circle"></i></a>
								</div> -->
							</div>
							<!-- end widget-todolist-item -->
						</div>
						<!-- end widget-todolist-body -->
					</div>
					<!-- end widget-todolist -->
				</div>
				
				<div class="timeline-comment-box">
					<div class="input">
						<form action="">
							<div class="input-group">
								<check if="{{@hasApplied != 'y'}} && {{@profilePercentage}} > 99 && {{@applicationFeeStatus}} != 'paid'">
									<true>
										<span class="input-group-btn p-l-10">
											<a 
												data-step="4"
												data-intro="When your profile is complete, You can start with an application submission. <br><strong>Click <i>SUBMIT APPLICATION</i> and begin the process <br>"
												data-hint="SUBMIT APPLICATION" data-hintPosition="top-middle" data-position="bottom-right-aligned"
												data-toggle="modal" onclick="submit_application()" class="btn btn-success f-s-12 rounded-corner" type="button">SUBMIT APPLICATION</a>
										</span>
									</true>
									<false>
										<check if="{{@hasApplied == 'y'}} && {{@profilePercentage}} > 99">
											<true>
												<span class="input-group-btn p-l-10">
													<a  data-step="2"
														data-intro="Let's Start and Complete your profile.<br><strong>Please Note: Your profile should be complete before you submit an application.</strong>.<br><br><strong>If your profile is  incomplete from the dashboard click <i>COMPLETE PROFILE</i> and you will be redirected to your profile to complete/update it.</strong><br>"
														data-hint="Complete My Profile" data-hintPosition="top-middle" data-position="bottom-right-aligned"
														href="/user/profile" class="btn btn-primary f-s-12 rounded-corner pull-right" type="button">UPDATE PROFILE</a>
												</span>
											</true>
											<false>
												<span class="input-group-btn p-l-10">
													<a  data-step="2"
														data-intro="Let's Start and Complete your profile.<br><strong>Please Note: Your profile should be complete before you submit an application.</strong>.<br><br><strong>If your profile is  incomplete from the dashboard click <i>COMPLETE PROFILE</i> and you will be redirected to your profile to complete/update it.</strong><br>"
														data-hint="Complete My Profile" data-hintPosition="top-middle" data-position="bottom-right-aligned"
														href="/user/profile" class="btn btn-primary f-s-12 rounded-corner pull-right" type="button">COMPLETE PROFILE</a>
												</span>
											</false>
										</check>
									</false>
								</check>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end timeline-body -->
		</li>

	</ul>
	<!-- end timeline -->
</div>
<!-- end #content -->

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog" style="max-width: 1024px;">
		<div class="modal-content">

			<div id="creating_form"></div>

			<form action="/dashboard/additional-info" method="POST" value="{{ @CSRF }}" class="form-horizontal" name="demo-form">
				<input type="hidden" name="formID" id="formID" value="">

				<div class="modal-header">
					<h4 class="modal-title" id="form_header"></h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div id="createFields"></div>		
				</div>

				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>

<script src="/static/assets/plugins/intro.js/minified/intro.min.js"></script>
<script type="text/javascript">
	// var tour = '{{@isNew}}';
	// if (sessionStorage.getItem('hasAlreadyStarted') == 1 && sessionStorage.getItem('tourDone') != 1 && tour!=1) {
	// 	introJs().setOption({ 'skipLabel': 'Skip', 'doneLabel': 'Done' }).start().onexit(function () {
	// 		sessionStorage.setItem('tourDone', 1);
	// 	});
	// 	introJs().setOption({ 'skipLabel': 'Skip', 'doneLabel': 'Done' }).start().oncomplete(function () {
	// 		sessionStorage.setItem('tourDone', 1);
	// 	});
	// }

	// if (sessionStorage.getItem('startTour') == 1) {
	// 	sessionStorage.setItem('startTour', 0);
	// 	introJs().start();
	// }
</script>

<script type="text/javascript">
	function build_submission_form(form_id, form_name) {
		document.getElementById('form_header').innerHTML = form_name+' Form';
		document.getElementById('createFields').innerHTML = '';
		document.getElementById('formID').value = form_id;

		//get form fields
		$.ajax({
          type: "POST",
          url: "/user/form/fields",
          data: 'form_id='+form_id,
          success: function(data){

	       	for (var i = JSON.parse(data).length - 1; i >= 0; i--) {

	       		if (JSON.parse(data)[i]['type'] == 'select') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><select class="form-control" id="field-'+JSON.parse(data)[i]['id']+'" name="field-'+JSON.parse(data)[i]['id']+'"><option selected value=""> Choose '+JSON.parse(data)[i]['title']+'</option></select></div>');
	       			var field_id = JSON.parse(data)[i]['id'];
	       			$.ajax({
	       				type: "POST",
	       				url: "/user/field/options",
	       				data: "field_id="+field_id,
	       				success: function(options){
	       					for (var x = JSON.parse(options).length - 1; x >= 0; x--) {
		       					var opt = document.createElement('option');
						        opt.value = JSON.parse(options)[x]['value'];
						        opt.innerHTML = JSON.parse(options)[x]['title'];
						        console.log(opt);
						        document.getElementById('field-'+field_id).appendChild(opt);
						    }
	       				}
	       			});
	       		} else if (JSON.parse(data)[i]['type'] == 'checkbox') {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><p><input type="'+JSON.parse(data)[i]['type']+'" required name="field-'+JSON.parse(data)[i]['id']+'" id="field-'+JSON.parse(data)[i]['id']+'"> '+JSON.parse(data)[i]['title']+'</p></div>');
	       		} else {
	       			document.getElementById('createFields').insertAdjacentHTML('beforeend', '<div class="form-group"><label>'+JSON.parse(data)[i]['title']+'</label><input type="'+JSON.parse(data)[i]['type']+'" name="field-'+JSON.parse(data)[i]['id']+'" class="form-control" placeholder="'+JSON.parse(data)[i]['title']+'" required=""></div>');
	       		} 

	       	}
	       	$('#modal-dialog').modal('show');
          	
          },
          error: function(error){
          	console.log(error);
          }
        });

		//create form
	}
</script>