<!--begin #content -->
<style type="text/css">
	/*body {
		background-image: url(/static/img/login-bg/login-bg-17.jpg);
	}*/
	.sw-main.sw-theme-default .sw-toolbar .sw-btn-group .btn {
		visibility: hidden;
	}
	.sw-main.sw-theme-default .sw-toolbar {
	    background: #f2f3f4;
	    padding: 0px;
	}
</style>
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">User</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Welcome</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<br clear="p-b-2">
	<h1 class="page-header mb-3"> </h1>
	<!-- end page-header -->

	<!-- begin wizard-form -->
	<!-- <form action="" method="POST" name="form-wizard" class="form-control-with-bg">
 -->		<!-- begin wizard -->
		<div id="wizard">
			<!-- begin wizard-step -->
			<ul style="height: 0px;">
				<li><a href="#profile-profile1"></a></li>
				<li><a href="#profile-personal1"></a></li>
				<li><a href="#profile-contact1"></li>
				<li><a href="#profile-employer1"></a></li>
				<li><a href="#profile-emergency1"></a></li>
				<li><a href="#profile-documents1"></a></li>
			</ul>
			<!-- end wizard-step -->
			<!-- begin wizard-content -->
			<div>
				<!-- begin step-1 -->
				<div id="profile-profile1">
					<!-- begin fieldset -->
					<fieldset id="profile-welcome">
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Welcome to Social Housing</legend>
								<p class="text-center">Find yourself the best affordable Apartments.
									<br>Complete your application, submit all the required documents & information. Wait for the status update to get your apartment!<br><br>Get Started!..
								</p>

								<p class="text-center p-t-10"><a onclick="next_step();" class="btn btn-success btn-block">SETUP PROFILE</a></p>
								<!-- end form-group -->
							</div>
							<!-- end col-8 -->
						</div>
						<!-- end row -->
					</fieldset>
					<!-- end fieldset -->
				</div>
				<!-- end step-1 -->
				<!-- begin step-2 -->
				<div id="profile-personal1">
					<form method="post" action="/user/onboarding#profile-contact" id="personalInfo" class="form-horizontal"
					name="demo-form">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Personal Information</legend>
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">First Name:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.firstName}}" type="text" id="firstName" name="firstName"
												placeholder="First Name" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Last Name:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.lastName}}" type="text" id="lastName" name="lastName"
												placeholder="Surname" class="form-control">
										</div>
									</div>
									<!-- end form-group -->


									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">ID No:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.idPassportNo}}" type="text" maxlength="13"
												onkeypress="return isNumberKey(event);" name="idPassportNo"
												id="idPassportNo" placeholder="ID No" class="form-control"
												onchange="validIDnum('idPassportNo', false)">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Date of Birth:<span
												class="text-danger">&nbsp;</span></label>
										<div class="col-lg-9 col-xl-6">
											<div class="row row-space-6">
												<input readonly value="{{@POST.dob}}" id="dob" name="dob" type="text"
													class="form-control disabled" id="datepicker-autoClose"
													placeholder="D.O.B">
											</div>
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Address</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.address}}" type="text" id="address" name="address"
												placeholder="Address " class="form-control m-b-10">
										</div>
									</div>
									<!-- end form-group -->

									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Marital Status:</label>
										<div class="col-lg-9 col-xl-6">

											<select required id="maritalStatus" name="maritalStatus" class="form-control" onchange="showSpouse()">
												<check if="{{@POST.maritalStatus}} == 'Single'">
													{{@Single = 'selected'}}
												</check>
												<check if="{{@POST.maritalStatus}} == 'Married'">
													{{@Married = 'selected'}}
												</check>
												<check if="{{@POST.maritalStatus}} == 'Widowed'">
													{{@Widowed = 'selected'}}
												</check>
												<check if="{{@POST.maritalStatus}} == 'Divorced'">
													{{@Divorced = 'selected'}}
												</check>
												<check if="{{@POST.maritalStatus}} == 'Separated'">
													{{@Separated = 'selected'}}
												</check>
												<option selected disabled value="">Select your marital status</option>
												<option {{@Single}} value="Single">Single</option>
												<option {{@Married}} value="Married">Married</option>
												<option {{@Widowed}} value="Widowed">Widowed</option>
												<option {{@Divorced}} value="Divorced">Divorced</option>
												<option {{@Separated}} value="Separated">Separated</option>
											</select>
										</div>
									</div>
									<!-- begin form-group -->
									<check if="{{@POST.spouseIdPassportNo}} != 0 && {{@POST.maritalStatus}} == 'Married'">
										<true>
											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse Full Name:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseFullName}}" type="text" name="spouseFullName"
														id="spouseFullName" placeholder="Full Name" class="form-control">
												</div>
											</div>

											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse ID No:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseIdPassportNo}}" type="text" maxlength="13"
														onkeypress="return isNumberKey(event);" name="spouseIdPassportNo"
														id="spouseIdPassportNo" placeholder="ID No" class="form-control"
														onchange="validIDnum('spouseIdPassportNo', false)">
												</div>
											</div>

											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse Email Address:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseEmail}}" type="text" name="spouseEmail"
														id="spouseEmail" placeholder="Email Address" class="form-control">
												</div>
											</div>
										</true>

										<false>
											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse Full Name:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseFullName}}" type="text" name="spouseFullName"
														id="spouseFullName" placeholder="Full Name" class="form-control">
												</div>
											</div>

											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse ID No:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseIdPassportNo}}" type="text" maxlength="13"
														onkeypress="return isNumberKey(event);" name="spouseIdPassportNo"
														id="spouseIdPassportNo" placeholder="ID No" class="form-control"
														onchange="validIDnum('spouseIdPassportNo', false)">
												</div>
											</div>

											<div class="spouse form-group row m-b-10" style="display:flex">
												<label class="col-lg-3 text-lg-right col-form-label">Spouse Email Address:</label>
												<div class="col-lg-9 col-xl-6">
													<input required value="{{@POST.spouseEmail}}" type="text" name="spouseEmail"
														id="spouseEmail" placeholder="Email Address" class="form-control">
												</div>
											</div>
										</false>
									</check>
									
									<!-- end form-group -->
									<hr>
									<p>Banking Details</p>
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Bank Name:</label>
										<div class="col-lg-9 col-xl-6">
											<select required id="bankName" name="bankName" class="form-control">
												<check if="{{@POST.bankName}} == 'ABSA'">
													{{@ABSA = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'First National Bank'">
													{{@fnb = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Nedbank'">
													{{@Nedbank = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Standard Bank'">
													{{@Standard = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Capitec Bank'">
													{{@Capitec = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'African Bank'">
													{{@African = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Investec Bank'">
													{{@Investec = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Sasfin Bank'">
													{{@Sasfin = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Discovery Bank'">
													{{@Discovery = 'selected'}}
												</check>
												<check if="{{@POST.bankName}} == 'Grindrod'">
													{{@Grindrod = 'selected'}}
												</check>
												<option {{@ABSA}} value="ABSA">ABSA</option>
												<option {{@fnb}} value="First National Bank">First National Bank</option>
												<option {{@Nedbank}} value="Nedbank">Nedbank</option>
												<option {{@Standard}} value="Standard Bank">Standard Bank</option>
												<option {{@Capitec}} value="Capitec Bank">Capitec Bank</option>
												<option {{@African}} value="African Bank">African Bank</option>
												<option {{@Investec}} value="Investec Bank">Investec Bank</option>
												<option {{@Sasfin}} value="Sasfin Bank">Sasfin Bank</option>
												<option {{@Discovery}} value="Discovery Bank">Discovery Bank</option>
												<option {{@Grindrod}} value="Grindrod">Grindrod</option>


											</select>
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Branch Code:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.branchCode}}" type="text" id="branchCode"
												name="branchCode" placeholder="Branch Code" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Account Number:</label>
										<div class="col-lg-9 col-xl-6">
											<input value="{{@POST.accountNumber}}" type="text" id="accountNumber"
											required name="accountNumber" placeholder="Account Number" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Account Type:</label>
										<div class="col-lg-9 col-xl-6">
											<select required id="accountType" name="accountType" class="form-control">
												<check if="{{@POST.accountType}} == 'CURRENTCHEQUEACCOUNT'">
													{{@cqAcc = 'selected'}}
												</check>
												<check if="{{@POST.accountType}} == 'SAVINGSACCOUNT'">
													{{@svAcc = 'selected'}}
												</check>
												<check if="{{@POST.accountType}} == 'TRANSMISSION'">
													{{@trAcc = 'selected'}}
												</check>
												<option {{@cqAcc}} value="CURRENTCHEQUEACCOUNT">Cheque/Current</option>
												<option {{@svAcc}} value="SAVINGSACCOUNT">Savings</option>
												<option {{@trAcc}} value="TRANSMISSION">Transmission</option>
											</select>
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-0">
										<div class="col-xl-12 col-md-3 col-sm-4">
											<button type="submit" type="button"
												class="btn btn-success pull-right">NEXT</button>
										</div>
									</div>
								</div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</form>
				</div>
				<!-- end step-2 -->
				<!-- begin step-3 -->
				<div id="profile-contact1">
					<form method="post" action="/user/onboarding#profile-employer" id="contactInfo" class="form-horizontal"
					name="demo-form">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Contact Information</legend>
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<!-- begin form-group -->
									<div id="credit-check-notification"></div>
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Email Address:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.email}}" type="email" name="email"
												placeholder="Email Address" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Phone No:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.phone}}" type="text" name="phone"
												placeholder="Phone No" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Alt Phone No:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.altPhone}}" type="text" name="altPhone"
												placeholder="Alt Phone No" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-0">
										<div class="col-xl-12 col-md-3 col-sm-4">
											<button type="submit" type="button"
												class="btn btn-success pull-right">NEXT</button>
										</div>
									</div>
								</div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</form>
				</div>
				<!-- end step-3 -->
				<!-- begin step-4 -->
				<div id="profile-employer1">
					<form method="post" action="/user/onboarding#profile-emergency" id="employmentInfo" class="form-horizontal"
					name="demo-form">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Employment Information</legend>
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Occupation:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.occupation}}" type="text" name="occupation"
												placeholder="Occupation" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Employer:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.employer}}" type="text" name="employer"
												placeholder="Employer" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Employer Contact
											Number:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.employerContact}}" type="text"
												name="employerContact" placeholder="Employer Contact" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Total Income:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.totalIncome}}" type="text" name="totalIncome"
												placeholder="Total Income" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Total Expenses:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.totalExpenses}}" type="text" name="totalExpenses"
												placeholder="Total Expenses" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-0">
										<div class="col-xl-12 col-md-3 col-sm-4">
											<button type="submit" type="button"
												class="btn btn-success pull-right">NEXT</button>
										</div>
									</div>
								</div>
								<!-- end col-8 -->
							</div>
							<!-- end row -->
						</fieldset>
						<!-- end fieldset -->
					</form>
				</div>
				<!-- end step-4 -->
				<!-- begin step-5 -->
				<div id="profile-emergency1">
					<form method="post" action="/user/onboarding#profile-documents" id="emergencyInfo" class="form-horizontal"
					name="demo-form">
						<!-- begin fieldset -->
						<fieldset>
							<!-- begin row -->
							<div class="row">
								<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Emergency Information</legend>
								<!-- begin col-8 -->
								<div class="col-xl-8 offset-xl-2">
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Next of Kin:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.nextOfKin}}" type="text" name="nextOfKin"
												placeholder="Next of Kin" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Next of Kin Contact:</label>
										<div class="col-lg-9 col-xl-6">
											<input required value="{{@POST.nextOfKinContact}}" type="tel"
												name="nextOfKinContact" placeholder="Next of Kin Contact"
												data-parsley-type="number" class="form-control">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-0">
										<div class="col-xl-12 col-md-3 col-sm-4">
											<button type="submit" type="button"
												class="btn btn-success pull-right">NEXT</button>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<!-- end step-5 -->
				<!-- begin step-5 -->
				<div id="profile-documents1">
					<!-- begin panel-body -->
					<div class="panel-body">
						<form class="form-horizontal" method="post" action="/user/onboarding" name="demo-form"
							enctype="multipart/form-data">
							<legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Supporting Documents</legend>
							<!-- begin form-group -->
							<div class="form-group row m-b-10">
								<label class="col-lg-3 text-lg-right col-form-label">Upload ID Document:</label>
								<div class="col-lg-9 col-xl-6">
									<div class="card-avatar">
										<a href="/{{@POST.idDocument}}">
										</a>
									</div>
									<input required type="file" name="idDocument" id="idDocument" class="form-control">
								</div>
							</div>
							<input type="hidden" name="userID" value="{{@SESSION.USER.id}}" />
							<!-- end form-group -->

							<!-- begin form-group -->
							<div class="form-group row m-b-10">
								<label class="col-lg-3 text-lg-right col-form-label">3-Months Bank Statement:</label>
								<div class="col-lg-9 col-xl-6">
									<div class="card-avatar">
										<a href="/{{@POST.bankStatement}}">
										</a>
									</div>
									<input required type="file" name="bankStatement" id="bankStatement"
										class="form-control">
								</div>
							</div>
							<!-- end form-group -->

							<!-- begin form-group -->
							<div class="form-group row m-b-10">
								<label class="col-lg-3 text-lg-right col-form-label">3-Month Salary Payslip:</label>
								<div class="col-lg-9 col-xl-6">
									<div class="card-avatar">
										<a href="/{{@POST.payslip}}">
										</a>
									</div>
									<input required type="file" name="payslip" id="payslip" class="form-control">
								</div>
							</div>
							<!-- end form-group -->

							<!-- end form-group -->
							<div class="form-group row m-b-0">
								<div class="col-xl-12 col-md-3 col-sm-4">
									<button type="submit" type="button"
												class="btn btn-success pull-right">SAVE</button>
									
								</div>
							</div>
						</form>
					</div>
					<!-- end panel-body -->
				</div>
			</div>
			<!-- end wizard-content -->
		</div>
		<!-- end wizard -->
	<!-- </form> -->
	<!-- end wizard-form -->
	
</div>
<!-- end #content -->

<script type="text/javascript">
	showSpouse();
	function showSpouse() {
		if($("#maritalStatus").val() == "Married"){
			$(".spouse").show();
			$("#spouseFullName").val('');
			$("#spouseIdPassportNo").val('');
			$("#spouseEmail").val('');
		}
		else{
			$(".spouse").hide();
			$("#spouseFullName").val('NULL');
			$('#spouseFullName').attr('required','');
			$("#spouseIdPassportNo").val(0);
			$('#spouseIdPassportNo').attr('required','');
			$("#spouseEmail").val('NULL');
			$('#spouseEmail').attr('required','');
		}
	}

	if (window.location.hash.substr(1)=='' || window.location.hash.substr(1) == 'profile-profile1') {}
	else if(window.location.hash.substr(1) != 'profile-profile1' && window.location.hash.substr(1) != ''){
		document.getElementById('profile-profile1').parentNode.removeChild(document.getElementById('profile-profile1'));	
	}

	function isNumberKey(evt) {
		var charCode = (evt.which) ? evt.which : evt.keyCode
		return !(charCode > 31 && (charCode < 48 || charCode > 57));
	}

	var type = window.location.hash.substr(1);
	if (type == "") type = "profile-profile1";
	$("#profile-profile1").removeClass("active");
	$(".nav-item").removeClass("active");
	$("#" + type).addClass("active");
	$("#" + type + "1").css({ display: 'block' });
</script>