<style type="text/css">
	.sw-theme-default .sw-toolbar-bottom {
		visibility: hidden;
	}
</style>
<!-- begin #content -->
<div id="content" class="content content-full-width">
	<!-- begin profile -->
	<div class="profile">
		<div class="profile-header">
			<!-- BEGIN profile-header-cover -->
			<div class="profile-header-cover"></div>
			<!-- END profile-header-cover -->
			<!-- BEGIN profile-header-content -->
			<div class="profile-header-content">
				<!-- BEGIN profile-header-info -->
				<div class="profile-header-info">
					<h4 class="mt-0 mb-1">{{@POST.firstName}} {{@POST.lastName}}</h4>
				</div>
				<!-- END profile-header-info -->
			</div>
			<!-- END profile-header-content -->
		</div>
	</div>
	<!-- begin wizard-form -->
	<div class="panel panel-inverse" data-sortable-id="ui-general-1">

		<div class="panel-heading ui-sortable-handle">
		<h4 class="panel-title">Alerts</h4>
		<div class="panel-heading-btn">
		<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
		<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
		</div>
		</div>
		
	

	<!-- <form class="form-control-with-bg"> -->
		
	<!-- begin wizard -->
	<div id="wizard">
		<!-- begin wizard-step -->
		<ul>

			<li id="profile-personal" class="nav-item">
				<a href="#profile-personal">
					<span class="number">1</span>
					<span class="info">
						Personal Info
						<check if="{{@personalPerc > 19}}">
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</span>
				</a>
			</li>

			<li id="profile-contact" class="nav-item">
				<a href="#profile-contact">
					<span class="number">2</span>
					<span class="info">
						Contact Info
						<check if="{{@contactPerc > 19}}">
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</span>
				</a>
			</li>
			<li id="profile-employer" class="nav-item">
				<a href="#profile-employer">
					<span class="number">3</span>
					<span class="info">
						Employment Info
						<check if="{{@employerPerc > 19}}">
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</span>
				</a>
			</li>
			<li id="profile-emergency" class="nav-item">
				<a href="#profile-emergency">
					<span class="number">4</span>
					<span class="info">
						Emergency Contact Info
						<check if="{{@emergencyPerc > 19}}">
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</span>
				</a>
			</li>
			<li id="profile-documents" class="nav-item">
				<a href="#profile-documents">
					<span class="number">5</span>
					<span class="info">
						Supporting Documents
						<check if="{{@documentPerc > 19}}">
							<true> <i class="fas fa-check-square text-primary"></i> </true>
							<false> <i class="fas fa-edit text-danger"></i> </false>
						</check>
					</span>
				</a>
			</li>
		</ul>
		<!-- end wizard-step -->
		<!-- begin wizard-content -->
		<div>
			<!-- begin step-1 -->
			<div id="profile-personal1" class="tab-pane step-content">
				<form method="post" action="/user/profile#profile-contact"   id="personalInfo" class="form-horizontal"
					name="demo-form">
					<!-- begin fieldset -->
					<fieldset>
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">First Name:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.firstName}}" type="text" id="firstName" name="firstName"
											placeholder="First Name" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Last Name:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.lastName}}" type="text" id="lastName" name="lastName"
											placeholder="Surname" class="form-control">
									</div>
								</div>
								<!-- end form-group -->


								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">ID No:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.idPassportNo}}" type="text" maxlength="13"
											onkeypress="return isNumberKey(event);" name="idPassportNo"
											id="idPassportNo" placeholder="ID No" class="form-control"
											onchange="validIDnum('idPassportNo', false)">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Date of Birth:<span
											class="text-danger">&nbsp;</span></label>
									<div class="col-lg-9 col-xl-6">
										<div class="row row-space-6">
											<input readonly value="{{@POST.dob}}" id="dob" name="dob" type="text"
												class="form-control disabled" id="datepicker-autoClose"
												placeholder="D.O.B">
										</div>
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Address</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.address}}" type="text" id="address" name="address"
											placeholder="Address " class="form-control m-b-10">
									</div>
								</div>
								<!-- end form-group -->

								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Marital Status:</label>
									<div class="col-lg-9 col-xl-6">

										<select required id="maritalStatus" name="maritalStatus" class="form-control" onchange="showSpouse()">
											<check if="{{@POST.maritalStatus}} == 'Single'">
												{{@Single = 'selected'}}
											</check>
											<check if="{{@POST.maritalStatus}} == 'Married'">
												{{@Married = 'selected'}}
											</check>
											<check if="{{@POST.maritalStatus}} == 'Widowed'">
												{{@Widowed = 'selected'}}
											</check>
											<check if="{{@POST.maritalStatus}} == 'Divorced'">
												{{@Divorced = 'selected'}}
											</check>
											<check if="{{@POST.maritalStatus}} == 'Separated'">
												{{@Separated = 'selected'}}
											</check>
											<option selected disabled value="">Select your marital status</option>
											<option {{@Single}} value="Single">Single</option>
											<option {{@Married}} value="Married">Married</option>
											<option {{@Widowed}} value="Widowed">Widowed</option>
											<option {{@Divorced}} value="Divorced">Divorced</option>
											<option {{@Separated}} value="Separated">Separated</option>
										</select>
									</div>
								</div>
								<!-- begin form-group -->
								<check if="{{@POST.spouseIdPassportNo}} != 0 && {{@POST.maritalStatus}} == 'Married'">
									<true>
										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse Full Name:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseFullName}}" type="text" name="spouseFullName"
													id="spouseFullName" placeholder="Full Name" class="form-control">
											</div>
										</div>

										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse ID No:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseIdPassportNo}}" type="text" maxlength="13"
													onkeypress="return isNumberKey(event);" name="spouseIdPassportNo"
													id="spouseIdPassportNo" placeholder="ID No" class="form-control"
													onchange="validIDnum('spouseIdPassportNo', false)">
											</div>
										</div>

										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse Email Address:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseEmail}}" type="text" name="spouseEmail"
													id="spouseEmail" placeholder="Email Address" class="form-control">
											</div>
										</div>
									</true>

									<false>
										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse Full Name:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseFullName}}" type="text" name="spouseFullName"
													id="spouseFullName" placeholder="Full Name" class="form-control">
											</div>
										</div>

										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse ID No:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseIdPassportNo}}" type="text" maxlength="13"
													onkeypress="return isNumberKey(event);" name="spouseIdPassportNo"
													id="spouseIdPassportNo" placeholder="ID No" class="form-control"
													onchange="validIDnum('spouseIdPassportNo', false)">
											</div>
										</div>

										<div class="spouse form-group row m-b-10" style="display:flex">
											<label class="col-lg-3 text-lg-right col-form-label">Spouse Email Address:</label>
											<div class="col-lg-9 col-xl-6">
												<input required value="{{@POST.spouseEmail}}" type="text" name="spouseEmail"
													id="spouseEmail" placeholder="Email Address" class="form-control">
											</div>
										</div>
									</false>
								</check>
								
								<!-- end form-group -->
								<hr>
								<p>Banking Details</p>
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Bank Name:</label>
									<div class="col-lg-9 col-xl-6">
										<select required id="bankName" name="bankName" class="form-control">
											<check if="{{@POST.bankName}} == 'ABSA'">
												{{@ABSA = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'First National Bank'">
												{{@fnb = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Nedbank'">
												{{@Nedbank = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Standard Bank'">
												{{@Standard = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Capitec Bank'">
												{{@Capitec = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'African Bank'">
												{{@African = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Investec Bank'">
												{{@Investec = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Sasfin Bank'">
												{{@Sasfin = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Discovery Bank'">
												{{@Discovery = 'selected'}}
											</check>
											<check if="{{@POST.bankName}} == 'Grindrod'">
												{{@Grindrod = 'selected'}}
											</check>
											<option {{@ABSA}} value="ABSA">ABSA</option>
											<option {{@fnb}} value="First National Bank">First National Bank</option>
											<option {{@Nedbank}} value="Nedbank">Nedbank</option>
											<option {{@Standard}} value="Standard Bank">Standard Bank</option>
											<option {{@Capitec}} value="Capitec Bank">Capitec Bank</option>
											<option {{@African}} value="African Bank">African Bank</option>
											<option {{@Investec}} value="Investec Bank">Investec Bank</option>
											<option {{@Sasfin}} value="Sasfin Bank">Sasfin Bank</option>
											<option {{@Discovery}} value="Discovery Bank">Discovery Bank</option>
											<option {{@Grindrod}} value="Grindrod">Grindrod</option>


										</select>
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Branch Code:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.branchCode}}" type="text" id="branchCode"
											name="branchCode" placeholder="Branch Code" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Account Number:</label>
									<div class="col-lg-9 col-xl-6">
										<input value="{{@POST.accountNumber}}" type="text" id="accountNumber"
										required name="accountNumber" placeholder="Account Number" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Account Type:</label>
									<div class="col-lg-9 col-xl-6">
										<select required id="accountType" name="accountType" class="form-control">
											<check if="{{@POST.accountType}} == 'CURRENTCHEQUEACCOUNT'">
												{{@cqAcc = 'selected'}}
											</check>
											<check if="{{@POST.accountType}} == 'SAVINGSACCOUNT'">
												{{@svAcc = 'selected'}}
											</check>
											<check if="{{@POST.accountType}} == 'TRANSMISSION'">
												{{@trAcc = 'selected'}}
											</check>
											<option {{@cqAcc}} value="CURRENTCHEQUEACCOUNT">Cheque/Current</option>
											<option {{@svAcc}} value="SAVINGSACCOUNT">Savings</option>
											<option {{@trAcc}} value="TRANSMISSION">Transmission</option>
										</select>
									</div>
								</div>
								<!-- end form-group -->
								<div class="form-group row m-b-0">
									<div class="pull-right col-xl-12 col-md-3 col-sm-4">
										<button type="submit" type="button"
											class="btn btn-success pull-right">NEXT</button>
									</div>
								</div>
							</div>
							<!-- end col-8 -->
						</div>
						<!-- end row -->
					</fieldset>
					<!-- end fieldset -->
				</form>
			</div>
			<!-- end step-1 -->
			<!-- begin step-2 -->
			<div id="profile-contact1" class="tab-pane step-content">
				<form method="post" action="/user/profile#profile-employer" id="contactInfo" class="form-horizontal"
					name="demo-form">
					<!-- begin fieldset -->
					<fieldset>
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Email Address:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.email}}" type="email" name="email"
											placeholder="Email Address" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Phone No:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.phone}}" type="text" name="phone"
											placeholder="Phone No" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Alt Phone No:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.altPhone}}" type="text" name="altPhone"
											placeholder="Alt Phone No" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<div class="form-group row m-b-0">
									<div class="col-xl-6 col-md-3 col-sm-4 col-form-label">
										<a onclick="prev('personal');" type="button"
											class="pull-left btn btn-warning">PREVS</a>

									</div>
									<div class="col-xl-6 col-md-3 col-sm-4">
										<button type="submit" type="button"
											class="btn btn-success pull-right">NEXT</button>
									</div>
								</div>
							</div>
							<!-- end col-8 -->
						</div>
						<!-- end row -->
					</fieldset>
					<!-- end fieldset -->
				</form>
			</div>
			<!-- end step-2 -->
			<!-- begin step-3 -->
			<div id="profile-employer1" class="tab-pane step-content">
				<form method="post" action="/user/profile#profile-emergency" id="employmentInfo" class="form-horizontal"
					name="demo-form">

					<!-- begin fieldset -->
					<fieldset>
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Occupation:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.occupation}}" type="text" name="occupation"
											placeholder="Occupation" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Employer:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.employer}}" type="text" name="employer"
											placeholder="Employer" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Employer Contact
										Number:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.employerContact}}" type="text"
											name="employerContact" placeholder="Employer Contact" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Total Income:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.totalIncome}}" type="text" name="totalIncome"
											placeholder="Total Income" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Total Expenses:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.totalExpenses}}" type="text" name="totalExpenses"
											placeholder="Total Expenses" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<div class="form-group row m-b-0">
									<div class="col-xl-6 col-md-3 col-sm-4 col-form-label">
										<a onclick="prev('contact');" type="button"
											class="pull-left btn btn-warning">PREVS</a>
									</div>
									<div class="col-xl-6 col-md-3 col-sm-4">
										<button type="submit" type="button"
											class="btn btn-success pull-right">NEXT</button>
									</div>
								</div>
							</div>
							<!-- end col-8 -->
						</div>
						<!-- end row -->
					</fieldset>
					<!-- end fieldset -->
				</form>
			</div>
			<!-- end step-3 -->
			<!-- begin step-4 -->
			<div id="profile-emergency1" class="tab-pane step-content">
				<form method="post" action="/user/profile#profile-documents" id="emergencyInfo" class="form-horizontal"
					name="demo-form">
					<!-- begin fieldset -->
					<fieldset>
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Next of Kin:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.nextOfKin}}" type="text" name="nextOfKin"
											placeholder="Next of Kin" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<!-- begin form-group -->
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Next of Kin Contact:</label>
									<div class="col-lg-9 col-xl-6">
										<input required value="{{@POST.nextOfKinContact}}" type="tel"
											name="nextOfKinContact" placeholder="Next of Kin Contact"
											data-parsley-type="number" class="form-control">
									</div>
								</div>
								<!-- end form-group -->
								<div class="form-group row m-b-0">
									<div class="col-xl-6 col-md-3 col-sm-4 col-form-label">
										<a onclick="prev('employer');" type="button"
											class="pull-left btn btn-warning">PREVS</a>
									</div>
									<div class="col-xl-6 col-md-3 col-sm-4">
										<button type="submit" type="button"
											class="btn btn-success pull-right">NEXT</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end step-4 -->
			<!-- begin step-5 -->
			<div id="profile-documents1" class="tab-pane step-content">
				<!-- begin panel-body -->
				<div class="panel-body">
					<div class="text-left">
						<!-- <p class="lead mb-4">Once your profile is 100% complete you will be able to submit an
							application. A R200.00 fee is applicable</p>
						<p>Only png, jpg, jpeg, pdf file formats can be uploaded</p> -->
						<!-- <p><strong>Payment Details:</strong></p>
							<p>
								<strong>Bank: </strong>ABSA<br>
								<strong>Account: </strong>Cheque Acc<br>
								<strong>Account Number: </strong>4020 9658 02<br>
								<strong>Branch: </strong>201905
							</p> -->
					</div>
					<form class="form-horizontal" method="post" action="/user/profile#profile-documents" name="demo-form"
						enctype="multipart/form-data">
						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">Upload ID Document:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.idDocument}}">
									</a>
								</div>
								<input required type="file" name="idDocument" id="idDocument" class="form-control">
							</div>
						</div>
						<input type="hidden" name="userID" value="{{@SESSION.USER.id}}" />
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">3-Months Bank Statement:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.bankStatement}}">
									</a>
								</div>
								<input required type="file" name="bankStatement" id="bankStatement"
									class="form-control">
							</div>
						</div>
						<!-- end form-group -->

						<!-- begin form-group -->
						<div class="form-group row m-b-10">
							<label class="col-lg-3 text-lg-right col-form-label">3-Month Salary Payslip:</label>
							<div class="col-lg-9 col-xl-6">
								<div class="card-avatar">
									<a href="/{{@POST.payslip}}">
									</a>
								</div>
								<input required type="file" name="payslip" id="payslip" class="form-control">
							</div>
						</div>
						<!-- end form-group -->

						<!-- end form-group -->
						<div class="form-group row m-b-0">
							<div class="col-xl-6 col-md-3 col-sm-4 col-form-label">
								<a onclick="prev('emergency');" type="button"
									class="pull-left btn btn-warning">PREVS</a>
							</div>
							<div class="col-xl-6 col-md-3 col-sm-4">
								<a style="margin-left:25%;" href="/user/dashboard" type="button" class="pull-right btn btn-success">GO TO
									DASHBOARD</a>
								<button type="submit" type="button"
											class="btn btn-success pull-right">SAVE</button>
								
							</div>
						</div>
					</form>
					
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end step-5 -->
		</div>
		<!-- end wizard-content -->
	</div>
	<!-- end wizard -->
	<div class="row">
		<div class="col-md-12">

		<div class="panel-body">
			<check if="{{@profilePercentage > 99}} && {{@hasApplied}} == 'n'">
				<div class="alert alert-success fade show m-b-0 text-center">
					<strong>Complete!</strong>
					<a href="/user/dashboard" class="alert-link"></a>
					<button onclick="submit_application()" class="btn btn-primary">PAY & SUBMIT APPLICATION
						NOW</button>
				</div>
			</check>
		</div>

	
	</div>
</div>
	<!-- </form> -->
	<!-- end wizard-form -->
</div>
<!-- end #content -->

<script>

	function next(form) {
		
		if (form == "contact" && $("#maritalStatus").val() == "Married") {
			var spouseIdPassportNo = $("#spouseIdPassportNo").val();
			if(spouseIdPassportNo.length != 13 || spouseIdPassportNo == $("#idPassportNo").val()){
				$("#spouseIdPassportNo").addClass("parsley-error")
				return false;
			}
			
		};
		location.href = "/user/profile#profile-" + form;
		location.reload();
	}

	function prev(form) {

		location.href = "/user/profile#profile-" + form;
		location.reload();
	}

	function showSpouse(){
		if($("#maritalStatus").val() == "Married"){
			$(".spouse").show();
			$("#spouseFullName").val('');
			$("#spouseIdPassportNo").val('');
			$("#spouseEmail").val('');
		}
		else{
			$(".spouse").hide();
			$("#spouseFullName").val('NULL');
			$('#spouseFullName').attr('required','');
			$("#spouseIdPassportNo").val(0);
			$('#spouseIdPassportNo').attr('required','');
			$("#spouseEmail").val('NULL');
			$('#spouseEmail').attr('required','');
		}
	}

	showSpouse();


	function isNumberKey(evt) {
		var charCode = (evt.which) ? evt.which : evt.keyCode
		return !(charCode > 31 && (charCode < 48 || charCode > 57));
	}

	var type = window.location.hash.substr(1);
	if (type == "") type = "profile-personal";
	$("#profile-personal").removeClass("active");
	$(".nav-item").removeClass("active");
	$("#" + type).addClass("active");
	$("#" + type + "1").css({ display: 'block' });


	// validate an SA ID number input


</script>