<script type="text/javascript">
	sessionStorage.setItem('is_new', '{{@isNew}}');
</script>

<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">Dashboard</h1>
	<!-- end page-header -->
	<!-- begin daterange-filter -->
	<div class="d-sm-flex align-items-center mb-3">
		<a href="#" class="btn btn-inverse mr-2 text-truncate" id="daterange-filter">
			<i class="fa fa-calendar fa-fw text-white-transparent-5 ml-n1"></i>
			<span>26 March 2020 - 2 April 2020</span>
			<b class="caret"></b>
		</a>
	</div>
	<!-- end daterange-filter -->
	<!--row kpis-->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>TOTAL APPLICATIONS</h4>
					<p>{{@totalApplications}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/applications">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-info">
				<div class="stats-icon"><i class="fa fa-link"></i></div>
				<div class="stats-info">
					<h4>PENDING APPLICATIONS</h4>
					<p>{{@pendingApplications}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/applications">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>APPROVED APPLICATIONS</h4>
					<p>{{@approvedApplications}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/applications">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock"></i></div>
				<div class="stats-info">
					<h4>DECLINED APPLICATIONS</h4>
					<p>{{@declinedApplications}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/applications">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!--end kpis-->
	<!--row kpis-->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>TOTAL UNITS</h4>
					<p>{{@totalUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/units">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-info">
				<div class="stats-icon"><i class="fa fa-link"></i></div>
				<div class="stats-info">
					<h4>OCCUPIED UNITS</h4>
					<p>{{@occupiedUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/units">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>AVAILABLE UNITS</h4>
					<p>{{@availableUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/units">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock"></i></div>
				<div class="stats-info">
					<h4>UNITS ONHOLD</h4>
					<p>{{@onholdUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="/admin/units">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!--end kpis-->

	<!-- begin row -->
	<!-- <div class="row">
		<div class="col-xl-6">
			<div class="card border-0 mb-3 overflow-hidden bg-dark text-white">
				<div class="card-body">
					<div class="row">
						<div class="col-xl-7 col-lg-8">
							<div class="mb-3 text-grey">
								<b>TOTAL INCOME</b>
								<span class="ml-2">
									<i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover"
										data-title="Total sales" data-placement="top"
										data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i>
								</span>
							</div>
							<div class="d-flex mb-1">
								<h2 class="mb-0">R<span data-animation="number" data-value="64559.25">0.00</span></h2>
								<div class="ml-auto mt-n1 mb-n1">
									<div id="total-sales-sparkline"></div>
								</div>
							</div>
							<div class="mb-3 text-grey">
								<i class="fa fa-caret-up"></i> <span data-animation="number"
									data-value="33.21">0.00</span>% compare to last week
							</div>
							<hr class="bg-white-transparent-2" />
							<div class="row text-truncate">
								<div class="col-6">
									<div class="f-s-12 text-grey">Total sales order</div>
									<div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="1568">0
									</div>
									<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
										<div class="progress-bar progress-bar-striped rounded-right bg-teal"
											data-animation="width" data-value="55%" style="width: 0%"></div>
									</div>
								</div>
								<div class="col-6">
									<div class="f-s-12 text-grey">Avg. sales per order</div>
									<div class="f-s-18 m-b-5 f-w-600 p-b-1">R<span data-animation="number"
											data-value="41.20">0.00</span></div>
									<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
										<div class="progress-bar progress-bar-striped rounded-right"
											data-animation="width" data-value="55%" style="width: 0%"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-4 align-items-center d-flex justify-content-center">
							<img src="/static/assets/img/svg/img-1.svg" height="150px" class="d-none d-lg-block" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="row">
				<div class="col-sm-12">
					<div class="card border-0 text-truncate mb-3 bg-dark text-white">
						<div class="card-body">
							<div class="mb-3 text-grey">
								<b class="mb-3">TENANT CONVERSION RATE</b>
								<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover"
										data-trigger="hover" data-title="Conversion Rate" data-placement="top"
										data-content="Percentage of sessions that resulted in orders from total number of sessions."
										data-original-title="" title=""></i></span>
							</div>
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0"><span data-animation="number" data-value="2.19">0.00</span>%
								</h2>
								<div class="ml-auto">
									<div id="conversion-rate-sparkline"></div>
								</div>
							</div>
							<div class="mb-4 text-grey">
								<i class="fa fa-caret-down"></i> <span data-animation="number"
									data-value="0.50">0.00</span>% compare to last week
							</div>
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-red f-s-8 mr-2"></i>
									Registrations
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span
											data-animation="number" data-value="262">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number"
											data-value="3.79">0.00</span>%</div>
								</div>
							</div>
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
									Applications
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span
											data-animation="number" data-value="11">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number"
											data-value="3.85">0.00</span>%</div>
								</div>
							</div>
							<div class="d-flex">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-lime f-s-8 mr-2"></i>
									Approved Applications
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span
											data-animation="number" data-value="57">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number"
											data-value="2.19">0.00</span>%</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end row -->
	
</div>
<!-- end #content -->