<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Trench</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Rent Trench
	</h1>
	<!-- end page-header -->

	<!-- begin page-header -->
	<h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Create Rent Trench</a>
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Rent Trench</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Min Income</th>
								<th class="text-nowrap">Max Income</th>
								<th class="text-nowrap">Avg Rent</th>
								<th class="text-nowrap">% of Income as Rent</th>
								<th class="text-nowrap"><a href="#">Action</a></th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td><a href="/admin/trench/update/{{@value.id}}">{{@value.title}}</a></td>
									<td>{{@value.minIncome}}</td>
									<td>{{@value.maxIncome}}</td>
									<td>{{@value.avgRent}}</td>
									<td>{{@value.incomePercentage}}</td>
									<td width="240">
										<a href="/admin/trench/delete/{{@value.id}}" class="btn btn-xs btn-danger pull-right">
											<i class="fa fa-trash"></i> Delete
										</a>
										<a href="/admin/trench/update/{{@value.id}}" class="btn btn-xs btn-primary">
											<i class="fa fa-edit"></i> Edit
										</a>

									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/admin/trench/create">
				<div class="modal-header">
					<h4 class="modal-title">Add Rent Trench</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<br>
								<div class="form-group">
									<label>Trench Name</label>
									<input type="text" value="" id="title" name="title" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Min Income</label>
									<input type="number" value="" id="minIncome" name="minIncome" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Max Income</label>
									<input type="number" value="" id="maxIncome" name="maxIncome" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Avg Rent</label>
									<input type="text" value="" id="avgRent" name="avgRent" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>% of Income as Rent</label>
									<input type="text" value="" id="incomePercentage" name="incomePercentage" class="form-control" required="">
								</div>
							</div>
							<div id="update"></div>
							
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	
</script>