<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Units</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Units
	</h1>
	<!-- end page-header -->
	<!--row kpis-->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-desktop"></i></div>
				<div class="stats-info">
					<h4>TOTAL UNITS</h4>
					<p>{{@totalUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-info">
				<div class="stats-icon"><i class="fa fa-link"></i></div>
				<div class="stats-info">
					<h4>OCCUPIED UNITS</h4>
					<p>{{@occupiedUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-orange">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>AVAILABLE UNITS</h4>
					<p>{{@availableUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-xl-3 col-md-6">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-clock"></i></div>
				<div class="stats-info">
					<h4>UNITS ONHOLD</h4>
					<p>{{@onholdUnits}}</p>
				</div>
				<div class="stats-link">
					<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!-- begin page-header -->
	<h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Create Unit</a>
		<a href="#modal-upload" class="btn btn-sm btn-success" data-toggle="modal">Upload From CSV</a>
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Housing Units</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Unit Name</th>
								<th class="text-nowrap">Complex</th>
								<th class="text-nowrap">Trench</th>
								<th class="text-nowrap">Description</th>
								<th class="text-nowrap">Size m<sup>2</sup></th>
								<th class="text-nowrap">Rent</th>
								<th class="text-nowrap">Deposit</th>
								<th class="text-nowrap">Occupied</th>
								<th class="text-nowrap"><a href="#">Action</a></th>
							</tr>
						</thead>
						<tbody>
							<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
								<tr class="odd gradeX">
									<td><a href="/admin/units/delete/{{@value.id}}">{{@value.unitName}}</a></td>
									<td>{{@value.complex}}</td>
									<td>{{@value.trench}}</td>
									<td>{{@value.description}}</td>
									<td>{{@value.size}}</td>
									<td>{{@value.rental}}</td>
									<td>{{@value.deposit}}</td>
									<td>{{@value.occupied}}</td>
									<td width="240">
										<a href="/admin/units/delete/{{@value.id}}"
											class="btn btn-xs btn-danger pull-right">
											<i class="fa fa-trash"></i> Delete
										</a>
										<a href="/admin/units/update/{{@value.id}}" class="btn btn-xs btn-primary">
											<i class="fa fa-edit"></i> Edit
										</a>

									</td>
								</tr>
							</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/admin/units/create">
				<div class="modal-header">
					<h4 class="modal-title">Add Unit</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Unit Name</label>
									<input type="text" name="unitName" class="form-control" placeholder="Unit Name"
										required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Unit Complex</label>
									<select class="form-control" name="complexID" required="">
										<option value=""> - select unit complexes</option>
										<repeat group="{{@complex}}" key="{{@key}}" value="{{@value}}">
											<option value="{{@value.id}}">{{@value.region}} {{@value.complexName}}</option>
										</repeat>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Size</label>
									<input type="number" name="size" class="form-control"
										placeholder="value in (square meters)" required="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Rent Trench</label>
									<select class="form-control" name="trenchID" required="">
										<option value=""> - select Rent Trench</option>
										<repeat group="{{@rentTrench}}" key="{{@key}}" value="{{@value}}">
											<option value="{{@value.id}}">{{@value.title}}</option>
										</repeat>
									</select>
								</div>
							
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Expected Rent (Monthly)</label>
									<input type="number" name="rental" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Unit Deposit</label>
									<input type="number" name="deposit" class="form-control" required="">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label for="description">Unit Description</label>
									<textarea class="form-control" name="description" rows="3" required=""></textarea>
								</div>
								<div class="form-group col-md-3 pull-right">
									<br>
									<input type="hidden" name="occupied" value="0">
								</div>
							</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>

<!-- #modal-csv -->
<div class="modal fade" id="modal-upload">
	<div class="modal-dialog" style="max-width: 1024px;">
		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Import from CSV</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<!-- begin panel -->
							<div class="panel panel-inverse">
								<!-- begin panel-heading -->
								<div class="panel-heading">
									<h4 class="panel-title">CSV File Upload</h4>
									<div class="panel-heading-btn">
										<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
											data-click="panel-expand"><i class="fa fa-expand"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
											data-click="panel-reload"><i class="fa fa-redo"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
											data-click="panel-collapse"><i class="fa fa-minus"></i></a>
										<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
											data-click="panel-remove"><i class="fa fa-times"></i></a>
									</div>
								</div>
								<!-- end panel-heading -->
								<!-- begin panel-body -->
								<div class="panel-body">
									<div class="note note-yellow m-b-15">
										<div class="note-icon f-s-20">
											<i class="fa fa-lightbulb fa-2x"></i>
										</div>
										<div class="note-content">
											<h4 class="m-t-5 m-b-5 p-b-2">Notes</h4>
											<ul class="m-b-5 p-l-25">
												<li>The maximum file size for uploads in this demo is <strong>5
														MB</strong> (default file size is unlimited).</li>
												<li>Only csv files are allowed </li>
											</ul>
										</div>
									</div>
									<div class="row fileupload-buttonbar">
										<div class="col-xl-7">
											<!-- <span class="btn btn-primary fileinput-button m-r-3">
												<i class="fa fa-fw fa-plus"></i>
												<span>Add files...</span>
												<input type="file" name="csvImport" >
											</span> -->
											<a href="/downloads/example.xlsx" class="btn btn-primary start m-r-3">
												<i class="fa fa-fw fa-download"></i>
												<span>Example CSV</span>
											</a>
												<!-- <button type="reset" class="btn btn-default cancel m-r-3">
												<i class="fa fa-fw fa-ban"></i>
												<span>Cancel upload</span>
											</button>
											<button type="button" class="btn btn-default delete m-r-3">
												<i class="fa fa-fw fa-trash"></i>
												<span>Delete</span>
											</button> -->
												<!-- The global file processing state -->
												<span class="fileupload-process"></span>
										</div>
										<!-- The global progress state -->
										<div class="col-xl-5 fileupload-progress fade d-none d-xl-block">
											<!-- The global progress bar -->
											<div class="progress progress-striped active m-b-0">
												<div class="progress-bar progress-bar-success" style="width:0%;"></div>
											</div>
											<!-- The extended global progress state -->
											<div class="progress-extended">&nbsp;</div>
										</div>
									</div>
								</div>
								
								<form class="form-horizontal" method="post" action="/admin/units/upload/csvFile"
									name="demo-form" enctype="multipart/form-data">
									<!-- begin form-group -->
									<div class="form-group row m-b-10">
										<label class="col-lg-3 text-lg-right col-form-label">Upload CSV:</label>
										<div class="col-lg-9 col-xl-6">
											<div class="card-avatar">
											</div>
											<input required type="file" name="csvFile" id="csvFile"
												class="form-control" onchange="validateFile()">
										</div>
									</div>
									<!-- end form-group -->
									<div class="form-group row m-b-0">
										<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
										<div class="col-md-8 col-sm-8">
											<button type="submit" class="btn btn-primary">UPDATE</button>
										</div>
									</div>
								</form>
								<!-- end panel-body -->
								<!-- begin table -->
								<!-- <div class="table-responsive">
									<table class="table table-striped table-condensed text-nowrap mb-0">
										<thead>
											<tr>
												<th width="10%">PREVIEW</th>
												<th>FILE INFO</th>
												<th>UPLOAD PROGRESS</th>
												<th width="1%"></th>
											</tr>
										</thead>
										<tbody class="files">
											<tr data-id="empty">
												<td colspan="4" class="text-center text-muted p-t-30 p-b-30">
													<div class="m-b-10"><i class="fa fa-file fa-3x"></i></div>
													<div>No file selected</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div> -->
								<!-- end table -->
							</div>
							<!-- end panel -->
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
				</div>

		</div>
	</div>
</div>

<script>
	function validateFile(){
		var el = document.getElementById("csvFile");
		var fileName = el.value;
		var allowed_extensions = "csv";
		var file_extension = fileName.split('.').pop(); 
		if(allowed_extensions == file_extension)
		{
			return true;
		}
		$("#csvFile").val("");
		//el.innerHTML="Invalid file";
		alert("Invalid File uploaded. Only CSV files should be uploaded.");
		return false;
	}
</script>