<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Complex</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Complex
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<form method="post" action="/admin/complex/update/{{@POST.id}}" name="demo-form" enctype="multipart/form-data">
				<div class="modal-header">
					<h4 class="modal-title">Update Complex</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group">
									<label>Region</label>
									<input type="text" value="{{@POST.region}}" name="region" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Name</label>
									<input type="text" value="{{@POST.complexName}}" name="complexName" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Address</label>
									<input type="text" value="{{@POST.address}}" name="address" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="description">Complex Description</label>
									<textarea class="form-control"  name="description" rows="3" required="">{{@POST.description}}</textarea>
								</div>
							</div>
							
								<div class="col-md-6">
								<div class="form-group">
									<label for="welcomeLetter">Welcome Letter</label>
									<input type="file"  name="welcomeLetter" class="form-control" >
								</div>
								<div class="form-group">
									<label for="keyslip">Key Slip </label>
									<input type="file" name="keyslip" class="form-control" >
								</div>
								<div class="form-group">
									<label for="approvalLetter">Approval Letter </label>
									<input type="file" name="approvalLetter" class="form-control" >
								</div>
								<div class="form-group">
									<label for="leaseAgreement">Lease Agreement </label>
									<input type="file" name="leaseAgreement" class="form-control" >
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<h2>Current Complex Documents</h2>
								</div>
								<table id="data-table-default" class="table table-striped table-bordered table-td-valign-middle">
									<thead>
										<tr>
											<th class="text-nowrap">Name</th>
											<th class="text-nowrap">Url</th>
										</tr>
									</thead>
									<tbody>
										<check if="{{count(@complexDocuments) > 0}}">
											<repeat group="{{@complexDocuments}}" key="{{@key}}" value="{{@value}}">
											<tr class="odd gradeX">
													<td>{{@value.dataLabel}}</a></td>
													<td width="240">
														<a target="_blank" href="http://{{@SESSION.SERVER}}/{{@value.data}}" class="btn btn-xs btn-primary">
															<i class="fa fa-eye"></i> View
														</a>
				
													</td>
												</tr>
											</repeat>
										</check>
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>
			
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
