<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Trench</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Rent Trench
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<form method="post" action="/admin/trench/update/{{@POST.id}}">
				<div class="modal-header">
					<h4 class="modal-title">Update Rent Trench</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<br>
								<div class="form-group">
									<label>Trench Name</label>
									<input type="text" value="{{@POST.title}}" id="title" name="title" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Min Income</label>
									<input type="number" value="{{@POST.minIncome}}" id="minIncome" name="minIncome" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Max Income</label>
									<input type="number" value="{{@POST.maxIncome}}" id="maxIncome" name="maxIncome" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Avg Rent</label>
									<input type="text" value="{{@POST.avgRent}}" id="avgRent" name="avgRent" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>% of Income as Rent</label>
									<input type="text" value="{{@POST.incomePercentage}}" id="incomePercentage" name="incomePercentage" class="form-control" required="">
								</div>
							</div>
							<div id="update"></div>
							
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
