<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Trench</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		Housing Rent Trench
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<form method="post" action="/admin/units/update/{{@POST.id}}">
				<div class="modal-header">
					<h4 class="modal-title">Add Unit</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Unit Name</label>
									<input type="text" value="{{@POST.unitName}}" name="unitName" class="form-control"
										placeholder="Unit Name" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Unit Complex</label>
									<select class="form-control" name="complexID" required="">
										<option value=""> - select unit comples</option>
										<repeat group="{{@complex}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.id}} == {{@POST.complexID}}">
												<option selected="selected" value="{{@value.id}}">{{@value.complexName}}</option>
											</check>
											<option value="{{@value.id}}">{{@value.complexName}}</option>
										</repeat>
									</select>
								</div>
								<div class="form-group">
									<label>Size</label>
									<input type="number" value="{{@POST.size}}" name="size" class="form-control"
										placeholder="value in (square meters)" required="">
								</div>
							</div>
							<div class="col-md-6">
								<br>
								<div class="form-group">
									<label>Rent Trench</label>
									<select class="form-control" name="trenchID" required="">
										<option value=""> - select Rent Trench</option>
										<repeat group="{{@rentTrench}}" key="{{@key}}" value="{{@value}}">
											<check if="{{@value.id}} == {{@POST.complexID}}">
												<option selected="selected" value="{{@value.id}}">{{@value.title}}</option>
											</check>
											<option value="{{@value.id}}">{{@value.title}}</option>
										</repeat>
									</select>
								</div>
								
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Expected Rent (Monthly)</label>
									<input type="text" value="{{@POST.rental}}" name="rental" class="form-control"
										required="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Unit Deposit</label>
									<input type="number" name="deposit" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="description">Unit Description</label>
									<textarea class="form-control" name="description" rows="3"
										required="">value="{{@POST.description}}"</textarea>
								</div>
								<div class="form-group col-md-3 pull-right">
									<br>
									<input type="hidden" name="occupied" value="0">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->