<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">User</a></li>
		<li class="breadcrumb-item active">Documents</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		My Documents
	</h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Documents</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Document Type</th>
								<th class="text-nowrap">Date Uploaded </th>
								<th class="text-nowrap">Action</th>
							</tr>
						</thead>
						<tbody>
							<check if="{{count(@documents) > 0}}">
								<repeat group="{{@documents}}" key="{{@key}}" value="{{@value}}">
									<check if="{{@value.dataLable != 'onlinePayment'}}">
									<tr class="odd gradeX">
										<td>{{strtoupper(@value.title)}}</td>
										<td>{{@value.dateUpdated}}</td>
										<td width="240">
											<a href="/{{@value.data}}" download class="btn btn-xs btn-success">
												<i class="fa fa-download"></i> Download Document
											</a>
										</td>
									</tr>
									</check>
								</repeat>
								<false>
									<tr>
										<td colspan="5">
											No Documents submitted. 
										</td>
									</tr>
								</false>
							</check>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->