<!-- begin #home -->
<div id="home" class="content has-bg home">
	<!-- begin content-bg -->
	<div class="content-bg" style="background-image: url(/static/img/landing/slide_2.jpg);" data-paroller="true" data-paroller-factor="0.5" data-paroller-factor-xs="0.25">
	</div>
	<!-- end content-bg -->
	<!-- begin container -->
	<div class="container home-content">
		<h1 style="color: #00acac">Welcome to Social Housing</h1>
		<h3 style="color: #00acac">Tenant Onboarding Solutions</h3>
		<p style="color: #fff;">
			Find yourself the best affordable Apartments.
			<br>
			Complete your application, submit all the required documents & information. Wait for the status update to get your apartment!
		</p>
		<a href="/register" class="btn btn-theme btn-primary">GET STARTED</a> <a href="/login" class="btn btn-theme btn-blue btn-outline-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGN IN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</div>
	<!-- end container -->
</div>
<!-- end #home -->

<!-- begin #about -->
<div id="about" class="content" data-scrollview="true">
	<!-- begin container -->
	<div class="container" data-animation="true" data-animation-type="fadeInDown">
		<h2 class="content-title">About Us</h2>
		<p class="content-desc">
			Social Housing is a subsidised rental property where a tenant qualifies for a certain unit associated with rental tranche based on their salary (higher salaries pay more rent).
		</p>
		<!-- begin row -->
		<div class="row">
			<!-- begin col-6 -->
			<div class="col-md-6 col-sm-12">
				<!-- begin about -->
				<div class="about">
					<h3 class="mb-3">Our Services and Values</h3>
					<p>
						Properties are developed in a way to accommodate for different income brackets and have limited supply for each tranche.
						
					</p>
					<p>
						Social Housing is high in demand due to the South African housing shortfall and the 
						opportunity for the tenant to pay salary-linked rent, that makes this an attractive and popular option. The average Social Housing tenant falls within LSM 3 – 7.
					</p>
				</div>
				<!-- end about -->
			</div>
			<!-- end col-6 -->
			<!-- begin col-6 -->
			<div class="col-md-6 col-sm-12">
				<h3 class="mb-3">Our Concept</h3>
				<!-- begin about -->
				<div class="about">
					<p>
						Due to salary-linked rent the applicants/tenants understate their income in order to pay less rent. This leads to a distorted property occupancy rate where high-end units are empty in contrast with the high demand and occupancy for lower-end units. Our mandate is to balance the tenant profiles across the units.</p>
					<p>
						Property management companies receive extremely high volumes of applications for Social Housing. The vast majority of property management companies still do manual screening, this is timeous, costly and subjective to human judgement and error.
					</p>
				</div>
				<!-- end about -->
			</div>
			<!-- end col-6 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>
<!-- end #about -->

<!-- beign #service -->
<div id="service" class="content" data-scrollview="true">
	<!-- begin container -->
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title">
					<h2>Social Housing</h2>
				</div>
				<p>Social Housing is subsidised rental property where a tenant qualifies for a certain 
					unit associated with rental tranche based on their salary 
					(higher salaries pay more rent). 
					Properties are developed in a way to accommodate for different income brackets and 
					have limited supply for each tranche.<br><br>
					
					Social Housing is high in demand due to the South African housing shortfall and the 
					opportunity for the tenant to pay salary linked rent, makes this an attractive and popular option. The average Social Housing tenant falls within LSM 3 – 7.</p>
			</div>
			<div class="col-lg-6">
				<p>Due to salary linked rent the applicants/tenants understate their income in order to pay less rent. This leads to a distorted property occupancy rate where high-end units are empty in contrast with the high demand and occupancy for lower-end units. Our mandate is to balance the tenant profiles across the units.<br><br>Property management companies receive extremely high volumes of applications for Social Housing. The vast majority of property management companies still do manual screening, this is timeous, costly and subjective to human judgement and error.<br><br>Social Housing is providing a solution  to digitalize the application process and verify income at a very early stage, as well as continuously monitoring the tenant’s profile to identify significant changes or risk indicators for non-payment.</p>
				<a href="/register" class="site-btn">Try it now</a>
			</div>
		</div>
	</div>
</section>
<!-- Intro section end -->

<!-- How section -->
<section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg">
	<div class="container text-white">
		<div class="section-title">
			<h2>How it works</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="how-item">
					<div class="hi-icon">
						<img src="/static/img/icons/brain.png" alt="">
					</div>
					<h4>Create an account</h4>
					<p>Register your platform user account to complete the application.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="how-item">
					<div class="hi-icon">
						<img src="/static/img/icons/pointer.png" alt="">
					</div>
					<h4>Complete the application</h4>
					<p>Submit the req/staticred onformation to be verified and checked to approve.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="how-item">
					<div class="hi-icon">
						<img src="/static/img/icons/smartphone.png" alt="">
					</div>
					<h4>Await Status Update</h4>
					<p>Wait for a response on the application submission to know where you stand.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- How section end -->