<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb float-xl-right">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">Documents</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header mb-3">
		 Complex Documents
	</h1>
	<!-- end page-header -->

	<!-- begin page-header -->
	<h1 class="page-header">
		<a href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Add Document</a>
	</h1>
	<!-- end page-header -->
	<!-- begin row -->
	<div class="row">
		<!-- begin col-12 -->
		<div class="col-xl-12">
			<!-- begin panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<h4 class="panel-title">Documents Uploaded</h4>
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
							data-click="panel-expand"><i class="fa fa-expand"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
							data-click="panel-reload"><i class="fa fa-redo"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
							data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<table id="data-table-buttons" class="table table-striped table-bordered table-td-valign-middle">
						<thead>
							<tr>
								<th class="text-nowrap">Name</th>
								<th class="text-nowrap">Title</th>
								<th class="text-nowrap"><a href="#">Action</a></th>
							</tr>
						</thead>
						<tbody>
								<repeat group="{{@data}}" key="{{@key}}" value="{{@value}}">
									<tr class="odd gradeX">
										<td><a href="http://{{@SESSION.SERVER}}/{{@value.documentData}}"></a>{{@value.title}}</a></td>
										<td width="240">
											<a href="/admin/document/delete/{{@value.id}}" class="btn btn-xs btn-danger pull-right">
												<i class="fa fa-trash"></i> Delete
											</a>
											<a href="http://{{@SESSION.SERVER}}/{{@value.documentData}}" class="btn btn-xs btn-primary">
												<i class="fa fa-eye"></i> View
											</a>
	
										</td>
									</tr>
								</repeat>
						</tbody>
					</table>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-10 -->
	</div>
	<!-- end row -->
</div>
<!-- end #content -->
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/admin/complex/create">
				<div class="modal-header">
					<h4 class="modal-title">Add Complex</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group">
									<label>Name</label>
									<input type="text" name="complexName" class="form-control" required="">
								</div>
								<div class="form-group">
									<label>Address</label>
									<input type="text" name="address" class="form-control" required="">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="description">Complex Description</label>
									<textarea class="form-control" name="description" rows="3" required=""></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-success" value="Save">
				</div>
			</form>

		</div>
	</div>
</div>